﻿
<div data-control-typ="T">
	<div>
		<div class="RelativeReset">
			<div>
				<div class="Content">

					<div>
						<a href="javascript:" data-binding="websiteLink">
							<div>						
								<img src="#" data-id="imgBuilding" data-control-type="Image" data-control-set="errorImageUrl:'resource/image/building.png'" />						
								<div class="AnchorLink">More Info</div>						
							</div>
						</a>
					</div>
					<div>
						<div data-id="divChartContainer"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="BuildingProfileFields">
		<div data-id="divExpander" data-control-type="Kiosk.Expander">
			<div class="Kiosk-Expander-ContentWrapper">
				<div class="Kiosk-Expander-Content" data-binding="kioskContent"></div>
			</div>
			<div class="Kiosk-Expander-Toggler arrows-down">
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="BuildingStatistics">
			<div>Building Statistics</div>
			<div>
				<div>
					<table>
						<colgroup>
							<col />
						</colgroup>
						<tr>
							<td>Building Name:</td>
							<td data-binding="name"></td>
						</tr>
						<tr>
							<td>Address:</td>
							<td data-binding="address"></td>
						</tr>
						<tr>
							<td>City:</td>
							<td data-binding="city"></td>
						</tr>
						<tr>
							<td>Country:</td>
							<td data-binding="country"></td>
						</tr>
						<tr>
							<td>Square Footage:</td>
							<td data-binding="squareFootage"></td>
						</tr>
						<tr>
							<td>Building Type:</td>
							<td data-binding="buildingType"></td>
						</tr>
						<tr>
							<td>Point Count:</td>
							<td data-binding="totalPoints"></td>
						</tr>
					</table>
				</div><div>
					<table>
						<colgroup>
							<col data-binding="func:'bindClass'" />
						</colgroup>
						<tr>
							<td>Equipment Count:</td>
							<td data-binding="field:'totalEquipment', defaultValue:0"></td>
						</tr>
						<tr>
							<td data-binding="ClassName_36"></td><!--Air Handlers:-->
							<td data-binding="field:'ClassID_36', defaultValue:0"></td>
						</tr>
						<tr>
							<td data-binding="ClassName_9"></td><!--Zone Equipment:-->
							<td data-binding="field:'ClassID_9', defaultValue:0"></td>
						</tr>
						<tr>
							<td data-binding="ClassName_5"></td><!--Fans:-->
							<td data-binding="field:'ClassID_5', defaultValue:0"></td>
						</tr>
						<tr>
							<td data-binding="ClassName_4"></td><!--Chillers:-->
							<td data-binding="field:'ClassID_4', defaultValue:0"></td>
						</tr>
						<tr>
							<td data-binding="ClassName_38"></td><!--Heat Rejection:-->
							<td data-binding="field:'ClassID_38', defaultValue:0"></td>
						</tr>
						<tr>
							<td data-binding="ClassName_6"></td><!--Boilers:-->
							<td data-binding="field:'ClassID_6', defaultValue:0"></td>
						</tr>
						<tr>
							<td data-binding="ClassName_3"></td><!--Pumps:-->
							<td data-binding="field:'ClassID_3', defaultValue:0"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
