﻿
<div>
	<div data-name="Info">
		<div data-name="Summary" class="InfoBox">
			<span>Daily Summary</span>
			<table data-id="tblSummary">
				<tr>
					<td>Current Use:&nbsp;</td>
					<td data-binding="field:'currentUse', func:'format'"></td>
				</tr>
				<tr>
					<td>Total Usage:&nbsp;</td>
					<td data-binding="field:'totalUsage', func:'format'"></td>
				</tr>
				<tr>
					<td>Peak Use:&nbsp;</td>
					<td data-binding="field:'peakUse', func:'format'"></td>
				</tr>
				<tr>
					<td>Peak Time:&nbsp;</td>
					<td data-binding="field:'peakTime', defaultValue:'NA'"></td>
				</tr>
			</table>
		</div>
		<div data-name="Comparison" class="InfoBox">
			<div data-name="LegendComparison">
				<span>o</span>
				<!--<a href="javascript:" data-id="lnkHideComparison" data-event-click="." > - Yesterday's Usage</a>-->
				<span> - Comparison Usage</span>
			</div>
			<div data-name="LegendToday">
				<span>&nbsp;&nbsp;&nbsp;</span>
				<span> - Today's Usage</span>
			</div>
		</div>
		<div data-name="PerformanceNow" class="InfoBox">
			<div>Recent Consumption</div>
			<div>
				<div>
					<img data-id="imgEarth" src="/_assets/images/earthicons/earth_grey.png" />
				</div>
				<div>
					<div data-id="divPercent"></div>
					<div>
						<img data-id="imgArrow" src="/_assets/images/arrowicons/neutral_grey.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-id="divChartArea">
		<div data-id="divChartContainer"></div>
		<div data-name="UtilityButtonBar" data-id="divButtonBarArea">
			<ul data-control-type="ButtonBar" data-control-set="onButtonClick:'_buttonBar_onButtonClick'" class="HELPP">
				<li data-control-set="type:'group', group:'utility', command:'Total'">
					<div>
						<img src="resource/image/utilityicons/total_icon.png" />
					</div>
					<div>Total</div>
				</li>
				<li data-control-set="type:'group', group:'utility', command:12">
					<div>
						<img src="resource/image/utilityicons/electric_icon.png" />
					</div>
					<div>Electric</div>
				</li>
				<li data-control-set="type:'group', group:'utility', command:51">
					<div>
						<img src="resource/image/utilityicons/steam_icon.png" />
					</div>
					<div>Steam</div>
				</li>
				<li data-control-set="type:'group', group:'utility', command:11">
					<div>
						<img src="resource/image/utilityicons/chilled_water_icon.png" />
					</div>
					<div>Chilled Water</div>
				</li>
				<li data-control-set="type:'group', group:'utility', command:10">
					<div>
						<img src="resource/image/utilityicons/hot_water_icon.png" />
					</div>
					<div>Hot Water</div>
				</li>
				<li data-control-set="type:'group', group:'utility', command:50">
					<div>
						<img src="resource/image/utilityicons/water_icon.png" />
					</div>
					<div>Water</div>
				</li>
				<li data-control-set="type:'group', group:'utility', command:49">
					<div>
						<img src="resource/image/utilityicons/gas_icon.png" />
					</div>
					<div>Gas</div>
				</li>
			</ul>
		</div>
	</div>
</div>
