﻿

<div class="SprawledTable">
	<div>
		<div class="SprawledTable">
			<div>
				<img src="#" data-binding="clientImgSrc" class="OriginalSize" />
			</div>
			<div data-binding="kioskContent"></div>
		</div>
	</div>
	<div>
		<img src="#" data-binding="headerImgSrc" class="OriginalSize" />
	</div>	
	<div>
		<div class="SprawledTable">
			<div>
                <div>
                    <div data-binding="kioskQRContent"></div>
                </div>
			</div>
			<div>
				<div data-binding="field:'kioskQRLink', func:'createQRCode', property:'style.backgroundImage'"></div>
			</div>
			<div>
				<div class="Divider"></div>
			</div>
			<div>
				<img src="resource/image/help.png" data-id="imgHelp" data-event-click="." class="OriginalSize" />
			</div>
		</div>
	</div>
</div>
