﻿
<div id="divMap"></div>
<img data-id="imgZoom" data-event-click="." src="resource/image/ZoomOut.png?v=1" />
<div data-id="divMapOverlay">
	<div data-id="divBuildingSelector" data-control-type="ListBox" data-control-set="visible:false,itemSelected:'.'"></div>
	<div role="button" data-id="divChooseBuilding" data-control-type="Button" data-control-set="click:'.'">Building List</div>
</div>
