﻿
<div data-id="divChartContainer"></div>
<div data-id="divBy">
	<ul data-id="ulBy" data-control-type="ButtonBar" data-control-set="onButtonClick:'.'">
		<li data-control-set="type:'group', group:'by'" class="ToggledOn">By Building</li>
		<li data-control-set="type:'group', group:'by'">By Utility</li>
		<li data-control-set="type:'group', group:'by'">By Building Type</li>
	</ul>
</div>
