﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FaultsSparkLine.ascx.cs" Inherits="CW.Website._controls.FaultsSparkLine" %>

<asp:Literal ID="litError" runat="server" />

<asp:Table ID="tblSparks" CssClass="tblSparks" runat="server">  
</asp:Table>

<asp:Literal ID="litChart" runat="server"></asp:Literal>
