﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="News.ascx.cs" Inherits="CW.Website._controls.News" %>

<div class="richText homeBottom"> 

  <div id="divNews" runat="server">
    <asp:Literal ID="litNewsBody" runat="server" />
  </div>

</div> 