﻿<%@ Page Language="C#" EnableViewState="true" AutoEventWireup="true" CodeBehind="BureauReportUrlProcessor.aspx.cs" Inherits="CW.Website.BureauReportUrlProcessor" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title id="title" runat="server"></title>   
    <style type="text/css">
	</style>
</head>
<body>
    <form class="" id="form1" runat="server">
    </form>
</body>
</html>