﻿<%@ Page Language="C#" MasterPageFile="~/_masters/Main.master" AutoEventWireup="true" CodeBehind="Confirmation.aspx.cs" Inherits="CW.Website.Confirmation" %>
<asp:Content ID="plcCopyContent" ContentPlaceHolderID="plcCopy" runat="server">
                  	                  	
    <h1>Confirmation</h1>                        
    <div class="richText">Some confirmation message</div>   
    <a class="lnkButton" href="Home.aspx">Back to Home</a>            

</asp:Content>                
