﻿<%@ Page Language="C#" EnableSessionState="True" MasterPageFile="~/_masters/Dashboard.master" AutoEventWireup="false" CodeBehind="Dashboard.aspx.cs" Inherits="CW.Website.Dashboard" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<asp:Content ID="plcCopyContent" ContentPlaceHolderID="plcCopy" runat="server">
             	                  	            	                	
	        <!--<h1>Dashboard</h1>                            
            <div class="richText">
                <asp:Literal ID="litDashboardBody" runat="server"></asp:Literal> 
            </div>--> 
            <div id="divSilverlight" class="divSilverlight">
                <script type="text/javascript" src="DashboardPreloader.js"></script> 
                <object width="960px" height="100%" type="application/x-silverlight-2" data="data:application/x-silverlight-2,">
                    <param name="splashScreenSource" value="DashboardPreloader.xaml" />
                    <param name="onSourceDownloadProgressChanged" value="onSourceDownloadProgressChanged" />
                    <param name="source" value="ClientBin/CW.Silverlight.xap" />
                    <param name="initParams" runat="server" id="initParams" />
                    <param name="onerror" value="onSilverlightError" />
                    <param name="background" value="white" />
                    <param name="minRuntimeVersion" value="4.0.50401.0" />
                    <param name="autoUpgrade" value="true" />
                    
                    <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50401.0" style="text-decoration: none;">
                        <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight"
                            style="border-style: none" />
                    </a>
                </object>
                <iframe id="_sl_historyFrame" style='visibility: hidden; height: 0px; width: 0px;
                    border: 0px'></iframe>
            </div>
            	                
</asp:Content>


              