﻿<%@ Page Language="C#" MasterPageFile="~/_masters/Diagnostics.master" EnableViewState="true" AutoEventWireup="true" CodeBehind="Notes.aspx.cs" Inherits="CW.Website.Notes" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>                
<asp:Content ID="plcCopyContent" ContentPlaceHolderID="plcCopy" runat="server">

     <div id="intro" class="pod">
    	<div class="top"> </div>
        <div id="middle" class="middle">                    	                  	
        	<h1>Notes</h1>                        
                <div class="richText">
                    The notes...
                </div>

       
        </div> 
    </div>                
</asp:Content>