﻿<%@ Page Language="C#" MasterPageFile="~/_masters/Help.master" EnableViewState="true" AutoEventWireup="false" CodeBehind="SystemInfo.aspx.cs" Inherits="CW.Website.SystemInfo" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<asp:Content ID="plcCopyContent" ContentPlaceHolderID="plcCopy" runat="server">
                  	                  	        	
        	<h1>System Info</h1>                        
                <div class="richText"></div>
                <!--<div class="divForm">
                     <label class="label">Mode:</label>                        
                     <asp:Label ID="lblMode" CssClass="labelContent" runat="server"></asp:Label>                                                    
                </div>-->
                <div class="divForm">
                     <label class="label">Version:</label>                        
                     <asp:Label ID="lblVersion" CssClass="labelContent" runat="server"></asp:Label>                                                    
                </div>
                <div class="divForm">
                     <label class="label">Build:</label>                        
                     <asp:Label ID="lblBuild" CssClass="labelContent" runat="server"></asp:Label>                                                    
                </div>     
                <div class="divForm">
                     <label class="label">Release Date:</label>                        
                     <asp:Label ID="lblReleaseDate" CssClass="labelContent" runat="server"></asp:Label>                                                    
                </div>
                         
    <!--<asp:Literal ID="litSpecs" runat="server"></asp:Literal>-->
</asp:Content>                