﻿
<ul id="ulMainMenuBar" data-control="$.ui.controls.MenuBar" class="MainMenuBar" style="display:none;">
	<li>
		<span data-icon="analysis"></span>
		<span>Analysis</span>
		<ul>
			<li>
				<span data-icon="new"></span>
				<span>New</span>
			</li>
			<li>
				<span data-icon="open"></span>
				<span>Open</span>
			</li>
			<li>
				<span data-icon=""></span>
				<span>Properties</span>
			</li>
			<li>
				<span data-icon=""></span>
				<span>Close</span>
			</li>
		</ul>
	</li>
	<li class="disabled">
		<span>View</span>
		<ul>
			<li>
				<span data-checked="true"></span>
				<span>Analysis Explorer</span>
			</li>
			<li>
				<span data-checked="true"></span>
				<span>Function Box</span>
			</li>
			<li>
				<span></span>
				<span>New Chart Display</span>
			</li>
		</ul>
	</li>
	<li>
		<span>Settings</span>
		<ul>
			<li>
				<span data-icon="new"></span>
				<span>Debugging</span>
			</li>
		</ul>
	</li>
</ul>
