﻿
<ul data-id="annotationMenu" data-name="AnnotationContextMenu" class="PopupMenu">
    <li data-mi-type="header">Annotation</li>
    <li data-mi-command="add">Add</li>
    <li data-mi-command="edit">Edit</li>
    <li data-mi-command="delete">Delete</li>
</ul>
