﻿   
    /*-----BUREAU REPORT COMMON-----*/
        
        /*For chrome to print all background colors.*/
        * {-webkit-print-color-adjust:exact;}

        /*main classes used for theming*/
        .bureauSE, .bureauKGS
        {
            padding: 8px 0 0 0;
            width: 812px;
            font-family: Arial;
            color: #111;
            font-size: 12px;
        }

        /*html tags*/
        hr
        {
            width: 100%;
			clear: both;
			border: none;
			min-height: 7px; /*required for ie*/		
        }
        h2
        {
            font-size: 24px;
            font-weight: bold;
            margin: 14px 0;
        }
        h3
        {
            font-size: 18px;
            font-weight: bold;
            margin: 2px 0;
        }
        sup
        {
            font-size: 12px;
        }

         /*rich text*/
        .richText ul
        {
            padding-left: 16px;  
            font-size: 14px;  
            margin: 2px 0;      
        }
        .richText li
        {
            list-style: disc;
            padding: 0 0 6px 6px;
        }

        /*container*/                
        .container
        {
            border: solid 5px #9FA0A4 !important;
            border-radius: 10px 10px 10px 10px;
            padding: 8px;
        }
        .containerWithHeader
        {
            border: solid 5px #9FA0A4 !important;
            border-radius: 10px 10px 10px 10px;
            padding: 8px;
            background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg.png) repeat-x top;
        }
        /*vertical aligned multi-lined header*/
        #containerHeaderOuter {height: 50px; overflow: hidden; position: relative; margin-top: -8px;}
        #containerHeaderOuter[id] {display: table; position: static;}
        #containerHeaderMiddle {position: absolute; top: 50%;} 
        #containerHeaderMiddle[id] {display: table-cell; vertical-align: middle; width: 100%; position: static;}
        #containerHeaderInner {position: relative; top: -50%; 
            color: white;
            font-size: 17px;
            font-weight: bold;       
        }
        /* optional: #containerHeaderInner[id] {position: static;} */

        .containerSingleLineHeader
        {
            height: 42px;
            line-height: 34px;
            color: white;
            font-size: 17px;
            font-weight: bold;  
            vertical-align: central;
        }
        .containerSpacerGray
        {
            width: 100%;
            background-color: #9FA0A4 !important;
            clear: both;
            min-height: 6px;
        }
        .containerSpacerColored
        {
            width: 100%;
            clear: both;
            color: white;
            font-size: 17px;
            font-weight: bold;   
            height: 34px;   
            padding: 8px; 
            line-height: 34px; 
            vertical-align: central;
        }

        /*combined sections*/
        .reportHeader > div, .section > div
        {
            float: left;
        }
       

        /*header*/
        .reportHeader
        {    
            width: 100%;      
            height: 118px;           
        }
        .headerLeft
        {
            padding-right: 16px;
            width: 134px;
        }
        .headerLeft img
        {
            height:104px;
        }
        .headerMiddle
        {
            width: 480px;
            padding-right:16px;  
        }
        .headerMiddle div
        {
            width: 100%;
        }
        .headerRight
        {
            width: 166px;         
        }
        .headerTitle
        {            
            font-size: 48px;
            color: #626469;
            margin-top: -8px;
            font-weight: bold;          
        }
        .headerSecondaryTitle
        {
            font-size: 28px;
            margin-top: -4px;
        }
        .headerBuilding
        {
            font-size: 16px;
            padding-top: 10px;
        }

        /*Page top and bottoms*/
        .newPage
        {
            padding-top: 8px;
            height: 82px;
            position: relative;
        }        
        .bottomPage
        {
            height: 58px;
            position: relative;
            padding-top: 1px;
        }
        .newPage h2, .bottomPage h2
        {
            width: 530px;
            float: left;
        }
        .newPage img, .bottomPage img
        {
            bottom: 0;
            /*float: right;*/
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;            
        }
        .newPage img
        {
            height: 80px;
        }
        .bottomPage img
        {
            height: 56px;
        }
        .newPageBuilding
        {
            font-size: 16px;
            clear:both;
            margin-top: -4px;
            float: left;
        }

        /*sections*/
        .section
        {
            clear:both;
            display: block;
        }


        /*section 1*/
        .section1
        {
            padding-top: 10px;
            max-height: 386px;
            min-height: 386px;
            overflow-y: hidden;
        }
        .section1Left
        {
            width: 148px;
        }
        .section1Right
        {
            padding-left: 12px;
            width: 652px;
        }


        /*section 2*/
        .section2
        {
            padding-top: 20px;
            height: 450px;
        }
        .section2Left
        {  
            width: 480px;
        }
        .section2Left .containerSpacerGray
        {
            width: 470px;
            margin-left: -8px;
        }
        .section2Right
        {
            padding-left: 16px;          
            width: 316px;
        }
        .section2Right .containerSpacerColored
        {
            width: 290px;
            margin-left: -8px;
        }


        /*section 3*/
        .section3
        {
            height: 762px;
            overflow-y: hidden;
        }

        /*section 4*/
        .section4
        {
            max-height: 212px;
            min-height: 212px;
            overflow-y: hidden;
            width: 100%;
        }
        .section4Full
        {
            width: inherit;
        }

        /*section 5,6,7*/
        .section5, .section6, .section7
        {
            height: 286px;
            overflow-y: hidden;
        }
        .section5Left, .section6Left, .section7Left
        {
            float: left;
            width: 470px;
        }
        .section5Right, .section6Right, .section7Right
        {
            float: right;
            width: 340px;
        }

        /*Form Elements*/
        .label
        {
        }
        .labelColored{}
        .labelBoldColored{
            font-weight: bold;
        }
        .labelMedium
        {
            font-size: 14px;

        }
        .labelMediumBold
        {
            font-size: 14px;
            font-weight: bold;
        }
        .labelMediumBoldGray
        {
            font-size: 14px;
            font-weight: bold;
            color: #626469;
        }
        .labelLarge
        {
            font-size: 20px;
        }
        .labelLargeBold
        {
            font-size: 20px;
            font-weight: bold;
        }
        .labelLargeBoldGray
        {
            font-size: 20px;
            font-weight: bold;
            color: #626469;
        }

        /*Values*/
        .valueLargeColored
        {
            font-size: 22px;
            font-weight: bold;
        }

        /*Building Info Format*/
        .buildingInfoFormat
        {
            width: 136px;
            float: left;
            display: block;
            padding: 0 4px 7px 4px;
            min-height: 30px;
        }

        /*Prepared By Format*/
        .preparedByFormat
        {
            padding: 0 0 7px 0;
        }

        /*Trend Summary and Priority Icons*/
        .priorityIcon
        {
            padding: 21px 14px 20px 6px;
        }
        .trendContent
        {
            padding: 10px 0;
            width: 324px;
            font-size: 14px;
            float: right;
        }
        .arrowIcon
        {
            padding: 2px;
            float: right;
            padding: 28px 20px 28px 12px;
        }

        /*Top issues*/
        #gridTbl
        {
            /*padding-top: 38px;*/
            width: 100%;
            float: none;
        }
        #gridTbl table
        {
            width: 100%;
            font-size: 11px; /*defined again for eo*/
        }
        #gridTbl tr.tblTitle
        {
            vertical-align: top;
            /*height: 38px;*/
        }
        #gridTbl tr.tblTitle th
	    {
		    padding: 2px 4px;
		    text-align: left;
            border: 1px solid white;
	    }	
        #gridTbl table tr td
	    {
		    vertical-align: middle;
		    padding: 1px !important;
            border: 1px solid white;
	    }
        #gridTbl tr.tblCol1{
	    }
        #gridTbl tr.tblCol2{
	    }
        #gridTbl .gridAlignCenter
	    {
		    text-align: center !important;
	    }

        .gridEnergy
        {
            background-color: #FF8F45;
        }
        .gridMaintenance
        {
            background-color: #555;
            margin-top: 8px;
        }
        .gridComfort
        {
            background-color: #5689CC;
            margin-top: 8px;
        }

        .gridEnergy .tblEmptyRow
        {
            background-color: #FFE6D1;
            font-size: 12px;
        }
        .gridMaintenance .tblEmptyRow
        {
            background-color: #EFEFEF;
            font-size: 12px;
        }
        .gridComfort .tblEmptyRow
        {
            background-color: #D1DCEB;
            font-size: 12px;
        }
        .gridEnergy tr.tblTitle th{
            background-color: #FFC89C;
	    }
        .gridMaintenance tr.tblTitle th{
            background-color: #DCDCDC;
	    }
        .gridComfort tr.tblTitle th{
            background-color: #AAC3E3;
	    }

        .gridEnergy tr.tblCol1{
            background-color: #FFE6D1;
	    }
        .gridEnergy tr.tblCol2{
            background-color: #FFC89C;
	    }
        .gridMaintenance tr.tblCol1{
            background-color: #EFEFEF;
	    }
        .gridMaintenance tr.tblCol2{
            background-color: #DCDCDC;
	    }
        .gridComfort tr.tblCol1{
            background-color: #D1DCEB;
	    }
        .gridComfort tr.tblCol2{
            background-color: #AAC3E3;
	    }

        .tblPreHeader
        {
            display: block;
            clear: right;
        }
        .tblPreHeader img
        {
            padding: 4px 10px 4px 4px;
            float: left;
        }
        .tblPreHeader span
        {            
            color: white;
            font-weight: bold;
            font-size: 13px;
            float: left;
            padding-top: 20px;
        }
        .editCircleWhite
        {
            float: right;
            padding: 4px;
            width: 6px;
        }
        .editCircleGrey
        {
            float: right;
            padding: 4px;
            width: 6px;
        }
        .editCircleGreyMarginTopSmall
        {
            margin-top: -12px;
        }
        .editCircleGreyMarginTopLarge
        {
            margin-top: -18px;
        }

        .buildingColumnWidth
        {
            width: 114px;
        }
        .equipmentColumnWidth
        {
            width: 126px;
        }
        .notesColumnWidth
        {
            width: 450px;
        }
        .numberColumnWidth
        {
            width: 50px;
        }
        
        /*Trend Charts*/
        .trendChart
        {
            margin: -2px 0 0 -18px;
        }

        /*Download*/
        .divDownload
        {
            padding: 40px 0;
            text-align: center;
        }


    /*-----SE THEME------*/

        /*SE Color List
            SpruceGreen = "#009530";
            LadyFernGreen = "#4FA600";
            SeedingGreen = "#37D300";
            DarkGray = "#626469";
            LightGray = "#9FA0A4";
            SunflowerYellow = "#FFD100";
            HoneysuckleOrange = "#E47F00";
            FuchsiaRed = "#B10043";
            SkyBlue = "#42B4E6";
        */

        /*html tags*/
        .bureauSE hr{background-color: #009530;}
        .bureauSE h2, .bureauSE h3{color: #009530;}       

        /*container*/                
        .bureauSE .containerWithHeader{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg-se.png) repeat-x top;}        
        .bureauSE .containerSpacerColored{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg-se.png) repeat-x top;}  
        
        /*header*/
        .bureauSE .headerSecondaryTitle{color: #009530;}
     
        /*Form Elements*/
        .bureauSE .labelColored, .bureauSE .labelBoldColored{color: #009530;}
        
        /*Values*/
        .bureauSE .valueLargeColored{color: #4FA600;}



    /*-----KGS THEME------*/
        
        /*KGS Colors
            DarkRed = darkred
            DarkOrange = #B06000
            Gray = #9FA0A4
            DarkGray = #626469
            */

        /*html tags*/
        .bureauKGS hr{background-color: #9FA0A4;}
        .bureauKGS h2, .bureauKGS h3{color: #626469;}       

        /*container*/                
        .bureauKGS .containerWithHeader{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg.png) repeat-x top;}        
        .bureauKGS .containerSpacerColored{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg.png) repeat-x top;}  
        
        /*header*/
        .bureauKGS .headerSecondaryTitle{color: darkred;}
     
        /*Form Elements*/
        .bureauKGS .labelColored, .bureauKGS .labelBoldColored{color: #B06000;}
        
        /*Values*/
        .bureauKGS .valueLargeColored{color: #B06000;}



    /*-----AFTER THEMES COMMON-----*/

        /*hr dotted override*/
        .hrDotted
        {
            background-color: white !important;
            border-bottom: 3px dotted black;
            height: 3px;
            padding-top: 4px;
        }