﻿   
    /*-----BUREAU REPORT COMMON-----*/
        
        /*For chrome to print all background colors.*/
        * {-webkit-print-color-adjust:exact;}

        /*main classes used for theming*/
        .bureauSE, .bureauKGS
        {
            width: 812px;
            font-family: Arial;
            color: #111;
            font-size: 12px;
        }

        /*html tags*/
        hr
        {
            width: 100%;
			clear: both;
			border: none;
			min-height: 7px; /*required for ie*/		
        }
        h2
        {
            font-size: 24px;
            font-weight: bold;
            margin: 14px 0;
        }
        h3
        {
            font-size: 18px;
            font-weight: bold;
            margin: 2px 0;
            clear: both;
        }
        sup
        {
            font-size: 12px;
        }

         /*rich text*/         
        .richText ul
        {
            padding-left: 16px;  
            font-size: 14px;  
            margin: 2px 0;      
        }
        .richText li
        {
            list-style: disc;
            padding: 0 0 6px 6px;
        }

        /*messages*/
        .errorMessage {
		    color:Red;
		    font-weight:bold;
	    }

        /*container*/                
        .container
        {
            border: solid 5px #9FA0A4 !important;
            border-radius: 10px 10px 10px 10px;
            padding: 8px;
        }
        .containerWithHeader
        {
            border: solid 5px #9FA0A4 !important;
            border-radius: 10px 10px 10px 10px;
            padding: 8px;
        }
        .containerWithLeftHeader
        {
            border: solid 5px #9FA0A4 !important;
            border-radius: 10px 10px 10px 10px;
            padding-left: 8px;
            max-height: 50px;
            min-height: 50px;
            width: 794px;
        }
        .containerInner
        {
            padding-top: 8px;
        }


        /*Container Table Layouts*/
        .tableContainerLayout
        {
            width: 100%;
        }
        .tableContainerLayout tr
        {            
            vertical-align: top;
        }
        .tableTwoColumn50Left
        {
            width: 50%;
            padding-right: 4px;       
        }
        .tableTwoColumn50Right
        {
            width: 50%;
            padding-left: 2px;
        }

        .tableThreeColumn40Left
        {
            width: 40%;
            padding-right: 2px;
        }
        .tableThreeColumn40Middle
        {
            width: 40%;
            padding-left: 2px;
        }
        .tableThreeColumn20Right
        {
            width: 20%;
            padding-left: 2px;
        }

        /*vertical aligned multi-lined header
        #containerHeaderOuter {height: 50px; overflow: hidden; position: relative; margin-top: -8px;}
        #containerHeaderOuter[id] {display: table; position: static;}
        #containerHeaderMiddle {position: absolute; top: 50%;} 
        #containerHeaderMiddle[id] {display: table-cell; vertical-align: middle; width: 100%; position: static;}
        #containerHeaderInner {position: relative; top: -50%; 
            color: white;
            font-size: 17px;
            font-weight: bold;       
        }*/
        /* optional: #containerHeaderInner[id] {position: static;} */


        .containerSingleLineHeader
        {
            height: 42px;
            line-height: 34px;
            color: white;
            font-size: 17px;
            font-weight: bold;  
            vertical-align: central;
        }
        .containerLeftHeader
        {
            height: 50px;
            line-height: 50px;
            color: white;
            font-size: 17px;
            font-weight: bold;  
            vertical-align: central;
            padding-right: 8px;
            float: left;
        }
        .containerSpacerGray
        {
            width: 100%;
            background-color: #9FA0A4 !important;
            clear: both;
            min-height: 5px;
        }
        .containerSpacerColored
        {
            width: 100%;
            clear: both;
            color: white;
            font-size: 17px;
            font-weight: bold;   
            height: 34px;   
            padding: 8px; 
            line-height: 34px; 
            vertical-align: central;
        }

        /*container table*/
        .containerTableFull
        {
            height: 50px;
            overflow: hidden;
        }
        .containerTable
        {         
            border-radius: 0 5px 5px 0;
            background-color: white;
            font-size: 12px;
            width: 100%;
            height: 50px;
        }
        .containerTable td
        {
            padding: 0px 4px;
            vertical-align: top;
        }

       
        /*header*/
        .reportHeader
        {    
            width: 100%;      
            height: 112px; 
            overflow: hidden;          
        }
        .reportHeader > div
        {
            float: left;
        }
        .headerLeft
        {
            padding-right: 10px;
            width: 134px;
        }
        .headerLeft img
        {
            height:104px;
        }
        .headerMiddle
        {
            width: 440px;
            padding-right:10px;  
        }
        .headerMiddle div
        {
            width: 100%;
        }
        .headerRight
        {
            width: 218px;         
        }
        .headerTitle
        {            
            font-size: 48px;
            color: #626469;
            margin-top: -8px;
            font-weight: bold;          
        }
        .headerSecondaryTitle
        {
            font-size: 28px;
            margin-top: -4px;
        }
        .headerClientAndUserTitle
        {
            font-size: 16px;
            padding-top: 10px;
            /*display: inline-block;*/
        }

        /*Page top and bottoms*/
        .newPage
        {
            padding-top: 8px;
            height: 76px;
            position: relative;
            clear: both;
            overflow: hidden;
        }        
        .bottomPage
        {
            height: 58px;
            position: relative;
            padding-top: 1px;
            padding-bottom: 2px;
            clear: both;
        }
        .newPage h2, .bottomPage h2
        {
            width: 600px;
            float: left;
        }
        .newPage img, .bottomPage img, .newPageRight
        {
            bottom: 0;
            /*float: right;*/
            margin: auto;
            position: absolute;
            right: 0;           
        }
        .newPage img
        {
            height: 80px;
        }
        .bottomPage img
        {
            height: 56px;
        }
        .newPageClientAndUserTitle
        {
            font-size: 16px;
            float: left;
            margin-top: -4px;
            clear:both;
        }


        /*Contents*/
        .contentsLabel
        {
            font-size: 14px;
            text-decoration: underline;
        }

        /*sections*/
        .section
        {
            clear:both;
            display: block;
        }

        /*section cover logos*/
        .sectionCoverLogos
        {
            padding-top: 90px;
            min-height: 798px;
            text-align: center;
        }
        .sectionCoverLogos img
        {
            max-height: 140px;
        }

        /*section 00*/
        .section00
        {
            padding-left: 22px;
            padding-top: 10px;
            min-height: 540px;
            font-weight: bold;
            color: #666;
        }

        /*section 0*/
        .section0
        {
            padding-top: 4px;
        }

        /*section 1*/
        .section1
        {
            min-height: 490px;
            padding-top: 10px;
        }
        .section1 > div
        {
            float: left;
        }
        .section1Left
        {                   
            width: 316px;
        }
        .section1Left .containerSpacerGray
        {
            width: 306px;
            margin-left: -8px;
        }

        .section1Right
        {  
            padding-left: 16px;   
            width: 480px;
        }
        .section1Right .containerSpacerGray
        {
            width: 470px;
            margin-left: -8px;
        }

        /*seciont 2*/
        .section2
        {
            max-height: 318px;
            min-height: 318px;
            overflow-y: hidden;
            width: inherit;
            padding-top: 8px;
            clear: both;
        }
        .section2Full
        {
            width: 100%;
        }

        /*section 3*/
        .section3
        {
            padding-top: 10px;         
            width: 100%;
        }


        /*section 4*/
        .section4
        {
            padding-top: 10px;
            min-height: 814px;
            width: 100%;
        }
        .section4Full
        {
            width: inherit;
        }
       
        /*section 5,6*/
        .section5, .section6
        {
            width: 100%;
            min-height: 800px;
        }
        .section5Pie, .section5Column, .section6Pie, .section6Column
        {
            height: 248px;
        }


        /*section 7,8,9*/
        .section7, .section8, .section9
        {
            height: 306px;
            overflow-y: hidden;
        }
        .section7Left, .section8Left, .section9Left
        {
            float: left;
            width: 482px;
        }
        .section7Right, .section8Right, .section9Right
        {
            float: right !important;
            width: 324px;
        }
        .section7Bottom, .section8Bottom, .section9Bottom
        {
            float: left;
            width: 100%;
            margin-top: -14px;
        }

        
        /*section 10*/
        .section10
        {
            min-height: 900px;
            /*overflow-y: hidden;*/
        }


        /*section equipment*/
        .sectionEquipmentPie
        {
            width: 100%;
        }
        .sectionEquipmentPieChart
        {
            float: left;
            /*height: 156px;*/
        }
        .sectionEquipmentChart
        {
            height: 262px;
            overflow-y: hidden;
        }
        .sectionEquipmentChartLeft
        {
            float: left;
            width: 482px;
        }
        .sectionEquipmentChartRight
        {
            float: right !important;
            width: 324px;
        }
       
        /*Section Alarms*/
        .sectionAlarms
        {
            min-height: 200px;
        }

        /*Section Projects*/
        .sectionProjects
        {
            min-height: 600px;
        }

        /*Section Tasks*/
        .sectionTasks
        {
            min-height: 600px;
        }


        /*Form Elements*/
        .label
        {
        }
        .labelColored{}
        .labelBoldColored{
            font-weight: bold;
        }
        .labelMedium
        {
            font-size: 14px;

        }
        .labelMediumBold
        {
            font-size: 14px;
            font-weight: bold;
        }
        .labelMediumBoldGray
        {
            font-size: 14px;
            font-weight: bold;
            color: #626469;
        }
        .labelLarge
        {
            font-size: 18px;
        }
        .labelLargeBold
        {
            font-size: 18px;
            font-weight: bold;
        }
        .labelLargeBoldGray
        {
            font-size: 18px;
            font-weight: bold;
            color: #626469;
        }

        /*Values*/
        .valueLargeColored
        {
            font-size: 20px;
            font-weight: bold;
        }

        /*Building Info Format*/
        .buildingInfoFormat
        {
            display: block;
            font-size: 11px;
        }

        /*Prepared By Format*/
        .preparedByFormatLeft
        {
            padding: 0 0 7px 0;
        }
        .preparedByFormatRight
        {
            padding: 0 0 7px 0;
        }

        /*Trend Summary and Priority Icons*/
        .priorityIcon
        {
            padding: 16px 14px 16px 6px;
        }
        .trendContent
        {
            padding: 8px 0;
            width: 324px;
            font-size: 14px;
            float: right;
        }
        .arrowIcon
        {
            padding: 2px;
            float: right;
            padding: 26px 20px 26px 12px;
        }


        /*List Views*/
        #lv
        {
            width: 100%;
            float: none;
        }
        #lv table
        {
            border-bottom: 1px solid black; 
            width: 100%;
            font-size: 12px; /*defined again for eo*/
        }
        #lv table tr td
	    {
            padding: 2px 6px;
            border-left: 1px solid white; 
            border-top: 1px solid white;
	    }
        #lv table tr td:first-child
	    {
            width: 106px;
            padding: 2px 6px;
            border-left: 0 !important;
	    }
        #lv table tr:first-child td:first-child
        {            
            border: 0 !important;
        }
        #lv table tr:first-child td
        {
            border-top: 0 !important;
        }

        /*Grid and List View pre headers*/
        .tblPreHeader
        {
            display: block;
            clear: right;
        }
        .lvPreHeader
        {
            border-bottom: 1px solid white; 
            float: left; 
            width: 100%; 
        }
        .tblPreHeader span, .lvPreHeader span
        {            
            color: white;
            font-weight: bold;
            font-size: 13px;
            float: left;
            padding: 20px 6px;
        }
        .tblPreHeader img, .lvPreHeader img
        {
            padding: 4px 4px 4px 4px;
            float: left;
        }

        /*Grids*/
        #gridTbl
        {
            /*padding-top: 38px;*/
            width: 100%;
            float: none;
        }
        #gridTbl table
        {
            width: 100%;
            font-size: 12px; /*defined again for eo*/
        }
        #gridTbl tr.tblTitle
        {
            vertical-align: top;
            /*height: 38px;*/
        }
        #gridTbl tr.tblTitle th
	    {
		    padding: 4px;
            border: 1px solid white;
	    }	
        #gridTbl table tr td
	    {
		    vertical-align: middle;
		    padding: 1px !important;
            border: 1px solid white;
	    }
        #gridTbl tr.tblCol1{
	    }
        #gridTbl tr.tblCol2{
	    }
        #gridTbl .gridAlignCenter
	    {
		    text-align: center !important;
	    }
        

        /*Grid footer*/
        .tblFooter span
        {
            color: white;
        }
           
        /*Grid Column Widths*/
        .buildingColumnWidth
        {
            width: 60px;
        }
        .equipmentClassColumnWidth
        {
            width: 60px;
        }       
        .equipmentColumnWidth
        {
            width: 60px;
        }
        .analysisColumnWidth
        {
            width: 60px;
        }
        .notesColumnWidth
        {
        }
        .numberColumnWidth
        {
            width: 20px;
        }
        .actionsColumnWidth
        {
        }

        /*Top issues grids*/
        .gridEnergy
        {
            background-color: #FF8F45;
        }
        .gridMaintenance
        {
            background-color: #555;
            margin-top: 8px;
        }
        .gridComfort
        {
            background-color: #5689CC;
            margin-top: 8px;
        }

        .gridEnergy .tblEmptyRow
        {
            background-color: #FFE6D1;
        }
        .gridMaintenance .tblEmptyRow
        {
            background-color: #EFEFEF;
        }
        .gridComfort .tblEmptyRow
        {
            background-color: #D1DCEB;
        }
        .gridEnergy tr.tblTitle th{
            background-color: #FFC89C;
	    }
        .gridMaintenance tr.tblTitle th{
            background-color: #DCDCDC;
	    }
        .gridComfort tr.tblTitle th{
            background-color: #AAC3E3;
	    }

        .gridEnergy tr.tblCol1{
            background-color: #FFE6D1;
	    }
        .gridEnergy tr.tblCol2{
            background-color: #FFC89C;
	    }
        .gridMaintenance tr.tblCol1{
            background-color: #EFEFEF;
	    }
        .gridMaintenance tr.tblCol2{
            background-color: #DCDCDC;
	    }
        .gridComfort tr.tblCol1{
            background-color: #D1DCEB;
	    }
        .gridComfort tr.tblCol2{
            background-color: #AAC3E3;
	    }



        /*Summary, Projects, Tasks, and Alarms Grids and ListViews*/
        .gridBuildingSummary, .gridEquipmentClassSummary, .gridEquipmentSummary, .gridProjects, .gridAlarms, .lvTasks
        {
            background-color: #999999;
            margin-top: 8px;
        }
        .gridBuildingSummary .tblEmptyRow, .gridEquipmentClassSummary .tblEmptyRow, .gridEquipmentSummary .tblEmptyRow, .gridProjects .tblEmptyRow, .gridAlarms .tblEmptyRow, .lvTasks .divEmptyTemplate
        {
            background-color: #EFEFEF;
        }
        .gridBuildingSummary tr.tblTitle th, .gridEquipmentClassSummary tr.tblTitle th, .gridEquipmentSummary tr.tblTitle th, .gridProjects tr.tblTitle th, .gridAlarms tr.tblTitle th
        {
            background-color: #DCDCDC;
	    }
        .gridBuildingSummary tr.tblCol1, .gridEquipmentClassSummary tr.tblCol1, .gridEquipmentSummary tr.tblCol1, .gridProjects tr.tblCol1, .gridAlarms tr.tblCol1, .lvTasks .tbl1
        {
            background-color: #EFEFEF;
	    }
        .gridBuildingSummary tr.tblCol2, .gridEquipmentClassSummary tr.tblCol2, .gridEquipmentSummary tr.tblCol2, .gridProjects tr.tblCol2, .gridAlarms tr.tblCol2, .lvTasks .tbl2
        {
            background-color: #DCDCDC;
	    }


        
        /*Edit Circles*/
        .editCircle
        {
            float: right;
            padding: 4px;
            width: 6px;
        }
        .editCircleGreyMarginTopSmall
        {
            margin-top: -12px;
        }
        .editCircleGreyMarginTopLarge
        {
            margin-top: -18px;
        }

        
        /*Trend Charts*/
        .trendChart
        {
            margin: -2px 0 0 -18px;
        }

        /*Download*/
        .divDownload
        {
            padding: 40px 0;
            text-align: center;
            clear: both;
        }

        /*Analysis Info Format*/
        .analysisInfoHeaderAndFooter
        {
            display: block;
            padding: 0 0 4px 0px;
            float: left;
            width: 100%;
        }
        .analysisInfoFormat
        {
            display: block;
            padding: 2px 0 2px 4px;
            float: left;
        }
        .analysisInfoFormat .labelBoldColored
        {
            width: 170px;
            float: left;
        }
        .analysisInfoFormat .labelContent
        {
            width:634px;
            float: left;
        }
        .imgFigure
        {
            page-break-before: always;

            /*needed for bureau scheduling without the handler*/
            max-width: 812px;
            height: auto !important;
        }


        /*ASCII Arrows*/
        .asciiArrow
        {
            margin-top: -2px;
            padding-left: 6px;
            position: absolute;
        }

    /*-----SE THEME------*/

        /*SE Color List
            SpruceGreen = "#009530";
            LadyFernGreen = "#4FA600";
            SeedingGreen = "#37D300";
            DarkGray = "#626469";
            LightGray = "#9FA0A4";
            SunflowerYellow = "#FFD100";
            HoneysuckleOrange = "#E47F00";
            FuchsiaRed = "#B10043";
            SkyBlue = "#42B4E6";
        */

        /*html tags*/
        .bureauSE hr{background-color: #009530;}
        .bureauSE h2, .bureauSE h3{color: #009530;}       

        /*container*/                
        .bureauSE .containerWithHeader{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg-se.png) repeat-x top;}        
        .bureauSE .containerSpacerColored{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg-se.png) repeat-x top;}  
        .bureauSE .containerWithLeftHeader{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg-se.png) repeat-x left 50%;}        

        /*header*/
        .bureauSE .headerSecondaryTitle{color: #009530;}        
             
        /*Form Elements*/
        .bureauSE .labelColored, .bureauSE .labelBoldColored{color: #009530;}
        
        /*Values*/
        .bureauSE .valueLargeColored{color: #4FA600;}



    /*-----KGS THEME------*/
        
        /*KGS Colors
            DarkRed = darkred
            DarkOrange = #B06000
            Gray = #9FA0A4
            DarkGray = #626469
            */

        /*html tags*/
        .bureauKGS hr{background-color: #9FA0A4;}
        .bureauKGS h2, .bureauKGS h3{color: #626469;}       

        /*container*/                
        .bureauKGS .containerWithHeader{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg.png) repeat-x top;}        
        .bureauKGS .containerSpacerColored{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg.png) repeat-x top;}  
        .bureauKGS .containerWithLeftHeader{background: #fff url(/_assets/styles/themes/customReportImages/container-header-bg.png) repeat-x left 50%;}        

        /*header*/
        .bureauKGS .headerSecondaryTitle{color: darkred;}
     
        /*Form Elements*/
        .bureauKGS .labelColored, .bureauKGS .labelBoldColored{color: #B06000;}
        
        /*Values*/
        .bureauKGS .valueLargeColored{color: #B06000;}



    /*-----AFTER THEMES COMMON-----*/

        /*hr dotted override*/
        .hrDotted
        {
            background-color: white !important;
            border-bottom: 3px dotted black;
            min-height: 4px !important;
            /*padding-top: 2px;*/
        }