﻿   
    /*-----CUSTOMER VALUE REPORT COMMON-----*/
        
        /*For chrome to print all background colors.*/
        * {-webkit-print-color-adjust:exact;}

        /*main classes used for theming*/
        .cvrSE, .cvrKGS
        {
            width: 812px;
            font-family: Arial;
            color: #111;
            font-size: 12px;
        }

        /*html tags*/
        hr
        {
            background-color: #9FA0A4;
            width: 100%;
			clear: both;
			border: none;
			min-height: 3px; /*required for ie*/		
        }
        h2
        {
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            padding: 2px 0;
            text-align: center;
        }
        h3
        {
            font-size: 16px;
            font-weight: bold;
            margin: 2px 0;
            text-align: center;
        }
        sup
        {
            font-size: 12px;
        }

        /* hrs*/
        .hrDotted
        {
            border-color: #9FA0A4;
            border-style: dotted none none;
            border-width: 2px medium medium;
            clear: both;
            min-height: 3px;
            width: 100%;
            background-color: white;
        }


         /*rich text*/         
        .richText ul
        {
            padding-left: 16px;  
            font-size: 14px;  
            margin: 2px 0;      
        }
        .richText li
        {
            list-style: disc;
            padding: 0 0 6px 6px;
        }

        /*messages*/
        .errorMessage {
		    color:Red;
		    font-weight:bold;
	    }

        /*container*/                
        .container
        {
            border: solid 2px #9FA0A4;
            border-radius: 12px;
            padding: 8px;
            margin: 18px 2px;
        }
        .containerInner
        {
            padding-top: 2px;
            overflow: hidden;
        }


        /*container table*/
        .tableContainer
        {
            width: 100%;
        }
        .tableContainer tr
        {            
            vertical-align: top;
        }
        .tableTwoColumn
        {
            width: 50%;    
            padding: 10px 20px;    
        }


        /*container chart*/
        .containerChart
        {
            border-radius: 12px;
            border: solid 2px #9FA0A4;
            margin: 10px 0 4px 0px;           
            padding: 4px;
        }
        .containerChartInner
        {
            overflow: hidden;
            height: 282px;
        }


        /*cover*/
        .coverTop
        {
            width: 100%;      
            height: 102px; 
            vertical-align: middle;
            margin-top: 52px;
            float: left;
        }
        .coverHeader
        {
            color: white;
            font-size: 40px;
            padding: 24px 0 0 56px;
            font-weight: bold;
            float: left;
        }
        .coverMiddle
        {
            padding-left: 46px;
            padding-bottom: 180px;
        }
        .coverPreparedFor
        {
            font-size: 18px;
            padding-bottom: 60px;            
        }
        .coverCustomerName
        {
            font-size: 32px;
            padding-bottom: 12px;   
            color: #626469; 
        }
        .coverDates
        {
            font-size: 28px;
            color: #626469;
        }
       

        /*Page top and bottoms*/
        .newPage
        {
            padding-top: 8px;
            margin-bottom: 10px;
            height: 48px;
            position: relative;
            clear: both;
            overflow: hidden;
        }        
        .bottomPage
        {
            height: 72px;
            position: relative;
            padding-top: 1px;
            padding-bottom: 2px;
            clear: both;
        }
        .newPage .newPageCustomerAndTitle, .newPage .newPageDates
        {
            width: 600px;
            float: left;            
        }
        .newPage img, .bottomPage img, .newPageRight
        {
            bottom: 0;
            /*float: right;*/
            margin: auto;
            position: absolute;
            right: 0;           
        }
        .newPage img
        {
            height: 46px;
        }
        .bottomPage img
        {
            height: 72px;            
        }
        .newPageCustomerAndTitle
        {
            font-size: 20px;
            float: left;
            clear:both;
            font-weight: bold;
        }
        .newPageDates
        {
            font-size: 18px;
            float: left;
            clear:both;
            padding-top: 2px;
            color: #626469;
        }

        /*Contents*/
        .contentsLabel
        {
            font-size: 14px;
            text-decoration: underline;
        }

        /*sections*/
        .section
        {
            clear:both;
            display: block;
        }

        /*section cover logos*/
        .sectionCoverLogos
        {
            padding-top: 30px;
            min-height: 478px;
            padding-left: 46px;
        }
        .sectionCoverLogos img
        {
            max-height: 140px;
        }


        /*section 1*/
        .section1
        {
            color: #666;
            font-weight: bold;
            min-height: 540px;
            padding-left: 22px;
            padding-top: 10px;
        }

        /*section 2*/
        .section2
        {
            min-height: 800px;
            padding-top: 6px;
        }

        .serviceContent
        {
            padding-top: 22px;
            font-size: 14px;
            width: 100%;
            text-align: center;
            color: #626469;
            font-weight: bold;
        }

        /*section 3*/
        .section3
        {
            padding-top: 6px;         
            width: 100%;
        }
        #lblRatingSystem
        {
            margin-left: 24px;
        }

        .coloredContainer
        {
            border-radius: 18px;
            padding: 12px;
            height: 70px;
            width: 150px;
            margin: 6px 4px;
            display: inline-block;
        }
        .coloredContainerWide
        {
            border-radius: 18px;
            padding: 12px;
            height: 70px;
            width: 344px;
            margin: 6px 4px;
            display: inline-block;
        }
        .yellowContainer
        {            
            border: solid 4px #FFD100;  
        }
        .redContainer
        {
            border: solid 4px #B10043;          
        }
        .greenContainer
        {
            border: solid 4px #009530;
            margin-left: 204px;
        }
        .blueContainer
        {
            border: solid 4px #42B4E6;
            margin-left: 204px;
        }
        .orangeContainer
        {
            border: solid 4px #B06000;
            margin-left: 204px;
        }

        .keyIndicatorLabel
        {
            font-size: 16px;
            float: left;
            padding-right: 28px;
            width: 100px;
        }
        .keyIndicatorsNote
        {
            font-size: 9px;
        }
        .costSummary
        {
            /*padding-left:12px;
            padding-top:8px;
            float: left;*/
            font-size: 14px;
            color: #626469;            
            display: inline-block;
            width: 214px;
        }

        /*section 4, 5,6,7,8*/
        .section4, .section5, .section6, .section7, .section8
        {
            padding-top: 6px;  
            width: 100%;
            min-height: 600px;
        }
       
        /*section 5*/
        .divEnergyWorkOrders, .divMaintenanceWorkOrders, .divComfortWorkOrders
        {
            padding: 2px;
            font-size: 14px;
        }
        .divEnergyWorkOrders label, divMaintenanceWorkOrders label, .divComfortWorkOrders label
        {
            display: block;
            float: left;
            text-align: right;
            width: 74px;
        }
        .divEnergyWorkOrders div .divMaintenanceWorkOrders div, .divComfortWorkOrders div
        {
            padding: 1px 0px;
        }

        /*section equipment*/
        .sectionEquipmentPie
        {
            width: 100%;
        }
        .sectionEquipmentPieChart
        {
            float: left;
        }

       
        /*Form Elements*/
        .divForm
        {    
            clear: both;
            display: inline-block;
            float: left;        
            /*position: relative;*/
        }
        .divForm > div, .divForm > label
        {            
		    line-height:20px; 
		    font-size:14px; 
            display: inline-block;
        }
        .divForm > label
        {
            float: left;
        }

        .labelBoldColored{          
            font-weight: bold;
            position:relative;
		    padding-right:6px;
		    left:0;
        }
        .contentBlack
        {
            font-weight: bold;
        }
        .contentGray
        {
            font-weight: bold;
            color: #626469;
        }
        .contentBlue
        {
            font-weight: bold;
            color: #42B4E6;
        }


        /*Lists*/
        .listItemBullet
        {
            font-size: 16px;
        }
        .listItemBullet > label
        {
            padding-left: 10px;
            padding-right: 6px;
        }     


        /*Vertical Text*/
        /*.verticalText {
	        transform: rotate(270deg);
	        transform-origin: left top 0;
            float: left;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: vertical-text;
        }*/



        /*Icons*/
        .arrowIcon
        {            
            float: left;         
            clear: left;
        }


        /*Grids*/
        #gridTbl
        {
            margin-top: 10px;
            width: 100%;
            float: none;
        }
        #gridTbl table
        {
            width: 100%;
            font-size: 12px; /*defined again for eo*/
        }
        #gridTbl tr.tblTitle
        {
            vertical-align: top;
            /*height: 38px;*/
        }
        #gridTbl tr.tblTitle th
	    {
            background-color: #DCDCDC;
		    padding: 4px;
            border: 3px solid #9fa0a4;
	    }	
        #gridTbl table tr td
	    {
		    vertical-align: middle;
		    padding: 1px !important;
            border: 3px solid #9fa0a4;
	    }
        #gridTbl tr.tblCol1{
            background-color: #EFEFEF;
	    }
        #gridTbl tr.tblCol2{
            background-color: #DCDCDC;
	    }
        #gridTbl .gridAlignCenter
	    {
		    text-align: center !important;
	    }      
        #gridTbl .tblEmptyRow
        {
            background-color: #EFEFEF;
        }


        /*Grid pre headers*/
        .tblPreHeader
        {
            display: block;
            clear: right;
            border-top: 3px solid #9fa0a4;
            border-left: 3px solid #9fa0a4;
            border-right: 3px solid #9fa0a4;
            text-align: center;
        }
        .tblPreHeader span
        {            
            font-weight: bold;
            font-size: 13px;
            padding: 20px 6px;
        }

          
        /*Grid Column Widths*/
        .textColumnWidth
        {
            width: 60px;
        }
        .contentColumnWidth
        {
        }
        .numberColumnWidth
        {
            width: 20px;
        }
        .actionsColumnWidth
        {
        }


        
        /*Edit Circles*/
        .editCircle
        {
            float: right;
            padding: 4px;
            width: 6px;
        }
        .editCircleGreyMarginTopSmall
        {
            margin-top: -12px;
        }
        .editCircleGreyMarginTopLarge
        {
            margin-top: -18px;
        }

        
        /*Charts*/
        .trendChart
        {
            margin: 0 0 0 -14px;
        }
        .pieChart
        {
            margin: -110px -12px -80px -12px;
        }

        /*Download*/
        .divDownload
        {
            padding: 40px 0;
            text-align: center;
            clear: both;
        }

    

    /*-----SE THEME------*/

        /*SE Color List
            SpruceGreen = "#009530";
            LadyFernGreen = "#4FA600";
            SeedingGreen = "#37D300";
            DarkGray = "#626469";
            LightGray = "#9FA0A4";
            SunflowerYellow = "#FFD100";
            HoneysuckleOrange = "#E47F00";
            FuchsiaRed = "#B10043";
            SkyBlue = "#42B4E6";
        */

        /*html tags*/
        .cvrSE h2{background-color: #009530;}    
        .cvrSE h3{color: #009530;}     

        /*cover*/
        .cvrSE .coverTop{background-color: #009530;}
        .cvrSE .newPageCustomerAndTitle{color: #009530;}

        /*container*/                 
        .cvrSE .containerWithHeader{background: #fff url(/_assets/styles/themes/cvrImages/container-header-bg-se.png) repeat-x top;}        
        .cvrSE .containerSpacerColored{background: #fff url(/_assets/styles/themes/cvrImages/container-header-bg-se.png) repeat-x top;}  
        .cvrSE .containerWithLeftHeader{background: #fff url(/_assets/styles/themes/cvrImages/container-header-bg-se.png) repeat-x left 50%;}        

        /*header*/
        .cvrSE .headerSecondaryTitle{color: #009530;}        
             
        /*Form Elements*/
        .cvrSE .labelBoldColored{color: #009530;}


    /*-----KGS THEME------*/
        
        /*KGS Colors
            DarkRed = darkred
            DarkOrange = #B06000
            Gray = #9FA0A4
            DarkGray = #626469
            */

        /*html tags*/        
        .cvrKGS h2{background-color: #626469;}
        .cvrKGS h3{color: darkred;}

        /*cover*/
        .cvrKGS .coverTop{background-color: #626469;}
        .cvrKGS .newPageCustomerAndTitle{color: darkred;}

        /*container*/        
        .cvrKGS .containerWithHeader{background: #fff url(/_assets/styles/themes/cvrImages/container-header-bg.png) repeat-x top;}        
        .cvrKGS .containerSpacerColored{background: #fff url(/_assets/styles/themes/cvrImages/container-header-bg.png) repeat-x top;}  
        .cvrKGS .containerWithLeftHeader{background: #fff url(/_assets/styles/themes/cvrImages/container-header-bg.png) repeat-x left 50%;}        

        /*header*/
        .cvrKGS .headerSecondaryTitle{color: darkred;}
     
        /*Form Elements*/
        .cvrKGS .labelBoldColored{color: #B06000;}
        