/*CW Theme*/

/*Container*/	
	.containerWrapper
	{
		/*1400 x 760*/
		background: url(images/buildings-bg.png) no-repeat 50% 0;	
		min-height: 760px;
	}
	
	.containerHome{
		/*margin: 0 auto;
		margin-top: 1em auto;
		padding-top: 1.5em;
		background: url(images/cw-header.png) no-repeat 50% 6px;*/
	}
	
	.containerHomeLoggedOut{
		margin-top: 1em auto;
		padding-bottom:20px;
		background: url(images/cw-header.png) no-repeat 50% 60px;		
	}
		

/*Header*/
	.header
	{
		font-size: 1.2em;
		height: 2.2em;
		padding-top: 1.2em;	
		/*background: #fff;*/
		/*background: #740404; /*logo color*/	    	   
		/*border-bottom: 1px solid #C0C0C0;    maybe*/
		background: url(images/header-bg.png) repeat-x 0 0;
	}

/*Secondary Logo*/
		.divSecondaryLogo{
			width:100%;
			margin: 0 auto;
			/*padding-left:3px;*/
			/*background-color: #740404;*/
			padding-bottom:1px;
			padding-top:3px;			
			/*background: url("images/cw-header-secondary.png") no-repeat scroll 50% 3px transparent;*/
			min-height: 10px;
		}

/*Left Nav*/
    .divLeftNav, .divLeftNav a
    {
        background-color: #444;
    }

/*Footer*/
        .divFooterLeft
        {
            background: url("images/cw-header-secondary.png") no-repeat scroll center top transparent;
        }
        .divFooterMultiLogoLeft
        {
            background: url("images/cw-header-secondary.png") no-repeat scroll right top transparent;           
        }