﻿
ul.MainMenuBar >li
{
	color:                              darkmagenta;
}
ul.MainMenuBar >li:hover
{
	background-color:                   darkmagenta;
	color:                              white;
}
	ul.MainMenuBar >li >span[data-icon="analysis"]
	{
		background-image:               url("@/resource/image/icons2.gif");
		background-position:            -153px -689px;
	}
	ul.MainMenuBar >li >ul
	{
		border-color:                   darkmagenta;
	}
		ul.MainMenuBar >li >ul >li
		{
			color:                      darkmagenta;
		}
		ul.MainMenuBar >li >ul >li:hover
		{
			background-color:           darkmagenta;
			color:                      white;
		}	
			ul.MainMenuBar >li >ul >li >span[data-icon="new"]
			{
				background-image:       url("@/resource/image/icons.gif");
				background-position:    -82px -455px;
			}

			ul.MainMenuBar >li >ul >li >span[data-icon="open"]
			{
				background-image:       url("@/resource/image/icons.gif");
				background-position:    -276px -133px;
			}
			
ul.MainMenuBar >li.disabled:hover
{
	background-color:                   white;
	color:                              darkmagenta;
}
