﻿
div[data-id="divBuildingSelectorDialogWindow"]
{
    @HMargin: 30%;
    @VMargin: 10%;

    left: @HMargin;
    top: @VMargin;
    right: @HMargin;
    bottom: @VMargin;
    border-radius: 20px;
    border: 2px solid gray;
    
    div[data-id="divOuterBody"]
    {
        height: 100%;
        box-sizing: border-box;
        padding: 10px;

        div[data-id="divBuildingSelector"][data-control-type$="ListBox"]
        {
            margin: 10px;

            >div
            {
                @ScrollerWidth: 50px;

                &[data-id="divBody"]
                {
                    right: (@ScrollerWidth + 5px);

                    >div[data-id="divItems"]
                    {
                        font-size: 1.8em;

                        >div >span:nth-child(2)
                        {
                            font-size: .6em;
                            padding-left: 10px;
                        }
                    }
                }

                &[data-id="divScroller"]
                {
                    @ButtonBorderRadius: 5px;

                    width: @ScrollerWidth;
                    border-radius: @ButtonBorderRadius;

                    >div
                    {
                        @ButtonHeight: @ScrollerWidth;
                        @ButtonBorderWidth: 1px;
                        @ArrowWidth: 18px;
                        @ArrowHeight: 14px;
                        @ArrowColor: #808080;

                        border-width: @ButtonBorderWidth;

                        &.ScrollButton
                        {
                            height: @ScrollerWidth;
                            border-radius: @ButtonBorderRadius;

                            &:before
                            {
                                top: ((@ButtonHeight - @ArrowHeight) / 2);
                                left: ((@ButtonHeight - @ArrowWidth) / 2);
                                border-left: (@ArrowWidth / 2) solid transparent;
                                border-right: (@ArrowWidth / 2) solid transparent;
                            }

                            &:active:before
                            {
                                @BorderColor: lightgray;

                                border-top-color: @BorderColor;
                                border-bottom-color: @BorderColor;
                            }
                        }

                        &.ScrollButtonLess:before
                        {
                            border-bottom-width: @ArrowHeight;
                            border-bottom-color: @ArrowColor;
                        }

                        &.ScrollButtonMore:before
                        {
                            border-top-width: @ArrowHeight;
                            border-top-color: @ArrowColor;
                        }

                        &[data-id="divSliderContainer"]
                        {
                            @SliderWidth: 12px;

                            top: (@ButtonHeight + (@ButtonBorderWidth * 2));
                            bottom: (@ButtonHeight + (@ButtonBorderWidth * 2));
                            left: ((@ButtonHeight / 2) - (@SliderWidth / 2));
                            width: @SliderWidth;

                            div[data-id="divIndicator"]
                            {
                                @HorizontalBorderWidth: 2px;
                                @IndicatorWidth: @SliderWidth;
                                @IndicatorHeight: (@IndicatorWidth * 3);

                                width: @IndicatorWidth;
                                height: @IndicatorHeight;
                                border-radius: (@IndicatorWidth / 2);
                            }
                        }
                    }
                }
            }
        }
    }
}