﻿

table.tableLayout1
{
    width: 100%;

    >tbody
    {
        >tr
        {
            >td
            {
                white-space: nowrap;

                &:nth-child(2)
                {
                    overflow: hidden;
                }
            }
        }
    }
}

div.TableDisplay
{
    display: table;

    >div
    {
        display: table-row;

        >div
        {
            display: table-cell;
        }
    }
}





.gg(@from:.1, @to:1)
{
    background:         -webkit-linear-gradient(    rgba(255, 255, 255, @from) 0%, rgba(255, 255, 255, @to) 100%); 
    background-image:   -moz-linear-gradient(       rgba(255, 255, 255, @from) 0%, rgba(255, 255, 255, @to) 100%);
    background-image:   -o-linear-gradient(         rgba(255, 255, 255, @from) 0%, rgba(255, 255, 255, @to) 100%);
    background-image:   linear-gradient(            rgba(255, 255, 255, @from) 0%, rgba(255, 255, 255, @to) 100%);
    background-image:   -ms-linear-gradient(        rgba(255, 255, 255, @from) 0%, rgba(255, 255, 255, @to) 100%);
}


