﻿
.EndToEnd
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.LeftToRight
{
    position: absolute;
    left: 0;
    right: 0;
}

.TopToBottom
{
    position: absolute;
    top: 0;
    bottom: 0;
}
