﻿
@import "Common.less";

div[data-control-type$="Kiosk.Expander"]
{
    &.Kiosk-Expander-NotOverflowed
    {
        div.Kiosk-Expander-Toggler
        {
            display: none;
        }
    }

    &.Kiosk-Expander-Collapsed
    {
        div.Kiosk-Expander-ContentWrapper
        {
            position: relative; //required for overlay? wtf?

            &:before
            {
                .gg;
                
                content: "  ";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 3em;
            }
        }
    }

    &.Kiosk-Expander-Expanded
    {
        height: auto !important; //revise?
        
        +div
        {
            display: none;
        }
        
        div.Kiosk-Expander-ContentWrapper
        {
            max-height: none;
            min-height: none; //?
        }
    }

    div.Kiosk-Expander-ContentWrapper
    {
        //height: 100%;
        overflow: hidden;

        max-height: 5em;
        min-height: 2em;
    }

    div.Kiosk-Expander-Toggler
    {
        cursor: pointer;
    }
}
