﻿
div[data-id="divHelpDialogWindow"]
{
    @HMargin: 20%;
    @VMargin: 10%;

    left: @HMargin;
    top: @VMargin;
    right: @HMargin;
    bottom: @VMargin;
    border-radius: 20px;
    border: 2px solid gray;

    >div
    {
        &[data-id="divHead"]
        {
            border-bottom: 1px solid black;

            >div
            {
                float: right;
                margin-right: 3px;
                cursor: pointer;

                &:before
                {
                    font-size: 2em;
                    content: "\2716";
                }
            }
        }
    }
}
