﻿
@import "CommonMixin.less";
@import "LandingShared.less";


.HelpWidget-BuildingUtilityPerformance
{
}

.ODIV
{
    .EndToEnd;

    border: 1px solid purple;
    border-radius: 8px;
    box-sizing: border-box;

    >img
    {
        right: 20px;
        top: -20px;
        position: absolute;
        z-index: 1;
    }

    >.IDIV
    {
        height: 100%;
        background-color: blue;
        opacity: .08;
    }
}


body div[id="divKiosk"]
{
    font-size: 12pt;
    position: absolute;
    height: 100%;
    width: 100%;

    background-image:url('../image/bg_graph.png');

    div.Loading:before
    {
        content: url("/_assets/images/IndicatorBig616161.gif");
        position: absolute;
        left: 50%;
        top: 50%;
        vertical-align: middle;
    }

    div.SelectBuildingOverlay
    {
        background-color: black;
        opacity: 0.5;
    }
    
    div[data-id="divKioskArea"]
    {
        .EndToEnd;
        
        @AreaBorder: 25px;
        
        margin: 10px;

        >div
        {
            @headHeight: 42px;
            
            position: absolute;
            width: 100%;

            &[data-id="divHeader"]
            {
                height: @headHeight;
            }

            &[data-id="divBody"]
            {
                top: (@headHeight + 10px); //revise
                bottom: 0;

                >div
                {
                    .EndToEnd;

                    @TopPanePercentHeight: 50%;                    
                    @VerticalMargin: 10px;                 
                    
                    &[data-id="divTPane"]
                    {
                        bottom: @TopPanePercentHeight;

                        >div
                        {
                            &[data-id="divLSection"]
                            {
                                left:0;
                                right: @LPaneWidth;
                            }

                            &[data-id="divRSection"]
                            {
                                left: @RPaneWidth;
                                right: 0;
                            }
                        }
                    }

                    &[data-id="divBPane"]
                    {
                        top: calc(100% - @TopPanePercentHeight);

                        >div
                        {
                            &[data-id="divLSection"]
                            {
                                left: 0;
                                right: @LPaneWidth;    
                            }

                            &[data-id="divRSection"]
                            {
                                left: @RPaneWidth;
                                right: 0;
                            }
                        }
                    }

                    >div
                    {
                        position: absolute;
                        height: 100%;
                            
                        >div.Portlet
                        {
                            position: absolute;
                            top: 5px;
                            bottom: 5px;
                            right: 5px;
                            left: 5px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}





div.Portlet
{
    border: 2px solid #666;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    height: 100%;
    background-color:white;
    box-sizing:border-box;

    >div
    {
        &.PortletHeader
        {
            background-image: linear-gradient(top, rgb(240,240,240) 50%, rgb(173,173,173) 100%);
            background-image: -o-linear-gradient(top, rgb(240,240,240) 50%, rgb(173,173,173) 100%);
            background-image: -moz-linear-gradient(top, rgb(240,240,240) 50%, rgb(173,173,173) 100%);
            background-image: -webkit-linear-gradient(top, rgb(240,240,240) 50%, rgb(173,173,173) 100%);
            background-image: -ms-linear-gradient(top, rgb(240,240,240) 50%, rgb(173,173,173) 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgb(240,240,240)), color-stop(1, rgb(173,173,173)));

            padding: 2px 2px 2px 6px;
            border-bottom: 2px solid #666;
            font-size: 1.1em;
            text-shadow: 0px 1px 1px #fff;
        }

        &.PortletBodyArea
        {
            height: 100%;
            position: relative;

            >div.PortletBody
            {
                .EndToEnd;

                font-size: 1em;
                margin: 3px;
                overflow: hidden;
            }
        }
    }
}





.ajaxLoad-Pik500078
{
    background-image:   url("../image/Pik500078.gif");
    background-repeat:  no-repeat;
    height:             15px;
    width:              15px;
}

