
/*Profile Blocks*/	
	.block
	{
		margin-top: 6px;
		padding-bottom: 4px;
		display: block;
	}
	
	.block .blockHeader
	{
		background-color: #F0F0F0;
		border-bottom: medium none;
		border-top: 1px solid #E0E0E0;
		padding: 4px 5px;
		min-height:16px;
	}
	 .block .blockHeader .blockTitle
	 {
		color: #454545;
		font-size: .98em;
		font-weight: bold; 
	 }
	 .block .blockHeader a
	 {
	    float: right; 
		font-size: 11px;		
		color: blue;
		text-decoration:none;
		cursor: pointer;
	}
    
	 .block .blockHeader a:hover
	 {
		text-decoration: underline;
	 }
	 
	.block .blockHeader a.toggle
	{
	}

	.block .blockHeader a.toggle:hover
	{
	}
	
	.block .blockHeader .blockEdit
    {
        margin-left: 4px;
        padding-left: 4px;
        border-left: 1px solid #333;
    }	
	
	.blockBody .blockCollapsiblePanel
	{
	    padding-top: 6px;
	}
	
	.block .blockBody        
	{
		padding-left: 8px;
		overflow: hidden;
	}
	
	.block .blockBody span        
	{
		color: #888;
		font-size: 11px;
		font-weight: bold;    
		padding: 6px 0 2px 0; 
		display: block;
	}
	.block .blockBody ul        
	{
	}
	.block .blockBody label
	{
		color: #888;
		font-size: 11px;
		font-weight: bold;    
		margin-left: -4px;
	}

    .block .blockBody .labelCustom
	{
		color: #353535;
		font-size: 13px;
        font-weight: normal;
        margin-left: 0px;
	}
	
	
	.block .blockBody .blockLink
	{
		padding-left: 6px;
		font-size: 11px;
		color: #333;
	}
	
	.block .blockBody .spanCentered   
	{ 
		text-align: center;
	}
 


 
    
 /*Dashboard Blocks*/ 
    .divBodyBlock
	{
	}
	.divBodyBlockHeader
	{
		background-color: #9c9c9c;
		font-size: 11px;
        padding: 2px 4px;
	}
	.divBodyBlockHeader span
	{ 
		/*vertical-align: middle;*/
		color: white;
        font-weight: bold;
	}
		
	.divBodyBlockBody
	{
		padding: 1px;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		background-color: #ececec;	    
        clear: both;
	}
	.divBodyBlockBody span
	{
		font-size: 10px;
	}
	.blockValueGreen
	{
		/*ForestGreen*/
		color: #228B22;
	}
    .blockValueBlue
	{
		/*DarkBlue*/
		color: #00008B;
	}