﻿ /*Connect Page */
    
    /*Small*/
    .connect-container-small
    {
        border: 4px solid #999;
        padding: 14px 25px;  
        width: 210px;   
        text-align:center;
        margin-bottom: 2px;
        font: .825em Arial, Helvetica, sans-serif;
		color: #353535;
		font-weight: bold;
    }
    .connect-container-small label
    {
        display: block;     
    }
    .connect-logo-small
    {
        margin-top: -16px;
    }
    .connect-code-small
    {
        /*margin-top: -20px;
        margin-left: 46px;
        position: absolute;*/
        margin-top: -12px;
        margin-left: 8px;
        position: relative;
        z-index: -1;
    }
    .connect-info-small
    {
        /*padding-top: 80px;*/
        margin-top: -14px;
    }
    .connect-container-small legend
    {
        /*margin-left: 8px;*/
        margin-left: 60px;
        font-size: 1.0em;
        padding: 4px;
        background-color: #fff; /*used for fieldset legend border strikethrough bug*/
    }
    .connect-content-small
    {
        width: 268px;
        text-align: center;
        display: block;
        padding-left: 2px;
        font: .725em Arial, Helvetica, sans-serif;
        color: #131313;
        font-weight: bold;
    }
    
    /*Medium*/
    .connect-container-medium
    {
        border: 4px solid #999;
        padding: 14px 25px;  
        width: 310px;   
        text-align:center;
        margin-bottom: 2px;
        font: .925em Arial, Helvetica, sans-serif;
		color: #353535;
		font-weight: bold;
    }
    .connect-container-medium label
    {
        display: block;
    }
    .connect-logo-medium
    {
        margin-top: -10px;
    }
    .connect-code-medium
    {
        margin-top: -20px;
        margin-left: 56px;
        position: absolute;
        z-index: -1;
    }
    .connect-info-medium
    {
        padding-top: 160px;
    }
    .connect-container-medium legend
    {
        margin-left: 100px;     
        font-size: 1.05em;   
        padding: 4px;
        background-color: #fff; /*used for fieldset legend border strikethrough bug*/
    }
        
    .connect-content-medium
    {
        width: 368px;
        text-align: center;
        display: block;
        padding-left: 2px;
        font: .825em Arial, Helvetica, sans-serif;
        color: #131313;
        font-weight: bold;
    }
    .connect-right
    {
        float: right;
        height: 320px;
    }
    .connect-left
    {
        padding-left: 10px;
        float: left;
        height: 320px;
    }
    .connect-repeater
    {
        width: 640px;
    }
    