
/*Dashboard Module Icons*/
	.operationsModuleIcon
	{
		background:url(images/operations.png) 0 100% no-repeat;    
		float: left;
		height: 40px;
		margin: 0 0 0 4px;
		width: 40px;           
	}
	.commissioningModuleIcon
	{
		background:url(images/commissioning.png) 0 100% no-repeat;    
		float: left;
		height: 40px;
		margin: 0 0 0 4px;
		width: 40px;    
	}
	.performanceModuleIcon, .energyModuleIcon
	{
		background:url(images/performance.png) 0 100% no-repeat;    
		float: left;
		height: 40px;
		margin: 0 0 0 4px;
		width: 40px;    
	}
    .alarmsModuleIcon
	{
		background:url(images/alarms.png) 0 100% no-repeat;    
		float: left;
		height: 40px;
		margin: 0 0 0 4px;
		width: 40px;    
	}
	
/*Dashboard Layout*/	
	.dashboardHeader
	{
		height: 52px;
	}		
	.dashboardBody div, .dashboardBody p, .dashboardBody span
	{
	}
	.dashboardBody
	{
	}
	.dashboardFooter
	{
		/*needed to clear all floating widgets, and allow for dashboardContent bottom padding*/
		clear: both;
	}			
    .dashboardLeftColumn,.dashboardRightColumn{
	    display:block;
	    float: left;
    }
    .dashboardMessage{
        min-height: 52px;
    }

 /*Header*/
	.headerTitle
	{
		float: left;
		height: 32px;
		/*background: url(images/cw-dash.png) no-repeat 0 0;*/
		margin: 4px 0 0 6px;
		text-align: center;
		font-weight: bold;  
        line-height: 32px;
        vertical-align: middle;
	}
	
	.headerSpacer
	{
		float: left;
		padding-left: 8px;
		border-right: 1px solid #333;
		height: 92%;
	}
		
	.headerBuildingInfo, .headerClientInfo
	{
		padding-left: 8px;
		float: left;
	}
	
	.headerBuildingImage, .headerClientImage
	{
		float: left;
		padding-top: 2px;
	}
	
	.headerBuildingName, .headerClientName
	{
		padding: 12px 0 0 6px;
		float: left;
		font-weight: bold;
	}	
	
	.headerBuildingSelect
	{
		float: right;
		padding: 16px 10px 0 0;
	}

    .headerContent
    {
        height: 42px;
        overflow: hidden;
        padding: 0 4px 0 8px;
        font-size: 11px;
    }
    .headerDownload
    {
        float: right;
    }

/*Client and Building images*/
	.imgHeader
	{
		width: 48px !important;
		height: 36px !important;
		vertical-align: middle;
	}
	
	.imgMain
	{
		width: 148px !important;
		height: 111px !important;
	}	
	
/*Dashboard downloads*/
    .imgDashboardDownload
    {
        float: right;
        padding-left: 6px;
        padding-top: 16px;
        display: block;
        height:  20px;
        outline: none;
    }

	
/*Chart button divs*/
	.divChartTypeButtons
	{  
		float: left;
		height: 22px;
	}
	.divDisplayIntervalButtons
	{  
		float: left;
		height: 22px;
	}
	
	.divButtonsSpacer
	{
		float:left;
		width: 16px;
		padding-left: 2px;
		text-align: center;
        line-height: 20px;
	}
	.divPlotTypeButtons
	{
		height: 22px;
	}
	.divPlotRangeButtons
	{
		height: 22px;
	}
	.divChartTypeButtons span,
	.divPlotTypeButtons span,
	.divDisplayIntervalButtons span,
	.divPlotRangeButtons span	
	{
		display:inline-block;
		width: 70px;
		color: #000;
		font-size: 11px;
		text-align: right;
	}
	
    /* Comissioning Dashboard */
    .totalAvoidableCostSelectedDiv 
    {
        display: none;
        text-align: right;
        position: absolute;
        margin-top: 6px;
        right: 10px;
        z-index: 1000;
    }

    /* Point Context Menu*/
	ul.commissionDashboardPointContextMenu
	{
	    cursor:pointer;
	    padding:3px;
		position:   fixed;
		background: lightgray;
		font-size:  1.3em;
		visibility: hidden;
	}
	
	ul.commissionDashboardPointContextMenu > li
	{
		padding:2px;
	}

	ul.commissionDashboardPointContextMenu > li:hover
	{
		background-color:white;
	}
    

/*Dashboard Table*/
    .dashboardTable{
	    display: inline-block;
        vertical-align: top;
	    /*float: left;*/
        border: 1px solid #333;
        padding: 1px;
        margin: 4px;
    }
    .dashboardTable th {
        text-align: center;
        color: #787878;
        background-color: #fff;
        padding: 0 1px;
    }
    .dashboardTableTitle{       
        color: #333 !important;
        font-size: 12px !important;
        border-bottom: 1px solid #333;
        font-weight: bold;
        padding: 2px !important;
    }
    .dashboardTable tr
    {
        font-size: 11px;
    }
    .dashboardTable td 
    {
        font-size: 11px;
        padding: 0 1px;
    }
    .dashboardTable tr:nth-child(odd) {
        background-color: #efefef;
    }

    /*Dashboard link*/
    .dashboardViewAllLink {
        font-weight: normal !important;
    }