	
/*Dashboard Html tags*/
	.dashboardContent *
	{
		font-family: Arial, Helvetica, sans-serif;
		color: #232323;        
	}
	
	.dashboardContent h1{
		padding-bottom: .5em; 
		font-size: 1.8em;
		font-weight: bold;
		text-align: center;
		color: #232323;
	}
	
	.dashboardContent h2{
		padding-bottom: .13em; 
		font-size: 1.2em; 
		font-weight: normal;
	}
	
	.dashboardContent hr{
		width: 100%;
		clear: both;
		background-color: #333; /*ff*/
		color: #333; /*ie*/
	}
	
		
/*Dashboard Module Icons*/
	.liveDataModuleIcon
	{
		background:url(images/live-data.png) 0 100% no-repeat;    
		float: left;
		height: 40px;
		margin: 4px 0 0 4px;
		width: 40px;           
	}
	.commissioningModuleIcon
	{
		background:url(images/commissioning.png) 0 100% no-repeat;    
		float: left;
		height: 40px;
		margin: 4px 0 0 4px;
		width: 40px;    
	}
	.performanceModuleIcon
	{
		background:url(images/performance.png) 0 100% no-repeat;    
		float: left;
		height: 40px;
		margin: 4px 0 0 4px;
		width: 40px;    
	}
		
		
/*Dashboard Layout*/	
	.liveDashboard .dashboardHeader
	{
		height: 48px;
		/*background: url("images/dashboard-header-bg-lightblue.png") repeat-x 0 0;*/
		/*height: 54px;
		background: url("images/dashboard-header-bg2.png") repeat-x 0 0;*/
        padding-top: 6px;
	}		
	.commissioningDashboard .dashboardHeader
	{
		height: 48px;
		/*background: url("images/dashboard-header-bg-blue.png") repeat-x 0 0;*/
        padding-top: 6px;
	}		
	.performanceDashboard .dashboardHeader
	{
		height: 48px;
		/*background: url("images/dashboard-header-bg-green.png") repeat-x 0 0;*/
        padding-top: 6px;
	}	
	
	.dashboardBody div, .dashboardBody p, .dashboardBody span
	{
		/*color: #fff;*/
		font-weight: bold;
	}

	.liveDashboard .dashboardBody
	{
		height: 480px;
		/*background: #fff url(images/dashboard-body-bg-lightblue.png) repeat-x top;*/
        background-color: #ededed;
        border: 1px solid #333;
	}
	
	.commissioningDashboard .dashboardBody
	{
		height: 480px;
		/*background: #fff url(images/dashboard-body-bg-blue.png) repeat-x top;*/
        background-color: #ededed;
        border: 1px solid #333;
	}
	
	.performanceDashboard .dashboardBody
	{
		height: 480px;
		/*background: #fff url(images/dashboard-body-bg-green.png) repeat-x top;*/
        background-color: #ededed;
        border: 1px solid #333;
	}

    .dashboardBody .richText
    {
        text-align: center;
    }

    .dashboardBodyLeftColumn
	{
		display: block;
		float: left;
		width: 150px;
		padding: 6px;
	}
	.dashboardBodyRightColumnWithTabs
	{
		display: block;
		float: left;
		padding: 6px 6px 6px 0px;
		height: 440px;
	}
	.dashboardBodyRightColumn
	{
		display: block;
		float: left;
		width: 788px;
		padding: 6px 6px 6px 0px;
		height: 458px;
	}

	.dashboardBodyInner, .dashboardHomeBodyInner
	{
		background-color: #fff;
		height: 100%;
		color: #232323;
		font-weight: normal;
		padding: 4px;
        border: 1px solid #333 !important;
	}
	.dashboardBodyInnerRight
	{
		float: right;
		height: 416px;
		width: 138px;        
	}
	.divBodyInnerRightTop
	{
		background: #fff url(images/electric.jpg) repeat-x top;
		height: 150px;     
	}
		
	.dashboardSeondarySelections
	{
		padding-top: 4px;
	}
	
	.dashboardBottomBodyLeftColumn
	{
	}
	
	.dashboardBottomBodyRightColumn
	{
		padding-left: 20px;
		padding-right: 8px;
		float: right;
	}
	
	.dashboardFooter
	{
		/*needed to clear all floating widgets, and allow for dashboardContent bottom padding*/
		clear: both;
	}			

 /*Blocks*/ 
    .divBodyBlock
	{
		padding-top: 6px;
	}
	.divBodyBlockHeader
	{
		background-color: #6c6c6c;
		font-size: 12px;
        padding: 2px 4px;
	}
	.divBodyBlockHeader span
	{ 
		/*vertical-align: middle;*/
		color: white;
	}
		
	.divBodyBlockBody
	{
		padding: 2px;
		border-bottom: 2px solid #ccc;
		border-left: 2px solid #ccc;
		border-right: 2px solid #ccc;
		background-color: #ececec;	    
        clear: both;
	}
	.divBodyBlockBody span
	{
		font-size: 13px;
	}
	.blockValueGreen
	{
		/*ForestGreen*/
		color: #228B22;
	}
    .blockValueBlue
	{
		/*DarkBlue*/
		color: #00008B;
	}
	


/*Header*/
	.dashboardHeader
	{
		float: left;
		height: 18px;
		/*background: url(images/cw-dash.png) no-repeat 0 0;*/
		margin: 6px 0 0 6px;
		text-align: center;
		padding-top: 2px;	  
		font-weight: bold;  
	}
	
	.headerSpacer
	{
		float: left;
		margin-top: 6px;
		padding-left: 8px;
		border-right: 1px solid #333;
		height: 75%;
	}
		
	.headerBuildingInfo, .headerClientInfo
	{
		padding-left: 8px;
		float: left;
	}
	
	.headerBuildingImage, .headerClientImage
	{
		float: left;
		padding-top: 8px;
	}
	
	.headerBuildingName, .headerClientName
	{
		padding: 16px 0 0 6px;
		float: left;
		font-weight: bold;
	}	
	
	.headerBuildingSelect
	{
		float: right;
		padding: 16px 10px 0 0;
	}


/*Client and Building images*/
	.imgHeader
	{
		width: 44px !important;
		height: 33px !important;
		vertical-align: middle;
	}
	
	.imgMain
	{
		width: 148px !important;
		height: 111px !important;
	}	
	
	
/*Nav*/
	.dashboardNav
	{
		padding: 0 0 2px 2px;
	}
	
	.dashboardNav li
	{
		margin-bottom: 4px;
	}
	
	
/*Main body left*/

	.mainBuildingImage
	{
		padding-left: 1px;
	}


/*Main body right*/


/*Telerik Tabs New, Dashboard only*/
	.dashboardBottomTabs
	{
	}
	
	.dashboardBottomTabs .tabStrip
	{
		margin-top: -22px !important;
		float: left !important;
		padding-bottom: 2px !important;
	}
	 
	.dashboardBottomTabs .RadTabStripTop_Default .rtsLevel .rtsLink, 
	.dashboardBottomTabs .RadTabStripTop_Default .rtsLevel .rtsOut, 
	.dashboardBottomTabs .RadTabStripBottom_Default .rtsLevel .rtsLink, 
	.dashboardBottomTabs .RadTabStripBottom_Default .rtsLevel .rtsOut, 
	.dashboardBottomTabs .RadTabStripTop_Default_Baseline .rtsLevel, 
	.dashboardBottomTabs .RadTabStripBottom_Default_Baseline .rtsLevel 
	{
		background-image: none !important;
	}
	
	.dashboardBottomTabs .rtsLink
	{
		font-size: 14px !important;
		font-weight: bold !important;
	}

	.dashboardBottomTabs .rtsLI 
	{
		background-color: #59A4C2 !important;
		height: 26px !important;
		margin-left: 6px !important;
		border-left: #111 1px solid !important;
		border-right: #111 1px solid !important;
		border-top: #111 1px solid !important;
	}
	
	.dashboardBottomTabs .rtsSelected
	{
		background-color: White !important;
	}
	
		
/*Ajax Tabs OLD*/
	.dashboardBottomTabs
	{
		/*TEMP disable untill tabs exist - margin-top: -28px;*/
		display:block;
	}
	
	
	.dashboardBottomTabs .ajax__tab_header, .dashboardBottomTabs .ajax__tab_xp
	{
		margin-top: 3px;
	}
	
	/*ajax__tab_container*/
	.dashboardBottomTabs .ajax__tab_default,
	.dashboardBottomTabs .ajax__tab_xp, 
	.dashboardBottomTabs .ajax__tab_header,
	.dashboardBottomTabs .ajax__tab_active,
	.dashboardBottomTabs .ajax__tab_outer,
	.dashboardBottomTabs .ajax__tab_inner,
	.dashboardBottomTabs .ajax__tab_tab
	{
		background: none !important;
		margin-top: -48px;
	}
	
	.dashboardBottomTabs .ajax__tab_outer,
	.dashboardBottomTabs .ajax__tab_inner
	{
		padding: 0px !important;
	}
	
	/*.dashboardBottomTabs .ajax__tab_outer,
	.dashboardBottomTabs .ajax__tab_inner,*/
	.liveDashboard .dashboardBottomTabs .ajax__tab_tab
	{
		background-color: #59A4C2 !important;
		height: 15px !important;
	}    
	.commissioningDashboard .dashboardBottomTabs .ajax__tab_tab
	{
		background-color: #818796 !important;
		height: 15px !important;
	}
	.performanceDashboard .dashboardBottomTabs .ajax__tab_tab
	{
		background-color: #818796 !important;
		height: 15px !important;
	}

	/*,
	.dashboardBottomTabs .ajax__tab_inner:hover,
	.dashboardBottomTabs .ajax__tab_tab:hover,  
	.dashboardBottomTabs .ajax__tab_outer:hover*/
	.liveDashboard .dashboardBottomTabs .ajax__tab_hover span
	{
		background-color: White !important;
		height: 15px !important;
	}
	.commissioningDashboard .dashboardBottomTabs .ajax__tab_hover span
	{
		background-color: #A0A6B8 !important;
		height: 15px !important;
	}
	.performanceDashboard .dashboardBottomTabs .ajax__tab_hover span
	{
		background-color: #A0A6B8 !important;
		height: 15px !important;
	}
	
	.dashboardBottomTabs .ajax__tab_active .ajax__tab_outer ,
	.dashboardBottomTabs .ajax__tab_active .ajax__tab_inner,
	.dashboardBottomTabs .ajax__tab_active .ajax__tab_tab,
	.dashboardBottomTabs .ajax__tab_active
	{
		background-color: White !important;
		height: 15px !important;
	}
	
	.dashboardBottomTabs .ajax__tab_header > span
	{
		margin-left: 8px !important;
		/*
		border-bottom: 1px solid #000;
		height: 27px;*/
	}    
	.dashboardBottomTabs .ajax__tab_active .ajax__tab_outer, .dashboardBottomTabs .ajax__tab_active .ajax__tab_inner
	{
		height: 25px !important;
		/*border-bottom: 1px solid #fff !important;*/
	}
	
	.dashboardBottomTabs .ajax__tab_body 
	{
		border-style: none !important;
	}
	
	
	.dashboardBottomTabs .ajax__tab_outer,  .dashboardBottomTabs .ajax__tab_inner
	{
		height: 24px !important;
	}
	
	.dashboardBottomTabs .ajax__tab_tab
	{
		font-size: 14px;
		font-weight: bold;
		/*height: 16px !important;*/
		padding: 4px 6px 4px 6px !important;
	}
	
	/*
	.dashboardBottomTabs .ajax__tab_tab, .dashboardBottomTabs .ajax__tab_xp
	{
		height: 16px !important;
	} 
	*/  
	
	.dashboardBottomTabs .ajax__tab_disabled
	{
		visibility: hidden !important;
	}
	

/*Form Elements*/
	.dashboardContent .divForm
	{
		padding-bottom: 8px;
	}
	
	.dashboardContent .divSecondaryForm
	{
		padding-bottom: 6px;
	}
	
	.dashboardContent .label
	{
		padding-right:10px;	
		font-size:12px;
	}

    .dashboardContent .labelBold
	{
		display:block;
		font-size:11px;
		font-weight: bold;
		padding-bottom: 2px;
		clear: right;
	}

	.dashboardContent .labelWhiteBoldAsBlock
	{
		display:block;
		font-size:11px;
		color:#fff;	
		font-weight: bold;
		padding-bottom: 2px;
		clear: right;
	}
		
	.dashboardContent .labelLargeBold
	{
		padding-right:10px;	
		font-size:13px;
		font-weight: bold;
	}
	
	.dashboardContent .dropdown
	{
		width:146px;
		font-size: 11px;
	}	
	
	.dashboardContent .listbox
	{
		width: 146px;
		height: 210px;
		font-size: 11px;
	}
	
	.dashboardContent .listboxShort
	{
		width: 146px;
		height: 150px;
		font-size: 11px;
	}
	
	.dashboardContent .listboxShorter
	{
		width: 146px;
		height: 100px;
		font-size: 11px;
	}
	
		.dashboardContent .listboxShortest
	{
		width: 146px;
		height: 58px;
		font-size: 11px;
	}
	
	.dashboardContent .textbox
	{
		width:140px;
		border:0;
		background:transparent url(images/modal-input-bg.png) no-repeat;
		height:16px;
		padding:3px;	
		font-size: 11px;		
	}
	.dashboardContent .textboxNarrow
	{
		width:120px;
		border: 1px solid #999;
		/*background:transparent url(images/modal-input-bg.png) no-repeat;*/
		height:16px;
		padding:3px;	
		font-size: 11px;		
	}
	
	
/*Buttons*/
	.dashboardNav a{
		display: block;
		width: 146px;
		height: 32px;
		background:url(images/btn-db.png) no-repeat;
		text-align:center;
		line-height:32px;
		color:#333333;
		text-decoration:none;
		font-size:11px;
		font-weight: bold;
	}	
	.lnkBtnDashboard
	{
		background:url(images/btn-db.png) no-repeat;
	}	
	.lnkBtnDashboard:hover, 
	.lnkBtnDashboardActive{
		background:url(images/btn-db-hover.png) no-repeat !important;
	}	
	.dashboardNav a[disabled="disabled"]
	{
		background:url(images/btn-db-disabled.png) no-repeat !important;
		color:#999 !important;
		cursor:default !important;
	}
				
	.dashboardBodyInner a, .dashboardSeondarySelections .lnkBtnSmallDashboard{
		display: inline-block;
		width: 100px;
		height: 20px;
		text-align:center;
		line-height:20px;
		color:#333333;
		text-decoration:none;
		font-size:10px;
	}
	.lnkBtnSmallDashboard
	{
	   background:url(images/btn-small-db.png) no-repeat;
	}
	.lnkBtnSmallDashboard:hover,
	.lnkBtnSmallDashboardActive{
		background:url(images/btn-small-db-hover.png) no-repeat !important;
	}
	.lnkBtnSmallDashboardDisabled
	{
		cursor:default;
		background:url(images/btn-small-db.png) no-repeat;
	}
	
	.dashboardBodyInner a[disabled="disabled"]{
		background:url(images/btn-small-db-disabled.png) no-repeat !important;
		color:#999 !important;
		cursor:default !important;
	}
	
	
/*Chart button divs*/
	.divChartTypeButtons
	{  
		float: left;
		height: 22px;
	}
	.divDisplayIntervalButtons
	{  
		float: left;
		height: 22px;
	}
	
	.divButtonsSpacer
	{
		float:left;
		width: 16px;
		padding-left: 2px;
		text-align: center;
        line-height: 20px;
	}
	.divPlotTypeButtons
	{
		height: 22px;
	}
	.divPlotRangeButtons
	{
		height: 22px;
	}
	.divChartTypeButtons span,
	.divPlotTypeButtons span,
	.divDisplayIntervalButtons span,
	.divPlotRangeButtons span	
	{
		display:inline-block;
		width: 70px;
		color: #000;
		font-size: 11px;
		text-align: right;
	}
	
	
/*Dashboard Overides*/
	.dashboardContent .updateProgressDiv {
		padding-bottom: 10px;
	}
	

					
/*Building Rotater Scroller*/
	.divSelectedBuilding
	{
		width: 100%;
		text-align: center;
		padding-top: 4px;
		font-size: 14px;
		color: black;
		font-weight: bold;
	}
	.radRotaterBuildingScroller
	{
		padding-left: 18px !important;
		margin-top: -42px;
	}                    
	.radRotaterBuildingScroller .rrClipRegion
	{ 
		border: 0 !important;
	}
	.radRotaterTeaser
	{
		text-align: center;
		color: black;
		font-weight: bold;
		font-size: 12px;
        padding: 4px 14px 0px 14px;
	}
	.rrButton .rrButtonLeft
	{
		left: -22px !important;
	}
	.rrItem
	{
		cursor: pointer;
		filter:alpha(opacity=60);
		opacity:0.6;
	}
	.rrItem:hover
	{
		cursor: pointer;
		filter:alpha(opacity=100);
		opacity:1;
		border: 2px solid white;
		margin-left: -2px;
		margin-top: -2px;
	}


/*Messages*/
	.dashboardMessage
	{
		text-align: center;
		padding-top: 100px;
		display: block;
	}


/*Dashboard Chart*/
	.dashboardChart
	{
		float: left;
	}
	
	
/* Point Context Menu*/
	ul.commissionDashboardPointContextMenu
	{
	    cursor:pointer;
	    padding:3px;
		position:   absolute;
		background: lightgray;
		font-size:  1.3em;
		visibility: hidden;
	}
	
		ul.commissionDashboardPointContextMenu > li
		{
			padding:2px;
		}

		ul.commissionDashboardPointContextMenu > li:hover
		{
			background-color:white;
		}


/*OLD HOMEPAGE and Dashboard Widgets Layout*/

    .widgetBox
	{
		padding-top: 4px;
		padding-bottom: 4px;
		width: 440px;
	}	
	.widgetBoxNarrow
	{
		padding-top: 4px;
		padding-bottom: 4px;
		width: 264px;
	}
	.widgetBoxWide
	{
		padding-top: 4px;
		padding-bottom: 4px;
		width: 454px;
	}	
    .widgetBoxWider
	{
		padding-top: 4px;
		padding-bottom: 4px;
		width: 892px;
	}
	.widgetBoxWidest
	{
		padding-top: 4px;
		padding-bottom: 10px;
	}
	.widgetBox .widgetTop
	{
		background: url(images/widget-top.png) no-repeat 50% 0;		
		font-size: 14px;
		font-weight: bold;
		height: 20px;
		line-height: 22px;
		vertical-align: middle;	
		padding: 0 8px;
		color: #344152;
	}
	.widgetBoxNarrow .widgetTopNarrow
	{
		background: url(images/widget-top-narrow.png) no-repeat 50% 0;		
		font-size: 14px;
		font-weight: bold;
		height: 20px;
		line-height: 22px;
		vertical-align: middle;	
		padding-left: 8px;
		color: #344152;
	}	
    .widgetBoxWide .widgetTopWide
	{
		background: url(images/widget-top-wide.png) no-repeat 50% 0;		
		font-size: 14px;
		font-weight: bold;
		height: 20px;
		line-height: 22px;
		vertical-align: middle;	
		padding-left: 8px;
		color: #344152;
	}	
	.widgetBoxWider .widgetTopWider
	{
		background: url(images/widget-top-wider.png) no-repeat 50% 0;		
		font-size: 14px;
		font-weight: bold;
		height: 20px;
		line-height: 22px;
		vertical-align: middle;	
		padding-left: 8px;
		color: #344152;
	}
	.widgetBoxWidest .widgetTopWidest
	{
		background: url(images/widget-top-widest.png) no-repeat 50% 0;		
		font-size: 14px;
		font-weight: bold;
		height: 20px;
		line-height: 22px;
		vertical-align: middle;	
		padding-left: 8px;
		color: #344152;
	}
	.widgetBody
	{
		border: 1px solid #b6b6b6;
		padding: 8px;
		background-color: #fcfcfc;
	}
	.widgetBodyNoInnerPadding
	{
		border: 1px solid #b6b6b6;
		background-color: #fcfcfc;
	}
	