	
/*Diagnostics*/


/*Module Icon*/
.diagnosticsModuleIcon
{
    background:url(images/diagnostics.png) 0 100% no-repeat;    
    height: 40px;
}
.diagnosticsModuleIcon h1
{
    padding-top: 10px;
    padding-left: 48px;
}

/*Diagnostics Grid Additional Style*/
	#gridTbl table tr td .divIcons
	{
        /*margin-right: -2px;*/
        width: 58px;
	}
	#gridTbl table tr td .divNotesSummary
	{
	}
    /*Nessisary for hovers - initial grid borders before hover boders are in effect*/
    .tblCol1
    {    
        outline-offset: -2px;    
        border: 2px solid #EFEFEF;   
    }
    .tblCol2
    {        
        border: 2px solid #FFF; 
        outline-offset: -2px;
    }
\

/*OLD - Diagnostics ajax rating control*/
    .ratingClass {
        font-size: 0pt;
        width: 18px;
        height: 18px;
        margin: 0px;
        padding: 0px;      
        display: block;
        background-repeat: no-repeat;
        cursor: default;        
    }     

    .filledComfort {
        background-image: url(images/comfort.jpg);
    }

    .emptyComfort {
        /*background-image: url(images/comfortOff.jpg);*/
    }
    
    .filledEnergy {
        background-image: url(images/energy.jpg);
    }

    .emptyEnergy {
        /*background-image: url(images/energyOff.jpg);*/
    }
    
    .filledMaintenance {
        background-image: url(images/maintenance.jpg);
    }

    .emptyMaintenance {
        /*background-image: url(images/maintenanceOff.jpg);*/
    }

	.noClass
	{
	}


/*FUTURE - Color codes*/

    .innerTable
    {
        width: 100%; 
        height: 100%;
    }
    .innerTable tbody
    {
        height: 100%;
    }
    .innerTable tr
    {
        height: 100%;
    }
    .columnPriorities
    {
        height: 100% !important;
        min-width: 25px;
        font-weight: bold;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .priority0 
    {
        height: 5px;
    }
    .priority1 {
        /*background-color: #FFEA00; 
		filter:alpha(opacity=19);
		opacity:0.19;        
        width: 10%;*/
        height: 5px;
        border: solid 5px #FFEA00;
    }
    .priority2 {
        /*background-color: #FFDD00; 
		filter:alpha(opacity=28);
		opacity:0.28;
        width: 20%;*/
        height: 5px;
        border: solid 5px #FFDD00;
    }
    .priority3 {
        /*background-color: #FFCC00; 
		filter:alpha(opacity=37);
		opacity:0.37;
        width: 30%;*/
        height: 5px;
        border: solid 5px #FFCC00;
    }
    .priority4 {
        /*background-color: #FFBF00; 
		filter:alpha(opacity=46);
		opacity:0.46;
        width: 40%;*/
        height: 5px;
        border: solid 5px #FFBF00;
    }
    .priority5 {
        /*background-color: #FFA200; 
		filter:alpha(opacity=55);
		opacity:0.55;
        width: 50%;*/
        height: 5px;
        border: solid 5px #FFA200;
    }
    .priority6 {
        /*background-color: #FF8000; 
		filter:alpha(opacity=64);
		opacity:0.64;
        width: 60%;*/
        height: 5px;
        border: solid 5px #FF8000;
    }
    .priority7 {
        /*background-color: #FF6200; 
		filter:alpha(opacity=73);
		opacity:0.73;
        width: 70%;*/
        height: 5px;
        border: solid 5px #FF6200;
    }
    .priority8 {
        /*background-color: #FF4800; 
		filter:alpha(opacity=82);
		opacity:0.82;
        width: 80%;*/
        height: 5px;
        border: solid 5px #FF4800;
    }
    .priority9 {
        /*background-color: #FF2A00; 
		filter:alpha(opacity=91);
		opacity:0.91;
        width: 90%;*/
        height: 5px;
        border: solid 5px #FF2A00;
    }
    .priority10 {
        /*background-color: #FF0000; */
        border: solid 5px #FF0000;
        height: 5px;
    }

	
/*Diagnostics priority icons*/

    .comfort {
        background-image: url(images/comfort.png);
        width: 32px;
        height: 14px;
        padding-top: 18px;
        color: white;
        font-weight: bold;
        text-align:center;
    }
    /*comfort is black so we fade at a higher rate*/
    .comfort0 
    {
        filter:alpha(opacity=15);
		opacity:0.15;
    }
    .comfort1 {
		filter:alpha(opacity=23);
		opacity:0.23;
    }
    .comfort2 {
		filter:alpha(opacity=31);
		opacity:0.31;
    }
    .comfort3 {
		filter:alpha(opacity=39); /*decrease 9*/
		opacity:0.39 !important;
    }
    .comfort4 {
		filter:alpha(opacity=48); /*decrease 9*/
		opacity:0.48;
    }
    .comfort5 {
		filter:alpha(opacity=57); /*decrease 9*/
		opacity:0.57;
    }
    .comfort6 {
		filter:alpha(opacity=66); /*decrease 9*/
		opacity:0.66;
    }
    .comfort7 {
		filter:alpha(opacity=75); /*decrease 9*/
		opacity:0.75 !important;
    }
    .comfort8 {
		filter:alpha(opacity=84);
		opacity:0.84;
    }
    .comfort9 {
		filter:alpha(opacity=92);
		opacity:0.92;
    }
    .comfort10 {
    }
        
    
    .energy {
        background-image: url(images/energy.png);
        width: 32px;
        height: 27px;
        padding-top: 5px;
        font-weight: bold;
        text-align:center;
    }
    .energy0 
    {
        filter:alpha(opacity=20);
		opacity:0.20;
    }
    .energy1 {
		filter:alpha(opacity=28);
		opacity:0.28;
    }
    .energy2 {
		filter:alpha(opacity=36);
		opacity:0.36;
    }
    .energy3 {
		filter:alpha(opacity=44);
		opacity:0.44;
    }
    .energy4 {
		filter:alpha(opacity=52);
		opacity:0.52;
    }
    .energy5 {
		filter:alpha(opacity=60);
		opacity:0.60;
    }
    .energy6 {
		filter:alpha(opacity=68);
		opacity:0.68;
    }
    .energy7 {
		filter:alpha(opacity=76);
		opacity:0.76;
    }
    .energy8 {
		filter:alpha(opacity=84);
		opacity:0.84;
    }
    .energy9 {
		filter:alpha(opacity=92);
		opacity:0.92;
    }
    .energy10 {
    }


    .maintenance {
        background-image: url(images/maintenance.png);
        width: 32px;
        height: 16px;
        padding-top: 16px;
        color: white;
        font-weight: bold;
        text-align:center;
    }
    .maintenance0 
    {
        filter:alpha(opacity=15);
		opacity:0.15;
    }
    .maintenance1 {
		filter:alpha(opacity=23);
		opacity:0.23;
    }
    .maintenance2 {
		filter:alpha(opacity=31);
		opacity:0.31;
    }
    .maintenance3 {
		filter:alpha(opacity=39); /*decrease 9*/
		opacity:0.39;
    }
    .maintenance4 {
		filter:alpha(opacity=48); /*decrease 9*/
		opacity:0.48;
    }
    .maintenance5 {
		filter:alpha(opacity=57); /*decrease 9*/
		opacity:0.57;
    }
    .maintenance6 {
		filter:alpha(opacity=66); /*decrease 9*/
		opacity:0.66;
    }
    .maintenance7 { 
		filter:alpha(opacity=75); /*decrease 9*/
		opacity:0.75;
    }
    .maintenance8 {
		filter:alpha(opacity=84);
		opacity:0.84;
    }
    .maintenance9 {
		filter:alpha(opacity=92);
		opacity:0.92;
    }
    .maintenance10 {
    }
    
	
/*Diagnostics linkbutton icons*/

.diagnosticsDetails
{ 
    background: url(images/details.gif) no-repeat 0 100%;
    width: 18px;
    height: 18px;
    display: block;    
    float: left;
    padding: 1px 1px 0 0;
}
.diagnosticsIssueDetails
{ 
    background: url(images/issue.png) no-repeat 0 100%;
    width: 18px;
    height: 18px;
    display: block;    
    float: left;
    padding: 1px 1px 0 0;
}
.diagnosticsNotes
{
    background: url(images/notes.png) no-repeat 0 100%;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    padding: 1px 1px 0 0;
}
.diagnosticsPostpone
{
    background: url(images/postpone.png) no-repeat 0 100%;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    padding: 1px 1px 0 0;
}
.diagnosticsReports
{
    background: url(images/reports.png) no-repeat 0 100%;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    padding: 1px 1px 0 0;
}
.diagnosticsVariables
{
    background: url(images/vars.png) no-repeat 0 100%;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    padding: 1px 1px 0 0;
}
.diagnosticsInaccuracy
{
    background: url(images/inaccuracy.png) no-repeat 0 100%;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    padding: 1px 1px 0 0;
}


/* CSS hack for the validator extender on the "tracking code" field (Diagnostics Module Page)*/
/*#trackingCodeVCE_popupTable {
    top:    95px !important;
    left:   25px !important;
}*/
