﻿
/*Rad Dock Iframes*/
    .iframeDockBody
    {
        background: none;
    }


/*Rad Docks*/
    .radDockSmall, .radDockMedium, .radDockLarge
    {
        padding: 4px;    
    }


/*Dock Html tags*/

    .dockWrapper{
	}	

	.dockWrapper *
	{
		font-family: Arial, Helvetica, sans-serif;
		/*color: #232323;*/
	}
	
	.dockWrapper h1{
		padding-bottom: .5em; 
		font-size: 1.8em;
		font-weight: bold;
		text-align: center;
	}
	
	.dockWrapper h2{
		padding-bottom: .13em; 
		font-size: 1.2em; 
		font-weight: normal;
	}
	
	.dockWrapper hr{
		width: 70%;
		clear: both;
		background-color: #CCC; /*ff*/
		color: #CCC; /*ie*/
	}
	


/*Dock Selections*/
	 
	a.toggle
	{
        float:right;
	}
	a.toggle:hover
	{
	}
	

/*Dock Form Elements*/

    .dockWrapper .divDockFormWrapper
    {
        display:block;
        min-height: 90px;
        padding-top: 2px;
    }

    .dockWrapper .divDockFormWrapperMedium
    {
        display:block;
        min-height: 52px;
    }

    .dockWrapper .divDockFormWrapperShort
    {
        display:block;
        min-height: 44px;
    }

    .dockWrapper .divDockFormWrapperShortest
    {
        display:block;
        min-height: 20px;
    }

    .dockWrapper .divDockFormWrapperOnlyPdf
    {
        display: block;
        min-height: 20px;
    }

	.dockWrapper .divDockFormFirst
	{  
        float:left;
	}

    .dockWrapper .divDockFormFirstCentered
	{  
        float: left;
        height: 25px;
        padding-top: 3px;
	}

    .dockWrapper .divDockForm
	{
        padding-left: 10px;
        float:left;
	}

    .dockWrapper .divDockFormCentered
	{
        padding-top: 3px;
        padding-left: 10px;
        float:left;
	}

    .dockWrapper .divDockFormCheckBox
	{
        padding-top: 2px;
        padding-left: 5px;
        float:left;
	}

    .dockWrapper .divDockFormHidden
	{
        display: none;
	} 

    .dockWrapper .divDockFormRight
    {
        float: right;
        padding-left: 10px;
    }

	.dockWrapper .divDockFormButton
	{
        float:left;
        padding: 18px 0 0 10px;
	}

    .dockWrapper .divDockFormNoResultMessage
    {
        float: left;
        width: 100%;
    }

    .dockWrapper .label, .dockWrapper .labelRight
	{
		padding-right:4px;	
		font-size:11px;
        font-weight: bold;
	}
	.dockWrapper .labelCheckbox
	{
		padding-right:10px;	
		font-size:11px;
        vertical-align: text-top;
	}

    .dockWrapper .labelCheckboxShort
	{
		font-size:11px;
        vertical-align: text-top;
	}

    .dockWrapper .labelBold
	{
		display:block;
		font-size:11px;
		font-weight: bold;
		padding-bottom: 2px;
		clear: right;
	}

	.dockWrapper .labelWhiteBoldAsBlock
	{
		display:block;
		font-size:11px;
		color:#fff;	
		font-weight: bold;
		padding-bottom: 2px;
		clear: right;
	}
		
	.dockWrapper .labelLargeBold
	{
		padding-right:10px;	
		font-size:13px;
		font-weight: bold;
	}
	
	.dockWrapper .dropdown, .dockWrapper .dropdownRight
	{
		width:100px;
		font-size: 11px;
	}	
	.dockWrapper .dropdownNarrow
	{
		width:70px;
		font-size: 11px;
	}	
    .dockWrapper .dropdownNarrowest
	{
		width:50px;
		font-size: 11px;
	}
	.dockWrapper .dropdownNarrowRight
	{
		width:70px;
		font-size: 11px;
        float: right;
	}	
        	
	.dockWrapper .listboxShortWide
	{
		width: 160px;
		height: 72px;
		font-size: 11px;
	}	

    .dockWrapper .listboxShortestNarrow
	{
		width: 100px;
		height: 36px;
		font-size: 11px;
	}	
	
	.dockWrapper .textbox
	{
		width:100px;
		font-size: 11px;		
	}
	.dockWrapper .textboxNarrow
	{
		width: 70px;
		font-size: 11px;		
	}
    .dockWrapper .radio
    {
    }
    .dockWrapper .radio label
    {
        font-size: 11px;
        vertical-align: text-top;
    }
		
/*Dock Buttons*/
	.dashboardNav a{
		display: block;
		width: 146px;
		height: 32px;
		background:url(images/btn-db.png) no-repeat;
		text-align:center;
		line-height:32px;
		color:#333333;
		text-decoration:none;
		font-size:11px;
		font-weight: bold;
	}	
	.lnkBtnDock
	{
		background:url(images/btn-db.png) no-repeat;
	}	
	.lnkBtnDock:hover, 
	.lnkBtnDockActive{
		background:url(images/btn-db-hover.png) no-repeat !important;
	}	
	/*.dashboardNav a[disabled="disabled"]
	{
		background:url(images/btn-db-disabled.png) no-repeat !important;
		color:#999 !important;
		cursor:default !important;
	}
	*/
    		
	.lnkBtnSmallDock{
		display: inline-block;
		width: 100px;
		height: 20px;
		text-align:center;
		line-height:20px;
		color:#333333;
		text-decoration:none;
		font-size:10px;
	    background:url(images/btn-small-db.png) no-repeat;        
	}
	.lnkBtnSmallDock:hover,
	.lnkBtnSmallDockActive{
        display: inline-block;
		width: 100px;
		height: 20px;
		text-align:center;
		line-height:20px;
		color:#333333;
		text-decoration:none;
		font-size:10px;
		background:url(images/btn-small-db-hover.png) no-repeat !important;
	}
	.lnkBtnSmallDockDisabled
	{
		cursor:default;
		background:url(images/btn-small-db.png) no-repeat;
	}
	
	/*.dashboardBodyInner a[disabled="disabled"]{
		background:url(images/btn-small-db-disabled.png) no-repeat !important;
		color:#999 !important;
		cursor:default !important;
	}*/


    .lnkBtnSmallestDock{
		display: inline-block;
		width: 90px;
		height: 20px;
		text-align:center;
		line-height:20px;
		color:#333333;
		text-decoration:none;
		font-size:11px;
        font-weight: bold;
	    background:url(images/btn-smallest-db.png) no-repeat;        
	}
	.lnkBtnSmallestDock:hover,
	.lnkBtnSmallestDockActive{
        display: inline-block;
		width: 90px;
		height: 20px;
		text-align:center;
		line-height:20px;
		color:#FFFFFF;
		text-decoration:none;
		font-size:11px;
        font-weight: bold;
		background:url(images/btn-smallest-db-hover.png) no-repeat !important;
	}
	.lnkBtnSmallestDockDisabled
	{
		cursor:default;
		background:url(images/btn-smallest-db.png) no-repeat;
	}

    .lnkBtnRefreshDock{
		display: inline-block;
		width: 100%;
		height: 20px;
		line-height:20px;
	    background:url(images/refresh.jpg) 50% 0 no-repeat;        
	}

    .imgBtnRefreshDiv {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        width: 100%;
        text-align: center;
    }

    .imgBtn 
    {
        cursor: pointer;
    }
 
/*Dock labels and messages*/
    .dockMessageLabel
    {
        font-size: 11px;
        padding: 18px 0;
        text-align: center;
		display: block;
    }

    .dockMessageNoResultsLabel
    {
        font-size: 11px;
        text-align: center;
		display: block;
    }

    .dockEmptyGridLabel
    {
        font-size: 11px;
        height: 46px;
        line-height: 46px;
        background-color: #fff !important;
    }
    .dockEmptyGridLabel td
    {
        font-size: 11px !important;
        text-align: center !important;
    }


/*Dock Link formating*/
    .dockHeaderLink
	{   
		font-size: 11px;
		color: #333;
        /*float: right;*/
        font-weight: normal;
        
        position: absolute;
        right: 40px;
	}
    .dockLink
	{   
		font-size: 11px;
		color: #333;
	}


/*Dock Lists*/ 
    .rdContent ul, .iframeDockBody ul
    {
        margin-top: -2px;
        font-size: 12px;
    }
    .rdContent ul li, .iframeDockBody ul li
    {
        padding-top: 4px;
    }
    .rdContent ul li label, .iframeDockBody ul li label
    {
        color: #787878;
		font-weight: bold;    
        display: block;
    }
    .rdContent ul li div, .iframeDockBody ul li div
    {    
        padding-left: 12px;
    }
    .rdContent ul li .seperator, .iframeDockBody ul li .seperator
    {
        color: #787878;
		font-weight: bold;     
        padding: 0 6px 0 10px;    
    }


/*Dock grids*/
    .rdContent th, .iframeDockBody th
    {
        color: #787878;
    }


/*Dock downloads*/
    .imgDockDownload
    {
        float: right;
        padding-left: 6px;
        display: block;
        height:  20px;
        outline: none;
    }

/*Telerik HTML Chart overrides*/
    .k-tooltip
    {
        padding: 4px;
        font-weight: bold;
    }

/*Telerik Rad Dock overrides*/
    .RadDockZone
    {
        padding: 0 !important;

        /*needed for dragability*/
        display: inline-block;
    }
    .RadDock .rdContent
    {
        overflow: hidden !important;
        min-height: 50px !important;
        padding-top: 6px !important;
        font: inherit !important;
    }
    .RadDock .rdTitleBar em {
        font: inherit !important;
        width: 94% !important;
        white-space: normal !important;
        padding-top: 3px !important;
    }
    .RadDock_Default .rdTop .rdCenter
    {
        color: #344152;
        font-size: 13px;
        font-weight: bold;
        height: 20px;
        line-height: 22px;
        vertical-align: middle;
    }
    .RadDock .rdCenter .rdCommands a
    {
        padding: 0px !important;
    }

    .RadDockZone 
    {
        border-width: 0px !important;
    }

    .iframesContainer {
        height:     0px; 
        width:      0px; 
        overflow:   hidden;
    }

    .iframeInitialDisplay {
        position:   absolute;
        visibility: hidden;
    }

    .iframeInitialDisplayFull {
        position:   absolute;
        visibility: hidden;
    }

/* RadDock styles */
		
		/* remove the background image sprites */
		div.RadDock_Default .rdTop .rdLeft, 
		div.RadDock_Default .rdTop .rdRight, 
		div.RadDock_Default .rdTop .rdCenter, 
		div.RadDock_Default .rdBottom .rdLeft, 
		div.RadDock_Default .rdBottom .rdRight, 
		div.RadDock_Default .rdBottom .rdCenter, 
		div.RadDock_Default .rdMiddle .rdLeft, 
		div.RadDock_Default .rdMiddle .rdRight {
			background-image: none;
		}

		/* border and rounded corners */
		div.RadDock .rdTable {
			border: 1px solid #828282;
			border-radius: 6px;
			box-shadow: 2px 3px 4px #888; 
            background-color: #FFFFFF;           
		}
		
		/* border-bottom for the title bar */
		div.RadDock .rdTable .rdTop .rdLeft,
		div.RadDock .rdTable .rdTop .rdCenter,
		div.RadDock .rdTable .rdTop .rdRight {
			border-bottom: 1px solid #828282;
		}
		
		/*  remove border-collapse as it prevents border-radius for table element in IE;
			set border-spacing to 0 to compensate the lack of border-collapse;
		 */
		div.RadDock .rdTable, 
		div.RadDock .rdTable .rdLeft, 
		div.RadDock .rdTable .rdCenter, 
		div.RadDock .rdTable .rdRight {
			border-collapse: separate;
			border-spacing: 0;
		}
		
		/* applies rounding to the top left corner - IE fix  */
		div.RadDock_Default .rdTop .rdLeft {
			border-radius: 6px 0 0;
		}
		
		/* applies rounded corner for top right corner - IE fix */
		div.RadDock_Default .rdTop .rdRight {
			border-radius: 0 6px 0 0;
		}
		
		/* applies rounded corner for top left and bottom left corners when the dock is collapsed - IE fix */
		div.RadDock_Default.rdCollapsed .rdTop .rdLeft {
			border-radius: 6px 0 0 6px;
		}
		
		/* applies rounded corner for top right and bottom right corners when the dock is collapsed - IE fix */
		div.RadDock_Default.rdCollapsed .rdTop .rdRight {
			
			border-radius: 0 6px 6px 0;
		}
		
		/* background gradient image for the titlebar */
		.rdTop {
			background: url(images/titlebar-header.png) repeat-x;
		}

        /* small hack to ensure any chart within a dock inherits its height from the parent */
        .radSplitterFormatter { 
            height: inherit !important;
        }