/*Documents*/


/*Module Icon*/
.documentsModuleIcon
{
    background:url(images/documents.png) 0 100% no-repeat;    
    height: 40px;
}
.documentsModuleIcon h1
{
    padding-top: 10px;
    padding-left: 48px;
}
	
/*Layout*/
	.documentsControls fieldset {
		/*border: solid 1px black;*/
	    padding:  0px 6px;
	}
		
    .documentsSearchManager, .documentsSearchTagger {
        border: 2px solid #DFDFDF;
        padding: 0px 6px 8px 6px;
    }
    
    /*.documentsSearchTagger {
        border: 2px solid #DFDFDF;
        padding: 0px 6px 8px 6px;
        width: 400px;
        float: left;
    }
    
    .documentsTagTagger {
        border: 2px solid #DFDFDF;
        padding: 0px 6px 8px 6px;
        width: 406px;
        float: right;
    }*/

    .documentsSearchManager legend, .documentsSearchTagger legend {
        color: #999999;
        font-weight: bold;
    }
      
    /*.documentsSearchTagger .divCriteria, .documentsTagTagger .divCriteria {
        display: block;
        float: left;
        min-height: 100px;
        padding: 0 0 0 2px;
    }*/


/*Tree*/	
	.documentsTree
	{
		display:block;
		float:left;
		height:370px;
		margin-right:4px;
		overflow:auto;
		position:relative;
		width:240px;
	}
	
	
/*Tagger*/
    .divDocumentsTaggerLeft
    {
        float: left;
    }   
    .divDocumentsTaggerLeft h2    
    {
        color: #9c3608;
    }
       
    .divDocumentsTaggerRight
    {
        float: right;
    }   
    .divDocumentsTaggerRight h2    
    {
        color: #3c8b04;
    }
    
/*Grid*/
	.documentsGrid
	{
		border-left:1px solid black;
		display:block;
		height:370px;
		overflow:auto;
		padding-left:6px;
		position:relative;
		/*width:620px;*/
	}
	.hideMe
	{
		visibility:hidden;
	}	
	.RadGrid
	{
	    height: auto !important;
	}	
    .divDocumentsGridNoRecords
    {
        padding: 2px 6px;
    }  
    .rgDataDiv
    {
        height: auto !important;
    }

/*Grid Folder Items*/
    .gridFolderItems
    {
        width: 100%;
    }

/*Buttons*/
    .myImageButton
    {
        cursor: hand;
    }
    
    /*.editFormHeader td
    {
        font-size: 14px;
        padding: 4px !important;
        color: #0066cc;
    }*/