﻿
/*OLD Gauges*/	
/*
  	.gaugeContainer
	{
		display: block;
		position: relative;	
		clear: both;	
	}
	
	.gaugeContainer div 
	{
		height: 340px !important;
		width: 340px !important;		
		display: block !important;
		float:left !important;
		margin-left: 47px !important;
		margin-right: 47px !important;		
	}
	
	.gaugeContainer div div
	{
		margin-left: 0px !important;
		margin-right: 0px !important;		
	}
	
	.gaugeContainer div div svg
	{
		height: 340px !important;
		width: 340px !important;
	}	
	
	.gaugeContainer ul 
	{
		padding-left: 50px;
		list-style-type: disc;	
		padding-bottom: 20px;
	}

	
	.gaugeContainer .onOffContent 
	{
		padding-top: 10px;
		font-size: 7pt;
		font-family: Verdana;
		color: #000;
	}
*/