/* Global display styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    /*vertical-align: baseline;*/
}

ol, ul {
    list-style: none;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

body {
    font: 10px Arial, Helvetica, sans-serif; /*used to be .625em*/
    color: #353535;
    height: 100%;
    background: #fff url(images/container-bg.gif) repeat-x top;
}

.container, .containerHome, .containerFullScreen {
    margin: 0 auto;
}

.clear {
    display: block;
    clear: both;
}

input[type=range] {
    padding: 0px 1px 4px 1px;
    margin: 2px;
}

/*Header*/
.header .inner {
    margin: 0 auto;
    padding: 0 1em;
}

.header .divHeaderBar {
}

    .header .divHeaderBar .divLogin img {
        float: left;
        margin-top: -9px;
        padding-right: 4px;
        z-index: 2000000010;
        position: relative;
    }

    .header .divHeaderBar .divLogin span {
        float: left;
        margin-top: -1px;
        padding-left: 2px;
    }

.header .divHeaderLeft {
    float: left;
}

.header .divHeaderRight {
    float: right;
}

.header .divHeaderBar a {
    color: #fff;
    font-weight: bold;
}

.header .divHeaderBar ul#utility {
    float: right;
    padding-top: 1px;
}

    .header .divHeaderBar ul#utility p {
        line-height: 1;
    }

    .header .divHeaderBar ul#utility li {
        float: left;
        line-height: 1;
        padding: 0 8px;
        border-right: 1px solid #fff;
    }

        .header .divHeaderBar ul#utility li.last {
            padding-right: 0;
            border-right: none;
        }

/*Header Bar: Login, Primary Nav, and Primary Nav Dropdowns*/

.divLogin,
.divPrimaryNav,
.divSelectClient,
.divSelectModule {
    font-size: .9em;
    font-weight: bold;
    color: #fff;
}

    .divLogin a,
    .divPrimaryNav a,
    .divSelectClient a,
    .divSelectModule a {
    }

.divLogin {
    position: absolute;
}

.divPrimaryNav {
    float: left;
}

.divSelectClient,
.divSelectModule {
    border-left: 1px solid #FFFFFF;
    float: left;
    margin-left: 10px;
    margin-top: -6px;
    padding: 4px 0 2px 8px;
}

    .divSelectClient label,
    .divSelectModule label {
        font-size: 11px;
        padding-right: 4px;
        font-weight: bold;
    }

    .divSelectClient select,
    .divSelectModule select {
        width: 100px;
        font-size: 10px;
    }


/*Footer*/
.footer {
    padding-bottom: 18px;
    text-align: center;
    clear: both;
}

    .footer .inner {
        margin: 0 auto;
    }

.divFooterMultiLogoLeft {
    height: 56px;
    width: 50%;
    float: left;
    margin-left: -20px;
}

.divFooterMultiLogoRight {
    width: 50%;
    float: left;
    text-align: left;
    margin-right: -20px;
    padding-left: 40px;
}

.divFooterLeft {
    height: 56px;
}

.divFooterBottom {
    clear: both;
    padding-top: 4px;
}

.imgOrganizationLogo {
    height: 56px;
}


.footer .divFooterBanners {
    margin: 0 auto;
    /*2 ad's at 468 x 60*/
    /*temp display as none*/
    display: none;
}

.footer .divFooterBottomLeftBanner {
    display: block;
    float: left;
    margin-left: 9px; /*(960 - 468 - 468) = 24,   3px left because of the content image white space + 6px left. leaves 6px between ads.*/
}

.footer .divFooterBottomRightBanner {
    float: right;
    margin-right: 9px; /*(960 - 468 - 468) = 24,  3px right because of the content image white space  + 6px right.  leaves 6px between ads.*/
}

/*Content*/
.dashboardContent {
    margin: 0 auto;
    margin-left: 14px;
    font-size: 1.3em;
    padding-bottom: 20px;
    float: left;
}

.dashboardFullContent {
    margin: 0 14px;
    font-size: 1.3em;
    padding-bottom: 20px;
}


.contentLoggedOut {
    width: 560px;
    margin: 0 auto;
    font-size: 1.3em;
    padding-bottom: 21px;
    padding-top: 210px;
}

.content {
    margin: 0 auto;
    margin-left: 14px;
    font-size: 1.3em;
    padding-bottom: 20px;
    float: left;
}

    .content h1, .contentLoggedOut h1 {
        padding-bottom: .13em;
        font-size: 1.5em;
        font-weight: normal;
    }

    .content h2, .contentLoggedOut h2 {
        padding-bottom: .13em;
        font-size: 1.2em;
        font-weight: normal;
    }

    .content h3, .contentLoggedOut h3 {
        font-size: 1.1em;
        font-weight: normal;
        color: #666;
    }

    .content hr, .contentLoggedOut hr {
        width: 100%;
        clear: both;
        border: none;
        background-color: #EAEAEA;
        min-height: 2px; /*required for ie*/
    }

    .content p, .contentLoggedOut p {
        padding-bottom: .5em;
    }

        .content p.date {
            font-weight: bold;
        }

    .content .middle, .dashboardContent .middle, .dashboardFullContent .middle {
        min-height: 350px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #C0C0C0;
    }

    .content .top, .dashboardContent .top, .dashboardFullContent .top {
        height: 2px;
    }

.contentIframe div {
    font-size: 11px;
    padding: 18px 0;
    text-align: center;
    display: block;
}


/*Rich text content*/
.richText {
    padding: .5em 0;
}

    .richText p {
        padding: .2em 0 .3em 0 !important;
    }

    .richText img {
        padding: 0 10px;
    }

    .richText h1 {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 1em;
    }

    .richText h2 {
        font-size: 18px;
        padding-bottom: 1em;
    }

    .richText h3 {
        font-size: 16px;
        padding-bottom: 1em;
    }

    .richText h4 {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 1em;
    }

    .richText h5 {
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 1em;
    }

    .richText h6 {
        font-size: 11px;
        font-weight: bold;
        padding-bottom: 1em;
    }

    .richText ul li {
        background: url(images/bullet-help-list.gif) 0 8px no-repeat;
        padding-left: 9px;
        /*Overrides for detailsList class*/
        width: 100%;
        position: inherit;
    }

    .richText ul {
        padding-left: 12px;
        padding-bottom: 1em;
    }

    .richText ol {
        list-style-type: decimal;
        padding-bottom: 1em;
        padding-left: 30px;
    }

    .richText table {
        display: table;
        border: 1px solid #666;
    }

    .richText tr {
        display: table-row;
    }

    .richText thead {
        display: table-header-group;
        background-color: #efefef;
    }

        .richText thead > :first-child {
            background-color: #dfdfdf;
        }

    .richText tbody {
        display: table-row-group;
    }

    .richText tfoot {
        display: table-footer-group;
    }

    .richText col {
        display: table-column;
    }

    .richText colgroup {
        display: table-column-group;
    }

    .richText td {
        display: table-cell;
        padding: 2px 2px;
        text-align: center;
    }

    .richText th {
        display: table-cell;
        padding: 2px 6px;
    }

    .richText th {
        font-weight: bolder;
        text-align: center;
    }

    .richText table {
        border-spacing: 2px;
    }

    .richText thead, tbody, tfoot {
        vertical-align: middle;
    }

    .richText td, th, tr {
        vertical-align: inherit;
    }

    .richText tr > :first-child {
        text-align: left;
    }

/*Form layout*/
.divForm, .divFormNarrow, .divFormShort {
    position: relative;
}

.divFormWide {
    padding: 4px 0 0 168px; /*166 = divFormTwoColum(156) + padding(10). even with divFormTwoColumn*/
    position: relative;
}

.divFormWidest {
    padding: 4px 0 0 110px;
    position: relative;
}

.divFormLeftmost {
    padding: 4px 0 0 0;
    position: relative;
}

.divFormTwoColumn {
    padding: 4px 0 0 156px;
    position: relative;
}

.divFormThreeColumn {
    padding: 4px 0 0 110px;
    position: relative;
}

.divFormWideAndShort {
    padding-left: 168px; /*166 = divFormTwoColum(156) + padding(10). even with divFormTwoColumn*/
    position: relative;
}

.divFormContentTwoColumn {
    padding: 4px 0;
    overflow: auto;
}

.contentLeftColumn {
    float: left;
    width: 412px;
    padding: 4px 8px 4px 16px;
}

.contentRightColumn {
    float: left;
    width: 412px;
    border-left: solid 2px #666;
    padding: 4px 16px 4px 8px;
}


/*Secondary Logo*/
.divSecondaryLogo img {
    padding-left: 375px; /* (957 -207)/2 = 375,  375 - ((957-936)/2) + 4 + 36) = 324.5 */
}

/*Secondary Nav Hovers - uses javascript in base.js/base.min.js*/
.divSecondaryNav {
    margin: 0 auto;
    margin-left: 14px;
    font-size: 1.05em; /*1em original, 1.05em kgs*/
    padding-bottom: 6px;
    padding-top: 2px;
    float: left;
}

.divDoubleSecondaryNav {
    margin: 0 auto;
    font-size: 1.05em; /*1em original, 1.05em kgs*/
    padding-bottom: 62px;
}

.divTripleSecondaryNav {
    margin: 0 auto;
    font-size: 1.05em;
    padding-bottom: 92px;
}

div.diagnosticsNav, div.adminNav, div.sysAdminNav, div.helpNav, div.kgsAdminNav, div.profileNav {
    position: relative;
    float: left;
    background: transparent url(images/navBG.png) repeat-x 0 0;
}

div.hoverBtn {
    position: relative;
    float: left;
    background: black url(images/navBG.png) repeat-x 0 0;
}

    div.hoverBtn a {
        position: relative;
        z-index: 2;
        display: block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #000;
        text-decoration: none;
        background: transparent none repeat-x 0 0;
    }

    div.hoverBtn div {
        display: none;
        position: relative;
        z-index: 1;
        height: 30px;
        margin-top: -30px;
        background: white url(images/navHover.png) repeat-x 0 0;
    }

    div.hoverBtn .noCursor {
        cursor: default;
    }



/*Both Left Navs*/
.divLeftNav {
    border: 3px solid #ababab;
    border-radius: 10px;
    color: white;
    float: left;
    font-size: 9pt;
    font-weight: bold;
    height: 100%;
    margin-top: 16px;
    position: relative;
    overflow: hidden;
}

    .divLeftNav > div {
        background-color: #fff;
    }

    .divLeftNav a {
        color: white;
        display: block;
        padding: 0px 6px 6px;
        text-decoration: none;
    }

        .divLeftNav a:hover {
            opacity: 0.75;
            filter: alpha(opacity=75);
        }

    .divLeftNav hr {
        margin: 0 auto;
        clear: both;
        border: none;
        background-color: #EAEAEA;
        min-height: 2px; /*required for ie*/
    }

        .divLeftNav hr:last-child {
            display: none;
        }


/* Left Nav Expander */
.divLeftNavExpander {
    width: 148px;
    min-height: 368px;
    height: auto;
    display: table;
    position: absolute !important;
    margin-top: 0px !important;
    border-radius: 0 10px 10px 0 !important;
    top: 44px;
    right: 0;
    bottom: 0;
    left: -150px;
    z-index: 2000000020;
    visibility: hidden;
    opacity: .3;
    transition: all ease 0.4s;
}

    .divLeftNavExpander hr {
        width: 90%;
    }

.content-wrapper {
}

.btn-label {
    cursor: pointer;
    display: block;
    height: 28px;
    top: 13px;
    left: 10px;
    position: absolute;
    width: 18px;
}

    .btn-label .top {
        background-color: #fff;
        height: 3px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .btn-label .middle {
        background-color: #fff;
        height: 3px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 6px;
    }

    .btn-label .bottom {
        background-color: #fff;
        height: 3px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 12px;
    }

    .btn-label .label {
        display: none;
    }

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

    .nav-trigger:checked ~ .divLeftNavExpander {
        visibility: visible;
        opacity: 1;
        left: -3px;
    }


/*Module Icon*/
.moduleIcon {
    padding: 4px 0;
}

    .moduleIcon h1 {
        padding-top: 10px;
        padding-left: 48px;
    }

.homeModuleIconWhite {
    background: url(images/home-white.png) 0 100% no-repeat;
    height: 40px;
}

.alarmsModuleIconWhite {
    background: url(images/alarms-white.png) 0 100% no-repeat;
    height: 40px;
}

.analysisbuilderModuleIconWhite {
    background: url(images/analysis-builder-white.png) 0 100% no-repeat;
    height: 40px;
}

.buildingprofilesModuleIconWhite {
    background: url(images/building-profiles-white.png) 0 100% no-repeat;
    height: 40px;
}

.commissioningdashboardModuleIconWhite {
    background: url(images/commissioning-white.png) 0 100% no-repeat;
    height: 40px;
}

.diagnosticsModuleIconWhite {
    background: url(images/diagnostics-white.png) 0 100% no-repeat;
    height: 40px;
}

.documentsModuleIconWhite {
    background: url(images/documents-white.png) 0 100% no-repeat;
    height: 40px;
}

.energydashboardModuleIconWhite {
    background: url(images/performance-white.png) 0 100% no-repeat;
    height: 40px;
}

.equipmentprofilesModuleIconWhite {
    background: url(images/equipment-profiles-white.png) 0 100% no-repeat;
    height: 40px;
}

.kioskModuleIconWhite {
    background: url(images/kiosk-white.png) 0 100% no-repeat;
    height: 40px;
}

.operationsModuleIconWhite {
    background: url(images/operations-white.png) 0 100% no-repeat;
    height: 40px;
}

.performancedashboardModuleIconWhite {
    background: url(images/performance-white.png) 0 100% no-repeat;
    height: 40px;
}

.projectsModuleIconWhite {
    background: url(images/projects-white.png) 0 100% no-repeat;
    height: 40px;
}

.reportingModuleIconWhite {
    background: url(images/reporting-white.png) 0 100% no-repeat;
    height: 40px;
}

.tasksModuleIconWhite {
    background: url(images/tasks-white.png) 0 100% no-repeat;
    height: 40px;
}

.utilitybillingModuleIconWhite {
    background: url(images/utility-white.png) 0 100% no-repeat;
    height: 40px;
}


/*Secondary NAV Dropdowns*/
/* nav level one*/
ul.dropdown {
    position: relative;
}

    ul.dropdown li {
        float: left;
        zoom: 1;
        background: #ccc;
    }

    ul.dropdown a:hover {
    }

    ul.dropdown a:active {
    }

    ul.dropdown li a {
        display: inline-block;
        border-right: 1px solid #fff;
    }

    ul.dropdown li:last-child a {
        border-right: none;
    }
    /* Doesn't work in IE */
    ul.dropdown li.hover, ul.dropdown li:hover {
        background: #dfdfdf;
        position: relative;
    }

        ul.dropdown li.hover a {
        }

    /* nav level two*/
    ul.dropdown ul {
        width: 175px;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
    }

        ul.dropdown ul li {
            font-weight: normal;
            background: #fff;
            color: #000;
            border-bottom: 1px solid #C0C0C0;
            border-left: 1px solid #C0C0C0;
            border-right: 1px solid #C0C0C0;
            float: none;
        }
            /* IE 6 & 7 Needs Inline Block */
            ul.dropdown ul li a {
                text-decoration: none;
                color: Black;
                border-right: none;
                width: 100%;
                display: inline-block;
                padding: 4px 8px;
            }

    ul.dropdown li:hover > ul {
        visibility: visible;
    }


/*Buttons*/
.content .middle .button,
.content .middle .lnkButton {
    display: block;
    width: 137px;
    height: 42px;
    margin-bottom: .5em;
    background: url(images/button-default.png) no-repeat;
    text-align: center;
    line-height: 42px;
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}

.content .middle .buttonInline,
.content .middle .lnkButtonInline {
    display: inline-block;
    width: 137px;
    height: 42px;
    margin-bottom: .5em;
    background: url(images/button-default.png) no-repeat;
    text-align: center;
    line-height: 42px;
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}

.content .middle .button:hover,
.content .middle .lnkButton:hover {
    background: url(images/button-hover.png) no-repeat;
}

.content .middle .disabled {
    background: url(images/button-disabled.png) no-repeat !important;
    color: #ddd !important;
    cursor: default !important;
}

    .content .middle .disabled:hover {
        background: url(images/button-disabled.png) no-repeat !important;
        color: #ddd !important;
    }

/* Arrow Buttons */
.divArrows {
    width: 242px;
    padding-bottom: 38px;
}

.divArrowsWide {
    width: 318px;
    padding-bottom: 38px;
}

.divArrowsWider {
    width: 398px;
    padding-bottom: 38px;
}

.divGridArrows {
    width: 243px;
    padding-bottom: 38px;
    padding-left: 64px;
}

.content .middle .up-arrow {
    display: block;
    height: 36px;
    float: left;
    padding-bottom: 2px;
}

.content .middle .down-arrow {
    display: block;
    height: 36px;
    float: right;
    padding-bottom: 2px;
}


/*Calendar image*/
.imgCal {
    vertical-align: middle;
}


/*Form Inputs/Labels*/
.content .middle div .label {
    position: absolute;
    text-align: right;
    display: block;
    padding-right: 10px;
    left: 0;
    color: #1e1e1e;
}

.content .middle div .labelNarrow {
    position: absolute;
    text-align: right;
    display: block;
    width: 160px;
    padding-right: 10px;
    left: 0;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #1e1e1e;
}

.content .middle div .labelNarrowBold {
    position: absolute;
    text-align: right;
    display: block;
    width: 160px;
    padding-right: 10px;
    left: 0;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #1e1e1e;
    font-weight: bold;
}

.content .middle div .labelNarrowest {
    position: absolute;
    text-align: right;
    display: block;
    width: 100px;
    padding-right: 10px;
    left: 0;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #1e1e1e;
}

.content .middle div .labelWide {
    position: absolute;
    text-align: right;
    display: block;
    padding-right: 10px;
    left: 0;
    color: #1e1e1e;
}

.content .middle div .labelLeft {
    position: relative;
    padding-right: 10px;
    left: 0;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #1e1e1e;
}

.content .middle div .labelContent {
    padding: 2px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #1e1e1e;
}

.content .middle div .labelContentNarrow {
    padding: 2px;
    line-height: 21px;
    font-size: 12px;
    color: #1e1e1e;
    width: 424px;
    display: inline-block;
}

.content .middle div .labelTwoColumn {
    position: absolute;
    text-align: right;
    display: block;
    width: 146px; /*326px kgs*/
    padding-right: 10px;
    left: 0;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #1e1e1e;
}

.content .middle div .labelThreeColumn {
    position: absolute;
    text-align: right;
    display: block;
    width: 102px;
    padding-right: 10px;
    left: 0;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #1e1e1e;
}

.content .middle div .gridLabel {
    float: left;
    padding-right: 5px;
}

.content .middle div .textbox {
    width: 226px;
    border: 0;
    background: transparent url(images/modal-input-bg.png) no-repeat;
    height: 16px;
    padding: 3px;
    font-size: 11px;
}

.content .middle div .textboxNarrow {
    /*TODO: create narrower textbox image*/
    width: 168px;
    border: 0;
    background: transparent url(images/modal-input-bg.png) no-repeat;
    height: 16px;
    padding: 3px;
    font-size: 11px;
}

.content .middle div .textboxNarrower {
    /*TODO: create narrower textbox image*/
    width: 120px;
    border: 0;
    background: transparent url(images/modal-input-bg.png) no-repeat;
    height: 16px;
    padding: 3px;
    font-size: 11px;
}

.content .middle div .textboxNarrowest {
    /*TODO: create narrower textbox image*/
    width: 80px;
    border: 0;
    background: transparent url(images/modal-input-bg.png) no-repeat;
    height: 16px;
    padding: 3px;
    font-size: 11px;
}

.content .middle div .listboxNarrowestOuterDivHorizontalScroll {
    overflow-x: auto;
    overflow-y: hidden;
    width: 230px;
}

.content .middle div .listboxNarrowestWithHorizontalScroll {
    min-width: 100%;
    height: 100px;
    font-size: 11px;
}

.content .middle div .listboxNarrowest {
    width: 230px;
    height: 100px;
    font-size: 11px;
}

.content .middle div .listbox {
    width: 246px;
    height: 100px;
    font-size: 11px;
}

.content .middle div .listboxWide {
    width: 320px;
    height: 100px;
    font-size: 11px;
}

.content .middle div .listboxWider {
    width: 400px;
    height: 100px;
    font-size: 11px;
}

.content .middle div .dropdown {
    width: 230px;
    font-size: 11px;
    height: 18px;
}


.content .middle div .dropdownNarrow {
    width: 146px;
    font-size: 11px;
    height: 18px;
}

.content .middle div .dropdownNarrowLeft {
    width: 146px;
    font-size: 11px;
    height: 18px; 
    position: absolute;  
    left: 180px;    
}

.content .middle div .dropdownNarrowFloatRight {
    width: 146px;
    font-size: 11px;
    float: right;
    height: 18px;
}

.content .middle div .dropdownNarrower {
    width: 80px;
    font-size: 11px;
    height: 18px;
}

.content .middle div .dropdownArrowOnly {
    width: 24px;
    background: none;
    border-width: 0px;
    float: right;
    direction: rtl;
    padding-right: 4px;
    font-size: 10px;
    height: 18px;
}

.content .middle div .dropdownNarrowRight {
    width: 146px;
    font-size: 11px;
    float: right;
    height: 18px;
}

.content .middle div .checkbox {
    font-size: 11px;
}

.content .middle div .radio {
    font-size: 11px;
}

.content .middle div .editor {
}

.content .middle div .editorNewLine {
    margin: 10px 0px 10px 105px;
}

.content .middle div .editorNarrow {
    display: table; /*temp fix for editor in modal layout. test next telerik upgrade.*/
}

.content .middle div .textareaWide {
    margin: 10px 0px 0px 105px;
}

.content .middle div .textareaWideLabel {
    display: block;
}

.content .middle div .textareaWideCharacterDiv {
    margin: 0px 0px 10px 105px;
}

.content .middle div .sliderDisplay {
    margin-top: -2px;
    position: absolute;
    width: 24px;
}

.content .middle div .sliderDisplayWide {
    margin-top: -2px;
    position: absolute;
    width: 38px;
}

.content .middle div .divListSearchExtender {
    display: block;
    height: 14px;
}

.content .middle div .radColorPicker {
    display: inline-block;
    position: relative;
    padding-left: 2px;
    vertical-align: middle;
    margin-top: -4px;
}

/*Form Links*/
.content .middle div .link {
    color: blue;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
}

    .content .middle div .link:hover {
        text-decoration: underline;
    }


/*Messages*/
.defaultMessage {
    font-family: Arial, Helvetica, sans-serif;
}

.errorMessage {
    font-family: Arial, Helvetica, sans-serif;
    color: Red;
    font-weight: bold;
}

.successMessage {
    font-family: Arial, Helvetica, sans-serif;
    color: Green;
    font-weight: bold;
}

.overrideMessage {
    font-family: Arial, Helvetica, sans-serif;
    color: Blue;
    font-weight: bold;
}

.narrowMessage {
    font-family: Arial, Helvetica, sans-serif;
    width: 586px;
    display: block;
}


/*Generate Button*/
.divGenerateButton {
    float: left;
    margin-top: 2px;
}

/*Email/Download*/
.divDownloadBox, .divActionBox {
    background-color: #FCFCFC;
    border: 2px solid #DFDFDF;
    position: absolute;
    width: 264px;
    z-index: 1; /*firefox*/
    margin-top: 4px;
}

.divDownloadBoxNoTopMargin {
    background-color: #FCFCFC;
    border: 2px solid #DFDFDF;
    margin-left: 624px;
    position: absolute;
    width: 264px;
    z-index: 1; /*firefox*/
}

.divDownloadBoxInTabControl {
    background-color: #FCFCFC;
    border: 2px solid #DFDFDF;
    margin-left: 598px;
    position: absolute;
    width: 264px;
    z-index: 1; /*firefox*/
}

.divDownloadBox2 {
    background-color: #FCFCFC;
    border: 2px solid #DFDFDF;
    padding: 2px;
    float: right;
}

.divEmail, .divDownload, .divUpload, .divAction {
    display: block;
    float: left;
    padding: 2px 4px 2px 4px;
    position: relative;
    width: 100%; /*IE 8 fix*/
}

.lnkEmail, .lnkDownload, .lnkUpload, .linkAction {
    display: block;
    float: left;
    padding: 4px 0px 0px 6px;
    font-size: 11px;
}

.imgEmail, .imgDownload, .imgUpload {
    display: block;
    float: left;
}

.downloadDiv {
    padding: 2px 0 2px 20px;
    float: left; /*IE 8 fix*/
}

    .downloadDiv input {
        margin-bottom: -2px;
    }


/*Search*/
.divSearch {
    clear: both;
    display: block;
    padding-top: 6px;
    position: relative;
    width: 320px;
}

.lnk-search-button {
    width: 18px;
    height: 18px;
    background: url(images/search.png) no-repeat;
    float: right;
    margin-top: 1px;
}

.viewAll {
    border-right: 2px solid #EEEDED;
    padding-right: 8px;
    margin-right: 4px;
}


/*Quick Dates*/
.quickDates a {
    margin-left: 5px;
}

.quickDates {
    font-size: .825em;
}

.divFormTwoColumn.quickDates {
    text-align: right;
    margin-right: 32px;
}

/*Repeater*/

/*Account Page Secondary Header*/
.divSecondaryHeader {
    padding: 10px 0px 5px;
    width: 100%;
}


/*All Grids*/
#gridTbl table {
    width: 100%;
}

#gridTbl tr th {
    padding: 6px 2px 4px 2px !important;
    text-align: center;
}

#gridTbl tr.tblTitle a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: underline;
    font-weight: normal;
}

#gridTbl tr.tblGroupedTitle th {
    text-decoration: underline;
}

#gridTbl table tr td {
    vertical-align: middle;
    padding: 2px !important;
}

#gridTbl tr.tblCol1 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: underline;
    font-weight: normal;
}

#gridTbl tr.tblCol1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: Black;
    background-color: #efefef;
}

#gridTbl tr.tblCol2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: Black;
    background-color: #fff;
}

#gridTbl table tr {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#gridTbl table table tr a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: underline;
    padding: 2px;
}

    #gridTbl table table tr a:hover {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-decoration: none;
        padding: 2px;
        font-weight: bold;
    }

#gridTbl .pageTable {
    width: auto;
}

#gridTbl .pageLink:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: Blue;
    text-decoration: underline;
    font-weight: bold;
}

#gridTbl .pageLink {
    font-weight: bold;
    text-decoration: none;
}

#gridTbl .pageTxt {
    color: Blue;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    width: 100%;
}

#gridTbl .pageTable span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /*larger so a hover underline doesnt make line larger and push content down.*/
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
}

#gridTbl .gridAlignRight {
    text-align: right;
}

#gridTbl .gridAlignCenter {
    text-align: center;
}

.gridSortAscending {
    background-position: 50% top;
    background-image: url('../images/grid-up.gif');
    background-repeat: no-repeat;
}

.gridSortDescending {
    background-position: 50% top;
    background-image: url('../images/grid-down.gif');
    background-repeat: no-repeat;
}

.gridHeaderInfo {
    background-image: url('../styles/images/info.gif');
    background-position: 100% center;
    background-repeat: no-repeat;
    display: inline;
    padding-left: 14px;
}


/*Details Lists */

.detailsList > li > strong {
    display: block;
    left: 0;
    position: absolute;
    text-align: right;
    width: 220px;
}

.detailsList > li {
    /*height:16px;  removed for descpription fields */
    padding-left: 230px;
    position: relative;
}

.detailsListNarrow > li > strong {
    display: block;
    left: 0;
    position: absolute;
    text-align: right;
    width: 160px;
}

.detailsListNarrow > li {
    /*height:16px;  removed for descpription fields */
    padding-left: 170px;
    position: relative;
}

.detailsListWide > li > strong {
    display: block;
    left: 0;
    position: absolute;
    text-align: right;
    width: 280px;
}

.detailsListWide > li {
    /*height:16px;  removed for descpription fields */
    padding-left: 290px;
    position: relative;
}

.detailsListWider > li > strong {
    display: block;
    left: 0;
    position: absolute;
    text-align: right;
    width: 340px;
}

.detailsListWider > li {
    /*height:16px;  removed for descpription fields */
    padding-left: 350px;
    position: relative;
}

.detailsListWidest > li > strong {
    display: block;
    left: 0;
    position: absolute;
    text-align: right;
    width: 460px;
}

.detailsListWidest > li {
    /*height:16px;  removed for descpription fields */
    padding-left: 470px;
    position: relative;
}

.detailsList li .imgPreview, .detailsListWide li .imgPreview, .detailsListWider li .imgPreview, .detailsListWidest li .imgPreview {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}


.detailsListSeperateLines li strong {
}

.detailsListSeperateLines li {
    position: relative;
    padding-bottom: 8px;
}

    .detailsListSeperateLines li div {
        padding-left: 40px;
    }

        .detailsListSeperateLines li div a {
            padding: 0px !important;
        }



.detailsListDefinitions li {
    padding-left: 100px;
    padding-bottom: 8px;
}

    .detailsListDefinitions li strong {
        margin-left: -40px;
    }

    .detailsListDefinitions li span {
        padding-left: 8px;
    }


.detailsListProperties li {
    padding-left: 70px;
    padding-bottom: 8px;
}

    .detailsListProperties li strong {
        margin-left: -50px;
    }

.detailsListProperties dl {
    font-size: 12px;
}

    .detailsListProperties dl dt {
        float: left;
    }

    .detailsListProperties dl dd {
        display: table;
        padding-left: 4px;
    }

/*Content Pre Wrap, Work Break*/
.divContentPreWrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*Image Previews*/
.imgFormPreview {
    /*same as profile image*/
    width: 144px !important;
    height: 108px !important;
    vertical-align: middle;
}

.imgDetailsListPreview {
    width: 72px !important;
    height: 54px !important;
}


/*Home Page*/
.homeColumns {
}

    .homeColumns h3 {
        font-size: 16px;
        padding-bottom: 1em;
    }

.homeLeftColumn {
    display: block;
    float: left;
    padding-bottom: 6px;
}

    .homeLeftColumn ul li p {
        padding: 5px 15px 5px 20px;
    }

.homeRightColumn {
    display: block;
    float: left;
    padding-bottom: 6px;
}

.homeBottom {
    display: block;
}


/*style for provider/client view link*/
.providerClientViewLink {
    width: 100%;
    position: relative;
    right: 4px;
    text-align: right;
    padding: 0px 0px 5px 0px;
}



/* Account/Registration */
.pnlAccount div {
    padding: 15px 0 0 336px; /*242px original, 336px kgs*/
    position: relative;
}

    .pnlAccount div.divSecondaryHeader {
        padding-left: 0;
    }

        .pnlAccount div.divSecondaryHeader hr {
            display: none;
        }

        .pnlAccount div.divSecondaryHeader h3 {
            font-size: 16px !important;
            color: #1e1e1e !important;
        }

/*Release Notes Page*/
.releaseNotesTree {
    display: block;
    float: left;
    height: 370px;
    margin-right: 4px;
    overflow: auto;
    position: relative;
    width: 240px;
}

.releaseNotesDetails {
    border-left: 1px solid black;
    display: block;
    height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 6px;
    position: relative;
}


/*Reporting and Diagnostics Graphs*/
.divGraph {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 4px;
}

    .divGraph img {
        max-width: 100% !important;
        height: auto !important;
    }


/*Status Colors*/
.statusGreen {
    color: Green;
}

.statusRed {
    color: Red;
}

.statusBlue {
    color: Blue;
}

/*Logs*/
.divLogs {
    height: 360px;
    width: 700px;
    overflow: auto;
    border: 1px solid darkgray;
    resize: vertical;
    font-family: consolas, courier;
}


/*Token Variable Classes*/
.hiddenTokenClass {
    display: none;
}

/*Ajax Tabs overide default styles*/
.ajax__tab_body {
    font-family: inherit !important;
    font-size: inherit !important;
}

.ajax__tab_header {
    font-family: inherit !important;
}

.ajax__tab_tab {
    color: inherit !important;
}

/*Administration Tabs*/
.administrationControls {
    overflow: hidden;
    border-bottom: 2px solid #EAEAEA;
    border-top: 2px solid #EAEAEA;
    padding: 10px 0;
    min-height: 250px;
}

/*GroupingRepeater control*/
.groupRepeaterHeader {
    border-top: 2px solid #eeeded;
    border-bottom: none;
    padding: 16px 0;
    position: relative;
}

.groupRepeaterItem {
    position: relative;
    padding: 0 0 16px 0;
}

    .groupRepeaterItem h3 {
        font-size: 13px !important;
        color: #1e1e1e !important;
        font-weight: bold !important;
        width: 630px;
        padding: 0 0 0 15px;
        display: inline-block;
    }

    .groupRepeaterItem a {
        position: absolute;
        right: 16px;
    }

    .groupRepeaterItem div {
        border-top: medium none;
        padding: 10px 36px 0 36px;
        position: static;
    }

/*Ajax controls*/

.maskedEditValidator {
}

.listSearchExtender {
    font-size: 11px;
    color: #333;
}

/*Colapsible panel toggle links*/
a.toggle {
    color: blue;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
}

    a.toggle:hover {
        text-decoration: underline;
    }

a.togglePadded {
    color: blue;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    display: block;
    padding-top: 4px;
}

    a.togglePadded:hover {
        text-decoration: underline;
    }

/*Update Progress*/
.updateProgressDiv {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #616161;
    font-weight: bold;
}

    .updateProgressDiv img {
        float: left;
        height: 20px;
    }

    .updateProgressDiv span {
        float: left;
        padding-left: 4px;
        padding-top: 3px;
    }

.updateProgressDivForWidgets {
    min-height: 100%;
    min-width: 100%;
    text-align: center;
}

/*telerik radgrid*/
.RadGrid_Default .rgRow a, 
.RadGrid_Default .rgAltRow a, 
.RadGrid_Default .rgEditRow a, 
.RadGrid_Default tr.rgEditRow a, 
.RadGrid_Default tr.rgHoveredRow a, 
.RadGrid_Default tr.rgActiveRow a, 
.RadGrid_Default .rgFooter a, 
.RadGrid_Default .rgEditForm a {
    color: blue !important;
}


/*telerik tab overides for content pages only, not dashboards*/
.content .radMultiPage {
    border: 1px solid #999;
    padding: 8px;
}

.content .rtsIn {
    padding: 0px !important;
}

.content .rtsLink {
    padding-left: 7px !important;
    font: 11px/24px Arial, Helvetica, sans-serif !important;
    text-decoration: none !important;
}

.content .rtsAfter {
    padding-left: 9px !important;
}

.content .rtsUL {
    height: 20px !important;
}

.content .rtsTxt {
    padding: 0px 2px !important;
}

.content .rtsOut {
    padding-right: 4px !important;
}

.content .rtsLast .rtsOut {
    padding-right: 14px !important;
}

/*telerik input overides*/
.RadInput_Default .riTextBox, .RadInputMgr_Default, .RadInput_Default {
    font-size: 11px !important;
    color: #000000 !important;
    font-family: Microsoft Sans Serif !important;
    box-sizing: inherit !important;
}

.RadPicker_Default .RadInput_Default .riTextBox, .RadPicker_Default .RadInput_Default {
    box-sizing: border-box !important;
}

/*telerik radDatePicker calendar z-index is 5002 but it must be higher then our modals at 10001*/
.RadCalendarPopup {
    z-index: 10002 !important;
}

.RadCalendarFastNavPopup {
    z-index: 10003 !important;
}

/*Spark Table Format*/
.tblSparks {
    width: 100%;
}

    .tblSparks th {
        text-align: center;
        color: #787878;
        background-color: #fff;
    }

    .tblSparks tr {
        font-size: 11px;
    }

    .tblSparks td {
        font-size: 11px;
        padding: 0px 1px;
    }

    .tblSparks tr:nth-child(odd) {
        background-color: #efefef;
    }

/* 
used for placing large amounts of content in to a more UI friendly format
example of use is here: /KGSEquipmentTypeAdministration.aspx assignment output display 
*/
.contentScrollBox {
    margin: 0 0 0.625em 0;
    padding: 0.125em;
    border: 1px solid #A9A9A9;
    height: 18.750em;
    width: max-content;
    overflow: auto;
}

/*scrollable div*/
.scrollableDiv{
    overflow-y: auto;
    overflow-x: auto;
}

/*consumption chart or table area*/
.tableDiv {
    height: 400px;
}

.hiTableHeader{
    font-size: 1.2em;
    height: 2.2em;
    background: #fff;
}