/* CSS IE8*/

/* Update Panel*/
#updatePanelMain{
	position:relative;
	right:0px;
}


/* Primary Nav */
.header .divHeaderBar ul#utility{
	float: none !important;
}
	
.divSelectClient,
.divSelectModule
{        
    padding-top: 1px !important;
}


/*Secondary Nav */		
.divSecondaryNav{
	padding-bottom: 4px;	
}	


/*Search*/
.lnk-search-button
{
    position: absolute;
}