/* _____Global 960 display styles_____ */
    .container, .containerHome
    {
        width: 960px;
    }	
	
	
/*Header*/
    .header .inner
    {
        width: 910px; /*960-50 = 910px*/
    }
	

/*Content*/
    .dashboardContent
    {
        width: 880px;  /*960 - (60width - 3border - 3 border left nav) - (14 content margin) = 880*/
        float: left;
    }
    .content
    {
        width: 880px; 
    }


 /*Left Nav Responsive*/
    .divLeftNavResponsive
    {
        width: 60px;
        min-height: 368px;
    }
    .divLeftNavResponsive a
    {
        padding: 0px 10px 6px;
    }
    .divLeftNavResponsive h1
    {
        display: none;
    }
    .divLeftNavResponsive hr
    {
        width: 76%;
    }

    			
/*Secondary Nav Hovers*/
    .divSecondaryNav, .divDoubleSecondaryNav, .divTripleSecondaryNav
    {
        width: 880px;
    }		
	div.diagnosticsNav, div.adminNav, div.sysAdminNav, div.helpNav, div.kgsAdminNav, div.profileNav
	{
		width: 880px;  	
	}
    div.hoverBtn a, div.hoverBtn div, div.hoverBtn
    {
        width: 80px !important;
    }


/*Secondary NAV Dropdowns*/
	/* nav level two*/
    ul.dropdown ul
    {
        width: 160px;
    }

/*Footer*/
    .footer .inner
    {
        width: 936px; /*960-24 = 936px*/
    }

/*Form layout*/
	.divForm{
		padding:4px 0 0 336px;  /*336px kgs*/
    }
    .divFormNarrow
	{
		padding:4px 0 0 434px; 
	}
    .divFormShort{
		padding-left: 336px;  /*336px kgs*/
	}

/*Form Inputs/Labels*/
    .content .middle div .label{
		width:326px;  /*326px kgs*/
		height:22px;
		line-height:22px;
		font-size:12px;
	}
	.content .middle div .labelWide{
		width: 424px; 
		height:22px; 
		line-height:22px; 
		font-size:12px;
	}

/*Details Lists */
    .detailsList > li
	{
        width: 636px;        
	}

/*Search*/
	.divSearch
	{		
        margin-left: 520px;
	}

/*Email/Download*/
    .divDownloadBox, .divActionBox
    {
        margin-left: 590px;
    }	
    .divDownloadBoxNoTopMargin
	{
		 margin-left: 590px;
	}
    .divDownloadBoxInTabControl
    {
        margin-left: 564px;
    }

/*Spark Table*/
    .sparkHeader, .sparkColumn > div {
        display: none;
    }


/* _____OTHER CSS FILES 960 display styles_____ */

/*Home*/
    .homeLeftColumn, .homeRightColumn
    {
        width: 50%;
    }

/*RadDock*/
    .radDockSmall
    {
       width: 422px !important;
    }
    .radDockMedium
    {
       width: 422px !important;
    }
    .radDockLarge
    {
        width: 852px !important;
    }

/*Profiles*/
    .profileLeftColumn
    {
         width: 590px;  
         margin-right: 6px;
    }	
    .profileRightColumn
    {
         width: 256px;
         margin-left: 6px;   
    } 

/*Documents*/
    .divDocumentsTaggerLeft, .divDocumentsTaggerRight
    {
        width: 410px !important;
    }

/*Reports*/
    .reportLeftColumn, .reportRightColumn
    {
        width: 407px;
    }

/*Diagnostics*/
    #gridTbl table tr td .divNotesSummary
	{
	    /*max this can be is somewhere around 230 to handle all the browser zooms, and full grid columns with a cost at 6 figures*/
	    width: 230px;
	}

/*Dashboard*/
    .dashboardLeftColumn,.dashboardRightColumn{
	    width: 50%;
    }

/*Tasks*/
    .tasksLayout960HiddenColumn
    {
        display: none;
    }

/*Live Data Dashboard*/
    .dashboardBodyInner, .dashboardHomeBodyInner
    {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .dashboardBodyRightColumnWithTabs
    {
        width: 710px;
    }
    .dashboardBottomBodyLeftColumn
    {
        padding-left: 0px;
        float: none;
        clear: both;
    }
    .widgetBoxWidest
    {
        overflow-x: scroll;
        width: auto;
    }
    /*.radMultiPage
    {
        width: 100% !important;
    }*/

/*Widgets*/
    .processingWidgetDiv
    {
        overflow-x: scroll;
    }

/*Docks*/
    .iframeInitialDisplay {
        width: 406px !important;
    }

    .iframeInitialDisplayFull {
        width: 836px !important;
    }