/* _____Global 1280 display styles_____ */
    .container, .containerHome
    {
        width: 1248px; /*1280 - 20 for vertical scrollbar - 6 and 6 for padding = 1248*/
    }	
	
	
/*Header*/
    .header .inner
    {
        width: 1208px; /*1248-40 - 1208*/
    }
	

/*Content*/
    .dashboardContent
    {
        width: 1080px; /*1248 - (148width - 3border - 3 border left nav) - (14 content margin) = 1080*/
    }
    .content
    {
        width: 1080px; 
    }


 /*Left Nav Responsive */
    .divLeftNavResponsive
    {
        width: 148px;
        min-height: 368px;
    }
    .divLeftNavResponsive hr
    {
        width: 90%;
    }

/*Secondary Nav Hovers*/
    .divSecondaryNav, .divDoubleSecondaryNav, .divTripleSecondaryNav
    {
        width: 1080px; 
    }		
	div.diagnosticsNav, div.adminNav, div.sysAdminNav, div.helpNav, div.kgsAdminNav, div.profileNav
	{
		width: 1080px;  	
	}	
    div.hoverBtn a, div.hoverBtn div, div.hoverBtn
    {
        width: 90px !important;
    }

/*Secondary NAV Dropdowns*/
	/* nav level two*/
    ul.dropdown ul
    {
        width: 180px;
    }

/*Footer*/
    .footer .inner
    {
        width: 1224px; /*1248-24 - 1224*/
    }

/*Form layout*/
	.divForm{
		padding:4px 0 0 336px;  /*336px kgs*/
    }
    .divFormNarrow
	{
		padding:4px 0 0 434px; 
	}
    .divFormShort{
		padding-left: 336px;  /*336px kgs*/
	}

/*Form Inputs/Labels*/
    .content .middle div .label{
		width:326px;  /*326px kgs*/
		height:22px;
		line-height:22px;
		font-size:12px;
	}
	.content .middle div .labelWide{
		width: 424px; 
		height:22px; 
		line-height:22px; 
		font-size:12px;
	}

/*Details Lists */
    .detailsList > li
	{
        width: 636px;        
	}
                	
/*Search*/
	.divSearch
	{		
        margin-left: 720px;
	}
	
/*Email/Download*/
    .divDownloadBox, .divActionBox
    {
        margin-left: 790px;
    }
    .divDownloadBoxNoTopMargin
	{
		 margin-left: 790px;
	}
    .divDownloadBoxInTabControl
    {
        margin-left: 764px;
    }


/* _____OTHER CSS FILES 1280 display styles_____ */

/*Home*/
    .homeLeftColumn, .homeRightColumn
    {
        width: 50%;
    }

 /*RadDock*/
    .radDockSmall
    {
       width: 520px !important; 
    }
    .radDockMedium
    {
       width: 520px !important; 
    }
    .radDockLarge
    {
        width: 1050px !important;
    }

/*Profiles*/
    .profileLeftColumn
    {
         width: 720px;  
         margin-right: 6px;
    }	
    .profileRightColumn
    {
         width: 326px;
         margin-left: 6px;
    }

/*Documents*/
    .divDocumentsTaggerLeft, .divDocumentsTaggerRight
    {
        width: 510px !important;
    }

/*Reports*/
    .reportLeftColumn, .reportRightColumn
    {
        width: 507px;
    }

/*Diagnostics*/
    #gridTbl table tr td .divNotesSummary
	{
	    /*max this can be to handle all the browser zooms, and full grid columns with a cost at 6 figures*/
	    width: 270px;
	}

/*Dashboard*/
    .dashboardLeftColumn,.dashboardRightColumn{
	    width: 50%;
    }

/*Live Data Dashboard*/
    .dashboardBodyRightColumnWithTabs
    {
        width: 910px;
    }
    .dashboardBottomBodyLeftColumn
    {
        padding-left: 16px;
        float: left;
    }

/*Docks*/
    .iframeInitialDisplay {
        width: 504px !important;
    }

    .iframeInitialDisplayFull {
        width: 1034px !important;
    }