/* _____Global 640 display styles_____ */
    .container, .containerHome
    {
        width: 640px;
    }

    /*TODO add to non mobile elements*/
    .noMobile
    {
        display: none;
    }
	
	
/*Header*/
    .header{
	    min-width: 640px;
    }
    .header .inner
    {
        width: 590px; /*640-50 = 590*/
    }
    .header .divHeaderBar ul#utility li
    {
        padding: 0 6px;
    }

/*Header Bar: Login, Primary Nav, and Primary Nav Dropdowns*/
    .divSelectClient
	{        
		margin-left: 6px;
		padding: 4px 0 2px 4px;
	}
    .divSelectModule
    {
        display: none;
    }
    
    .divSelectClient label, .divSelectModule label {
        padding-right: 2px;
    }

    .divSelectClient select, .divSelectModule select
    {
        padding: 1px 0;
        width: 17px;
    }	

/*Content*/
    .dashboardContent
    {
        width: 640px;
        margin: 0 auto;
    }
    .content
    {
        width: 640px; 
        margin: 0 auto;
    }
    .content .top, .dashboardContent .top {
        height: 4px;
    }
    /*.profilesContent .middle
    {
        position:relative;
    }*/


 /*Left Nav Responsive*/
    .divLeftNavResponsive
    {
        width: 634px; /*640- 3 - 3 left nav border*/
    }
    .divLeftNavResponsive > div
    {
        float: left;
        width: 46px;
    }
    .divLeftNavResponsive a
    {
        padding: 0px 3px 6px;
    }
    .divLeftNavResponsive h1
    {
        display: none;
    }
    .divLeftNavResponsive hr {
        width:2px;
        height:38px;
        margin-top:8px;
        float: left;
        clear: none;
    }

    			
/*Secondary Nav Hovers*/
    .divSecondaryNav, .divDoubleSecondaryNav, .divTripleSecondaryNav
    {
        width: 640px;
        margin: 0 auto;
    }			
	div.diagnosticsNav, div.adminNav, div.sysAdminNav, div.helpNav, div.kgsAdminNav, div.profileNav
	{
		width: 640px;  	
	}
    div.hoverBtn a, div.hoverBtn div, div.hoverBtn
    {
        width: 64px !important;
    }


/*Secondary NAV Dropdowns*/
	/* nav level two*/
    ul.dropdown ul
    {
        width: 160px;
    }
    ul.dropdown li a
    {
        overflow: hidden;
        font-size: 10px;
    }

/*Footer*/
    .footer .inner
    {
        width: 630px; /*640-10 = 630*/
    }


/*Form layout*/
    .divForm, .divFormNarrow, .divFormShort
    {
        padding: 4px 0 0 200px;
    }

/*Form Inputs/Labels*/
    .content .middle div .label, .content .middle div .labelWide
    {
        width: 190px;
        font-size: 11px;
        height: 22px;
        line-height: 11px;
    }
    .content .middle div .editor, .content .middle div .editorNewLine, .content .middle div .editorNarrow {    
        width: 100% !important;
        margin: 0 auto;
    }
    .content .middle div .textareaWide {    
        width: 100% !important;
        margin: 0 auto;
    }
    .content .middle div .textareaWideCharacterDiv
    {
        margin: 0 auto;
    }

/*Details Lists */
    .detailsList > li
    {
        width: auto;
    }

/*Search*/
	.divSearch
	{		
        display: none;
	}
	
/*Email/Download*/
    .divDownloadBox, .divDownloadBox2, .divActionBox
    {
        display: none;
    }
    .divDownloadBoxNoTopMargin, .divDownloadBoxInTabControl
    {
        display: none;
    }
    .downloadDiv
    {
        display: none;
    }

/*telerik tab overides for content pages only, not dashboards*/
    .content .rtsLI
    {
        max-width: 68px;
    }
    .content .rtsLI span
    {
        overflow: hidden;
    }

/*Spark Table*/
    .sparkHeader, .sparkColumn > div {
        display: none;
    }


/* _____OTHER CSS FILES 640 display styles_____ */

/*Home*/
    .homeLeftColumn, .homeRightColumn
    {
        width: auto
    }

/*RadDock*/
    .radDockSmall
    {
       width: 302px !important;
    }
    .radDockMedium
    {
       width: 610px !important;
    }
    .radDockLarge
    {
        width: 610px !important;
    }
	

/*Profiles*/
    .profileLeftColumn, .profileRightColumn
    {
         width: 100%;
         margin: 0 auto;
    }
    .profileRightColumn .block:nth-of-type(1)
    {
         display: none !important;
    }
    .divInitialSelection
    {
        visibility: visible !important;
    }

/*Documents*/
    .divDocumentsTaggerLeft, .divDocumentsTaggerRight
    {
    }

/*Reports*/
    .reportLeftColumn
    {
        width: 600px;        
    }
    .reportRightColumn, .reportTop
    {
        display: none !important;
    }
    .divDataDownloads
    {
        display: none !important;
    }
    .divReportComments
    {
        display: none !important;
    }

/*Diagnostics*/
    #gridTbl table tr td .divNotesSummary
    {
        width: auto;
    }

/*Dashboard*/
    .dashboardLeftColumn, .dashboardRightColumn{
	    width: auto;
    }
    .imgDashboardDownload
    {
        display: none !important;
    }

/*Tasks*/
    .tasksLayout640HiddenColumn, .tasksLayout960HiddenColumn
    {
        display: none;
    }

/*Live Data Dashboard*/
    .dashboardBodyInner, .dashboardHomeBodyInner
    {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .dashboardBodyRightColumnWithTabs
    {
        width: 470px;
    }
    .dashboardBottomBodyLeftColumn
    {
        padding-left: 0px;
        float: none;
        clear: both;
    }
    .widgetBoxWidest
    {
        overflow-x: scroll;
        width: auto;
    }
    /*.radMultiPage
    {
        width: 100% !important;
    }*/


/*Widgets*/
    .processingWidgetDiv
    {
        overflow-x: scroll;
    }

/*Docks*/
    .iframeInitialDisplay {
        width: 594px !important;
    }

    .iframeInitialDisplayFull {
        width: 594px !important;
    }
    .imgDockDownload
    {
        display: none !important;
    }