/*Modal Styles */
	.modalBackground {
		background-color:#000000;
		filter:alpha(opacity=75);
		opacity:0.75;
        z-index: 10000 !important;
	}
	
	.modalBackgroundLight {	
	}
	
	.modalPanel
	{
	    position:relative;
		padding:38px 0;
		width:335px;
        z-index: 10001 !important;
	}

	.modalPanelLight
	{
	    position:relative;
		padding:38px 14px;
		width:356px;		
		background-color:#fff;
		border: 6px solid #ccc;
		/*radEditor showonfocus tool z-index is around 10002,so we must be lower*/
		z-index: 10001 !important;
	}
    .modalPanelLightWide
	{
	    position:relative;
		padding:38px 14px;
		width:576px;		
		background-color:#fff;
		border: 6px solid #ccc;
		/*radEditor showonfocus tool z-index is around 10002,so we must be lower*/
		z-index: 10001 !important;
	}
    
    .modalContent
    {
        color:#eee;
    }
    
    .modalContentLight
    {
        color:#555;
        font-size: 13px;
    }
    
    .divFormModal{
		padding:16px 0 0 105px;
		position:relative;
	}
	
	.modalLabel {
		color:#eee;
		position:absolute;
		text-align:right;
		/*display:block;*/
		width:95px;
		padding-right:10px;
		left:0;
		height:22px;
		line-height:22px;
	} 
	
    .modalLabelLight {
		color:#555;
		position:absolute;
		text-align:right;
		/*display:block;*/
		width:95px;
		padding-right:10px;
		left:0;
		height:22px;
		line-height:22px;
	} 

    .modalTitle
    {
        color:#eee;
        font-size:20px;
		/*color:#eee !important;*/
		font-family:Arial, Helvetica, sans-serif;
		padding:0 0 15px;
    }
    
    .modalTitleLight
    {
        color:#555;
        font-size:20px;
		/*color:#eee !important;*/
		font-family:Arial, Helvetica, sans-serif;
		padding:0 0 15px;
    }
    
	.modalError {
		font-family:Arial, Helvetica, sans-serif;
		color:Red;
		font-weight:bold;
	}
	
	.modalLink
	{
	    color:#999 !important;
		/*color:#009cff /*!important;*/
		text-decoration:underline;	
		font-size:11px;
	}
	
    .modalLinkLight
	{
	    color:#333 !important;
		/*color:#009cff /*!important;*/
		text-decoration:underline;	
		font-size:11px;
	}
	
	.modalLink:hover
	{	
		text-decoration:none;
	}
	
	.modalTextbox
	{
	    width:226px;
		border:0;
		background:transparent url(images/modal-input-bg.png) no-repeat;
		height:18px;
		padding:2px;
	}
	
	.modalDropdown
	{
	    width:230px;
		font-size: 11px;
	}
	
    .modalRadio
	{
	    color:#eee;
		font-size: 11px;
	}

	.modalButton
	{
	    background:transparent url(images/btn-login.png) no-repeat;
		border:none;
		height:34px;
		width:103px;
		font-size:11px;
		color:#333 !important;
		text-align:center;
		line-height:33px;		
		float:right;
		cursor:pointer;		
        text-decoration:none;
	}
	
    .modalButton:hover
	{
	    background:transparent url(images/btn-login-hover.png) no-repeat;
	}
	
    .modalButtonSmall
	{
	    background:transparent url(images/btn-modal-close.png) no-repeat;
		border:none;
		height:26px;
		width:33px;
		text-indent:-10000px;
		position:absolute;
		top:0;
		right:0;
		cursor:pointer;
	}
	
	.modalButtonSmall:hover
	{
	    background:transparent url(images/btn-modal-close-hover.png) no-repeat;
	}
			
			
			
/* Login Modal */

    .modalRememberMe
    {
        display: inline-block;
        vertical-align:top;
        margin-top: 2px;
        font-size: 11px;
    }

	/*.pnlLogin, 
	.pnlClient,
	.pnlForgot{
		position:relative;
		padding:38px 0;
		width:335px;
	}
	.pnlLogin a,
	.pnlClient a,
	.pnlForgot a{
		color:#999 !important;
		text-decoration:underline;	
		font-size:11px;
	}
	.pnlLogin a:hover,
	.pnlClient a:hover,
	.pnlForgot a:hover{	
		text-decoration:none;
	}*/
	
	.modalLinkLightCancel,
    #lnkLoginModalCancel,
	#lnkClientModalCancel,
	#lnkForgotModalCancel,
	#lnkPostponeModalCancel,
	#lnkEquipmentNotesModalCancel,
	#lnkReportInaccuracyModalCancel,
    #lnkTasksModalCancel{
		text-decoration:none;
		line-height:26px;
		display:block;
		height:26px;
		position:absolute;
		top:0;
		right:38px;
	}
	/*#Login_btnLoginModalCancel,
	#Login_btnClientModalCancel,
	#Login_btnForgotModalCancel{
		background:transparent url(images/btn-modal-close.png) no-repeat;
		border:none;
		height:26px;
		width:33px;
		text-indent:-10000px;
		position:absolute;
		top:0;
		right:0;
		cursor:pointer;
	}
	#Login_btnLoginModalCancel:hover, 
	#Login_btnLoginModalCancel.hover,
    #Login_btnClientModalCancel:hover, 
	#Login_btnClientModalCancel.hover,
	#Login_btnForgotModalCancel:hover,
	#Login_btnForgotModalCancel.hover{
		background:transparent url(images/btn-modal-close-hover.png) no-repeat;
	}*/
	
	/*#ctl00_Login_pnlLoginTitle,
	#ctl00_Login_pnlClientTitle,
	#ctl00_Login_pnlForgotTitle{
		font-size:20px !important;*/
		/*color:#eee !important;*/
		/*font-family:Arial, Helvetica, sans-serif !important;
		padding:0 0 15px !important;
	}
	#ctl00_Login_pnlLoginEmail,	
	#ctl00_Login_pnlLoginPassword,
	#ctl00_Login_pnlClientClient,
	#ctl00_Login_pnlForgotEmail*/

	/*#ctl00_Login_pnlForgotPassword{
		padding: 5px 0 0 105px;
	}
	*/
	#ctl00_Login_radCaptcha{
		padding:16px 0 0 105px;
	}
	
	/*captcha image*/
    #ctl00_Login_radCaptcha img{
		padding: 0 24px 5px 0;
		float: right;
	}
	
	#ctl00_Login_radCaptcha input
	{
	    background: url("images/modal-input-bg.png") no-repeat scroll 0 0 transparent;
        border: 0 none;
        height: 18px;
        padding: 2px;
        width: 226px;
	}
	
	/*captcha get audio link */
	#ctl00_Login_radCaptcha a
	{
	    color:#999 !important;
		text-decoration:underline;	
		font-size:11px;
	    padding: 0 72px 6px 0;
	    float: right;
	}
	
	#ctl00_Login_radCaptcha a:hover{	
		text-decoration:none;
	}
	
	/*#ctl00_Login_pnlLoginEmail span,
	#ctl00_Login_pnlLoginPassword span,
	#ctl00_Login_pnlClientClient span,
	#ctl00_Login_pnlForgotEmail span,
	#ctl00_Login_pnlCaptcha label{
		position:absolute;
		text-align:right;*/
		/*display:block;*//*
		width:95px;
		padding-right:10px;
		left:0;
		height:22px;
		line-height:22px;
	}*/
	/*#ctl00_Login_pnlLoginEmail input,
	#ctl00_Login_pnlLoginPassword input,
	#ctl00_Login_pnlClientClient input,
	#ctl00_Login_pnlForgotEmail input,
	#ctl00_Login_pnlCaptcha input{
		width:226px;
		border:0;
		background:transparent url(images/modal-input-bg.png) no-repeat;
		height:18px;
		padding:2px;
	}*/
	/*#btnLogin,
	#btnClient,
	#btnForgot{
		background:transparent url(images/btn-login.png) no-repeat;
		border:none;
		height:34px;
		width:103px;
		font-size:11px;
		color:#333 !important;
		text-align:center;
		line-height:33px;		
		float:right;
		cursor:pointer;		
	}
	#btnLogin:hover, 
	#btnLogin.hover,
    #btnClient:hover, 
	#btnClient.hover,
	#btnForgot:hover,
	#btnForgot.hover{
		background:transparent url(images/btn-login-hover.png) no-repeat;
	}*/
	/*#ctl00_Login_pnlLoginButton{
		overflow:hidden;
		padding:5px 0;
	}
	#ctl00_Login_pnlClientButton,
	#ctl00_Login_pnlForgotButton{
		overflow:hidden;
		padding:15px 0;
	}*/	
	

/*Client Modal*/

.divOr
{
    color: White;
    font-weight: bold;
}

.hrOr
{
    clear: none;
    width: 153px;
}

.hrOrLeft
{
    float: left;
}
.hrOrRight
{
    float: right;
}