	
/*Modules*/


/*Module Search Criteria*/
	.moduleSearch
	{
	    border: 2px solid #DFDFDF;
        padding: 0 6px;
	}
	
	.moduleSearch legend
	{
	    color: #999;
	    font-weight: bold;
	}
	
	.moduleSearch h3
	{
	    padding-top: 7px;	    
	}
	
	.moduleSearch .divCriteria
	{
	    display: block;
	    float: left;
	    padding: 0px 8px 4px 6px;
	    min-height: 100px;	    
	}
	
    .viewByDiv
	{
		display: block;
		width: 344px;   /*960 - 23 - 23 = 914 - 18 - 18 = 876 - (344 + (4x2)) = 524 / 2 = 262*/
		margin-left: 262px;
		padding: 6px;
		background-color: #fcfcfc;
		border: solid 4px #dfdfdf;
	} 
	
	.viewByRadioButtonList
	{		
		display:block;
		padding-left: 24px;	
	}	

	.moduleSearch .divViewByCol2
	{
	    padding-top: 24px;
	}
	
	.moduleSearch label
	{
	    font-size: 12px;
	}
		
	.moduleSearch .dropdownNarrow, .moduleSearch .dropdownNarrower,
    .moduleSearch .textboxNarrower, .moduleSearch .textboxNarrowest,
    .moduleSearch .checkboxNarrow
	{
         margin-left: 10px;
	}
	
	.moduleSearch .divFormWidest
	{
	    padding-left: 10px;	  
	    float: left; 
	}
	
	.moduleSearch .dropDownPanel
	{
		padding:6px 0 0 0px;  
		position:relative;
	}

    .moduleSearch .dropDownLabel
	{
		display: block;
        margin-left: 10px;
        margin-bottom: 5px;
	}

    /*Calendar override in collabsible panel*/
    .moduleSearch > div[style]
    {
        overflow-y: inherit !important;
    }

    .moduleSearch a.searchToggle
	{
        cursor: pointer;
        padding: 1px;
	    border: solid 2px #acacac;
        font-size: 14px;
        font-weight: bold;
        line-height: 8px;
        display: inline-block;
        height: 8px;
        width: 8px;
        text-align: center;
	}

