
/*Profile Pages */

/*RadTiles*/
.RadContentTemplateTile.rtileHovered
{
    border-color: #555 !important;
}
.RadTextTile.rtileHovered
{
    border-color: #fff !important;
}

.contentTemplateClass
{
    padding: 10px;
    font-size: 10px;    
    height: 150px;
}
.contentTemplateClass strong
{
    padding-left: 8px;
}
.contentTemplateClass0
{
    background-color: #DDD;
    color: #454545;
}
.contentTemplateClass1
{
    background-color: #4FA600;
    color: whitesmoke;
}
.contentTemplateClass2
{
   background-color: gold;
   color: #444;
}
.contentTemplateClass3
{
   background-color: orange;
   color: #454545;
}
.contentTemplateClass4
{
   background-color: darkred;
   color: white;
}

.contentTemplateClass0 .contentTileTitle, .contentTemplateClass2 .contentTileTitle, .contentTemplateClass3 .contentTileTitle
{
    color: #333;
}
.contentTemplateClass1 .contentTileTitle
{
    color: whitesmoke; 
}
.contentTemplateClass4 .contentTileTitle
{
    color: white;
}

.peekTemplateClass
{
    padding: 10px;
    font-size: 10px;
    background-color: #666;
    height: 150px;
    color: whitesmoke;
}
.contentTileHeader
{
    padding-top: 2px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}
.contentTileHeader2
{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    font-weight: bold;
}

.groupTileTitle
{
    top: 50%;
    font-size: 16px;
    color: whitesmoke;
}


div.noHover.RadTile
{
    border-color: transparent;
}
 
/*RadTiles Horizontal Layout*/
   /* remove float, place tiles below each other instead of horizontally */
    div.RadTileList.rtlistResponsive
    {
        height: auto !important;
        width: auto !important;
        overflow-x: hidden;
    }

    div.RadTileList.rtlistResponsive .rtlistGroup,
    div.RadTileList.rtlistResponsive .rtlistGroupSeparator, 
    div.RadTileList.rtlistResponsive .rtlistWrapper
    {
        float: none;
        clear: both;
    }

    /* make the tiles wrapper use the entire viewport width */
    div.RadTileList.rtlistResponsive .rtlistWrapper
    {
        /*width: 100vw;*/
        width: auto !important;
    }

    div.RadTileList.rtlistResponsive .rtlistScrollWrapper
    {
        width: auto !important;
    }

    /* group separator is now horizontal */
    div.RadTileList.rtlistResponsive .rtlistGroupSeparator
    {
        width: auto;
        height: 30px;
        margin: 10px 0;
    }


/*Layout*/
    .profileTeaser
    {
         clear: none !important;
         display: block;
         float: left;
         padding: 12px;
         width: 422px;
    }
    
    .profileTeaserColor
    {
        color: #56A602; /*Old Orange -#B06000;*/
    }
    
    .profileLeftColumn
    {
        display: block;
        float: left;
        clear: both;
    }
    
    .profileRightColumn
    {
        display: block;
        float: left;  
    }
    
	.profileLeftColumn .detailsList li
	{
	    width: auto !important;
	}

	.profileLeftColumn > div{
		clear: both;
	}
	
	/*
	.profileLeftColumn h2{
		font-size:13px !important;
		color:#1e1e1e !important;
		font-weight:bold !important;
		padding:0 0  10px 15px;
		float: left;
	}*/
		
	
	.divProfileInteractive
	{
        float: left;
        padding: 15px 10px 10px 15px;
        text-align: center;
        width: 80px;
	}
	
	.divProfileImage
	{
	    display: block;
	    float: left;
	    width: 144px;
	    clear: none !important;
	    padding-bottom: 15px;
	}
	
	.profileImage
	{
	    width: 144px !important;
	    height: 108px !important;
	}
	
/*Profile Module Icons*/
.buildingProfilesModuleIcon
{
    background:url(images/building-profiles.png) 0 100% no-repeat;    
    height: 40px;
}
.equipmentProfilesModuleIcon
{
    background:url(images/equipment-profiles.png) 0 100% no-repeat;    
    height: 40px;
}
.buildingProfilesModuleIcon h1, .equipmentProfilesModuleIcon h1
{
    padding-top: 10px;
    padding-left: 48px;
}


/*Profile Home*/
.divProfileButtons
{
    padding-top: 16px;
}
.divProfileButtons a
{
    margin-left: 64px;
}



	.divProfileButtons .lnkButtonBuildingProfiles{
		display: inline-block;
		width: 346px;
		height: 260px;
		background:url(images/building-profiles.png) no-repeat;
	}
	.divProfileButtons .lnkButtonBuildingProfiles:hover{
		background:url(images/building-profiles-hover.png) no-repeat;
	}
	
	
	.divProfileButtons .lnkButtonEquipmentProfiles{
		display: inline-block;
		width: 346px;
		height: 260px;
		background:url(images/equipment-profiles.png) no-repeat;
	}
	.divProfileButtons .lnkButtonEquipmentProfiles:hover{
		background:url(images/equipment-profiles-hover.png) no-repeat;
	}
	
	
	/*<a href="BuildingProfile.aspx"><img alt="bulidingProfile" src="/_assets/images/building-profiles.png" height="258px" width="344px" /></a>
    a href="EquipmentProfile.aspx"><img alt="equipmentProfile" src="/_assets/images/equipment-profiles.png" height="258px" width="344px" /></a>*/
                    

/*Building Profile*/


	
/*Equipment Profile*/
		

/*Cal Validator Span Overrides*/
.calValidatorSpan
{
    display: inline !important;
    font-weight: normal !important;
}
