
/*Projects*/


/*Module Icon*/
.projectsModuleIcon
{
    background:url(images/projects.png) 0 100% no-repeat;    
    height: 40px;
}
.projectsModuleIcon h1
{
    padding-top: 10px;
    padding-left: 48px;
}

