﻿/*RAD AJAX STYLES
	Can use this file to eliminate the editor from inheriting the global styles.
	Can use this file to alter the editors styling.
*/


/*RESETS*/
/*
.RadEditor table,
        .reToolbar,
        .reToolbar li,
        .reTlbVertical,
        .reDropDownBody ul,
        .reDropDownBody ul li,
        .RadWindow table,
        .RadWindow table td,
        .RadWindow table td ul,
        .RadWindow table td ul li
        {
            margin: 0 !important;
            padding: 0 !important;
            border: 0 !important;
            list-style: none !important;
        }
        .reWrapper_corner,
        .reWrapper_center,
        .reLeftVerticalSide,
        .reRightVerticalSide,
        .reToolZone,
        .reEditorModes,
        .reResizeCell,
        .reToolZone table td,
        .RadEditor .reToolbar,
        .RadEditor .reEditorModes
        {
            border: 0 !important;
        }
        .reToolbar li,
        .reToolbar ul li,
        .reInsertTable .reTlbVertical .reToolbar li
        {
            float: left !important;
            clear: none !important;
            border: 0 !important;
  */
