﻿.RadGrid 
{ 
    overflow: hidden;
    width: 100%;
}

.rgEditForm { display: none; }

.RadGrid input { padding: 2px; }

.RadGrid .gridAlignCenter { text-align: center; }

.RadGrid .rgRow > td
{
    word-break: break-word; /*Required for chrome*/
}

/* Overrides */
.RadGrid .rgRow > td, .RadGrid .rgAltRow > td, .RadGrid .rgEditRow > td, .RadGrid .rgFooter > td, .RadGrid .rgFilterRow > td, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgGroupHeader td
{ padding-left: 4px !important; padding-right: 4px !important; }


