
/*Module Icon*/
.reportingModuleIcon
{
    background:url(images/reporting.png) 0 100% no-repeat;    
    height: 40px;
}
.reportingModuleIcon h1
{
    padding-top: 10px;
    padding-left: 48px;
}

   
/*Reporting columns*/
    .reportDiv
    {
        /*needed for lp1 radajaxloadingpanel*/
        display: inline-block;
        width: 100%;
    }   
	.reportLeftColumn
	{
		display: block;
		float: left;
		padding: 6px;
		background-color: #fcfcfc;
		border: solid 3px #dfdfdf;
	} 	
	.reportRightColumn
	{
		display: block;
		float: left;
		margin-left: 8px;
		padding: 6px;
		background-color: #fcfcfc;
		border: solid 3px #dfdfdf;
	} 
	.reportBottom
	{
		display: block;
		width: 100%;
		float: left;
	}		
	.reportTop
	{
		display: block;
		/*width: 892px;*/
        width: 100%;
		float: left;
	}	
	.reportTop div
	{
		display: block;		
		/*width: 292px;  */
		float: left;
        text-align: center;
	}
	.reportTopLeft
	{        
        width: 33%;
		/*padding-left: 168px;*/
	}
	.reportTopCenter
	{
        width: 33%;
		/*text-align: center;*/
	}
	.reportTopRight
	{
        width: 33%;
		/*padding-left: 26px;*/
	}

	

/* Reporting */
	.reportingControls{
		overflow:hidden;
		border-bottom:2px solid #eeeded;
		border-top:2px solid #eeeded;
		padding:12px 0 5px;
		margin-bottom:12px;
	}
	.reportingControls label{
		float:left;
		margin-right:10px;
		line-height:20px;
		margin-top:10px;
	}
	.reportingControls select{
		float:left;
		border:1px solid #999;		
		margin-top:10px;		
	}
	
	.reportingControls .buttons{
		float:right;
		overflow:hidden;
	}

	.reportingControls .buttons li{
		float:left;
		margin-left:10px;
	}


