/*Tasks*/

/*Module Icon*/
.tasksModuleIcon {
    background:url(images/tasks.png) 0 100% no-repeat;    
    height: 40px;
}

.tasksModuleIcon h1 {
    padding-top: 10px;
    padding-left: 48px;
}

.taskMessagesLayout {
    margin-top: 52px; 
    margin-left: 10px; 
    margin-bottom: 5px;
}

.taskDownloadArea {
    padding-top: 8px;
    padding-bottom: 1px; 
}

.taskInfoStatusBox {
    width: 90px;
    height: 50px;
    font-size: 11px;
}

.taskCpPadding {
    padding: 0px 0px 6px 4px;
}

#circle {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    border-radius: 2.5px;
    background: red;
}