
/*Utility Billing*/


/*Module Icon*/
.utilityModuleIcon
{
    background:url(images/utility.png) 0 100% no-repeat;    
    height: 40px;
}
.utilityModuleIcon h1
{
    padding-top: 10px;
    padding-left: 48px;
}


/*Utility Billing Grid Additional Style*/
	#gridTbl table tr td .divIcons
	{
        margin-right: -4px;
        width: 38px;
	}
	#gridTbl table tr td .divNotesSummary
	{
	    /*max this can be is somewhere around 214 to handle all the browser zooms*/
	    width: 214px;
	}
	/*#gridTbl table tr td .divIssueIcon
	{
	    background: url(images/issue.png) no-repeat 0 50%;	
	    width: 10px;	   	   
	}*/
	
	
/*Utility Billing linkbutton icons*/
    .utilityDetails
    { 
        background: url(images/details.gif) no-repeat 0 100%;
        width: 18px;
        height: 18px;
        display: block;    
        float: left;
        padding: 2px 1px 0 0;
    }
    .utilityIssueDetails
    { 
        background: url(images/issue.png) no-repeat 0 100%;
        width: 18px;
        height: 18px;
        display: block;    
        float: left;
        padding: 2px 1px 0 0;
    }
    .utilityReports
    {
        background: url(images/reports.png) no-repeat 0 100%;
        width: 18px;
        height: 18px;
        display: block;
        float: left;
        padding: 2px 0 0 0;
    }
    .utilityVariables
    {
        background: url(images/vars.png) no-repeat 0 100%;
        width: 18px;
        height: 18px;
        display: block;
        float: left;
        padding: 1px 0 0 1px;
    }

/*Utility Billling result details equipment vars*/
	a.toggle
	{
	    position: absolute;
	    padding-top: 3px;	    
	}
	a.toggle:hover{
	}