
/*ONLY FOR INDIVIDUAL WIDGET STYLES*/


/*Weather widget*/
    .weather
	{
	}	
	.weather .lblWeatherLocation
	{
		font-size: 14px;
		color: #B06000;		
	}
	.weather #currentWeather
	{
		padding-top: 4px;
		display: block;
		height: 58px;
	}	
	.weather #currentWeather .currentWeatherImage
	{
		border: 1px solid #B6B6B6;
	    padding: 1px;
		float: left;
	}	
	.weather #currentTemp
	{
		float: left;
		padding-left: 12px;		
	}
	.weather #currentTemp label
	{
		font-size: 1.6em;
	}
	.weather #currentCond
	{
		float: left;
		padding-left: 11px;
		width: 275px;
		font-size: 12px;
	}
	.weather #futureWeather
	{
		padding-top: 4px;
		display: inline-block;
		/*height: 104px;*/
	}	
	.weather #futureWeather #todayTop, .weather #futureWeather #tomorrowTop, .weather #futureWeather #twoDaysTop, .weather #futureWeather #threeDaysTop
	{
	}	
	.weather #todayDiv, .weather #tomorrowDiv, .weather #twoDaysDiv, .weather #threeDaysDiv
	{
		text-align: center;
		float: left;
		width: 104px;
		font-size: 11px;
	}	
	.weather #futureWeather #todayTop img, .weather #futureWeather #tomorrowTop img, .weather #futureWeather #twoDaysTop img, .weather #futureWeather #threeDaysTop img
	{
	    border: 1px solid #B6B6B6;
	    padding: 1px;
    }
	
	

/*Commoditiy widget*/
	#energy
	{		
	}

	#energy table
	{		
		border: 0 !important;
		font-weight: inherit !important;
		font-style: inherit !important;
		font-size: 100% !important;
		font-family: inherit !important;
		background-color: #fcfcfc !important;
	}
	
	#energy thead tr th
	{
		/*border: 0 !important;
		background: #ffffff !important;
		color: Black !important;
		padding-bottom: 8px !important;
		text-decoration: underline;		
		font-weight:bold !important;
		font-style: inherit !important;
		font-size: 100% !important;
		font-family: inherit !important;*/
		display: none;
	}
	
	#energy tbody tr td
	{
		font-weight: inherit !important;
		font-style: inherit !important;
		font-size: 100% !important;
		font-family: inherit !important;
		padding-left: 0px !important;
		padding-right: 8px !important;
	}
	
	#energy tbody tr td a
	{
		color: Black !important;
	}

	#energy table tfoot
	{
		display:none;
	} 
	
	
/*Building Map*/
    .buildingMap {
       position: relative;       
       width: 99%;
       height:   288px;
       border:   #555555 2px solid;
    }

    .buildingMapFull {
       position: relative;
       width:    100%;
       height:   576px;
       border:   #555555 2px solid;
    }
	
    .MicrosoftMap .CopyrightContainer, 
    .MicrosoftMap .OverlaysBL,
    .MicrosoftMap .OverlaysBR-logoAware,
    .NavBar_modeSelectorControlContainer
    {
        display: none !important;
    }
    
    .MicrosoftMap .Infobox  
    {
        height: 118px !important;
        top: 2px !important;         
        width:200px !important;
        visibility: visible !important;
    }

    .MicrosoftMap .Infobox .infobox-info
    {
        padding: 0 10px !important;
        font-size: 7pt !important;
        color: #999 !important;
        font-weight: bold !important;    
    }
    
    .MicrosoftMap .Infobox .infobox-stalk
    {
        top: 118px !important;  
    }
    
    .MicrosoftMap .Infobox .infobox-info div
    {
        padding: 6px 0 0 0;
        line-height: 12px;
    }
    
    .MicrosoftMap .Infobox .infobox-title
    {
        padding: 8px 10px 2px 10px !important;
        font-size: 8pt !important;
    }


/*Asp chart*/
.widgetAspChart
{
    margin: -8px 0 0 -8px;
}


/*Weather.com widget hack*/	
/*#divWeather
	{
		display:block;
		position:relative;
		height: 150px;
		width: 210px;
		background-color: #fefefe;
		border: solid 1px #dfdfdf;
		margin-left: 105px;
		margin-bottom:5px;
		cursor:default !important;
	}
	
	#spanWeather
	{	
		padding-left: 58px;		
		padding-bottom: 4px;
		font-weight: bold;
		text-decoration: underline;
	}

	#divWeather div table tbody tr td table
	{
		cursor:default !important;
		visibility:hidden;
		position:absolute;	
		/*width: 175px !important;
	}

	.GENXVnavOut, .GENXVnavOut table
	{
		visibility: visible !important;
		display:block !important;
		/*height: 70px !important;
		/*position:relative !important;	
		left:15px;
		top:14px;
	}

	.GENXVwxNewStyle table
	{
		width: 100% !important;
		height: 135px !important;
		background-image: none !important;
	}
	


	#divWeather div table tbody tr td table .GENXVcityInfo a, #divWeather div table tbody tr td table .GENXVcityInfo
	{
		left:8px;
		position:absolute;
		top:6px;
		visibility: visible;
	}

	#divWeather div table tbody tr td table .GENXVcityInfo a:link
	{
		text-decoration: none !important;
	}

	#divWeather div table tbody tr td table .GENXVcityInfo a:hover
	{
		color:#022F96;
		text-decoration: none !important;
	} 
*/

