﻿
body
{
    overflow: hidden;   
}



div[data-control-type-fullname="iCL.ui.controls.Toolbar"]
{
    display: inline-block;
    border-collapse: separate;
    border-spacing: 3px 0;
    line-height: 0;
    
    line-height: 0;

    >div
    {
        display: inline-block;

        &:active
        {
            background-color: gray;
        }

        &:hover
        {
            background-color: lightgray;
            border-radius: 2px;
        }

        &[data-control-set="type:'divider'"]
        {
            width: 2px;
            background-color: gray;
            height: 100%;
        }


    }
}



div[id="UAB"]
{
    img
    {
        border: 0;
    }

    hr
    {
        border: 0;
        border-top: 1px solid gray;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    input
    {
        font-size: inherit;
        margin: 0;
        padding: 0;

	    &[type="button"]
        {
            border: 1px solid gainsboro;

            font-size: inherit;
            padding: 0px 5px 0px 5px;

            min-height: 2em;
            min-width: 8em;

            background-color: gainsboro;

            &:hover
            {
                border-color: gray;
            }

            &:active
            {
                background-color: darkgray;
                color: whitesmoke;
            }
        }

        &[type="text"]
        {
            border: 1px solid darkgray;
            margin: 0;
            padding: 2px;    
            width: 10em;
        }
    }


    button //should remove and not use button tag
    {
        border: 1px solid darkgray;
        font-size: inherit;
        height: 1.5em;
	    margin: 0;
        padding-right: 3px;
        padding-left: 3px;
    }

    select
    {
        font-size: inherit;
        margin: 0;
        padding: 0;
        width: 10em;
    }

    textarea
    {
        resize: none;
        width: 10em;
    }

	>div
	{
		&[id$="divLoadingAnalysisBuilder"]
		{
			cursor: wait;
			padding-left: 48px;
			margin-top: 10%;
			margin-left: 20%;
			margin-right: 20%;
			visibility: visible !important; 
            font-size: 1.1em;

			>div:nth-child(1)
			{
				font-size: 1.3em;
				font-weight: bold;
			}
		}

		&[id="IDE"]
		{
			background-color: white;
			cursor: default;
			overflow: hidden;
			
            position: absolute;
			height:	100%;
			width: 100%;

			@t: 4.5em;
			@leftPaneWidth: 25%;

			>div
			{
				&[id="divLPane"]
				{
					float: left;
					height: 100%;
					width: 25%;

					>div
					{
						&[id="divHeader"]
						{						
							height: @t;
						
							div[id=divTitle]
							{
								height: 100%;
								margin: 4px;

								span
								{
									display: inline-block;
									font-size: 1.9em;
									padding-left: 45px;
									padding-top: 10px;
								}
							}
						}

						&[id="divEquipmentTree"]
						{
							position: absolute;
							top: @t;
							bottom: 0;
							width: @leftPaneWidth;
						}
					}
				}

				&[id="divRPane"]
				{
					float: right;
					height: 100%;
					width: 75%;

                    @tt: 56px;

					>div
					{
						&[id="divTabs"]
						{
							height: @tt;
						}

						&[id="divChartPane"]
						{
							position: absolute;
							top: @tt;
							bottom: 0;
							left: @leftPaneWidth;
							right: 0;
						}
					}
				}
			}
		}
	}
}


div.FlotTooltip //revise
{
    cursor: pointer;
	position: absolute;
    background-color: white;
    white-space: nowrap;
	border: 1px solid black;
	padding: 3px;
}


/**::selection {
    background-color:transparent;
}

*::-moz-selection {
    background-color:transparent;
}

*::-webkit-selection {
    background-color:transparent;
}*/

.AnalysisBuilderModuleIcon
{
	background: url("../../../_assets/styles/images/analysis-builder.png") no-repeat;
}


.AnalysisBuilderIconsOriginal
{
    background-image: url("../image/icons.png");
    background-repeat: no-repeat;

    height: 20px;
    width: 20px;

	&.Icon-01x02
	{
		background-position: -60px -114px;
	}

	&.Icon-04x02
	{
		background-position: -152px -114px;
	}

    &.Icon-05x06,
    &.Icon-Notebook1
    {
        background-position: -183px -278px;
    }

    &.Icon-11x04,
    &.Icon-FolderOpened1
    {
        background-position: -369px -196px;
    }

    &.Icon-00x08,
    &.Icon-Floppy1
    {
        background-position: -28px -360px;
    }

    &.Icon-14x09,
    &.Icon-Grid1
    {
        background-position: -462px -401px;
    }

    &.Icon-06x09
    {
        background-position: -214px -401px;
    }

    &.Icon-07x09,
    &.Icon-GraphLine1    
    {
        background-position: -245px -401px;
    }

    &.Icon-07x04,
    &.Icon-DocumentExport1
    {
        background-position: -245px -196px;
    }

    &.Icon-08x12,
    &.Icon-GraphLine2
    {
        background-position: -276px -524px;
    }

    &.Icon-09x12,
    &.Icon-GraphScatterPlot1
    {
        background-position: -307px -524px;
    }

    &.Icon-10x12,
    &.Icon-DocumentPDF1
    {
        background-position: -339px -524px;
    }

    &.Icon-11x12,
    &.Icon-MessageBubble1
    {
        background-position: -369px -525px;
    }

    &.Icon-01x12,
    &.Icon-HandGrab1
    {
        background-position: -60px -525px;
    }
}


.AnalysisBuilderIconsOriginal-Nested
{
    >*
    {
        .AnalysisBuilderIconsOriginal
    }
}




.ajaxLoad-Pik500078
{
    background-image:   url("../image/Pik500078.gif");
    background-repeat:  no-repeat;
    height:             15px;
    width:              15px;
}
