﻿
@import "../Common.less";

div.RelativeReset
{
    position: relative;
    height: 100%;
    width: 100%;

    >div
    {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

div.HiddenAbsolutely
{
    position: absolute;
    visibility: hidden;
}




div[data-id="divBuildingProfileView"]
{
    div.Content
    {
        height: 100%;
        width: 100%;
        position: relative;

        >div
        {
            height: 100%;
            position: absolute;

            &:nth-child(1)
            {
                width: 30%;

                >a
                {
                    &[href="javascript:"]
                    {
                        cursor: default;

                        >div > div //revise
                        {
                            display: none;
                        }
                    }

                    >div
                    {
                        height: 100%;
                        width: 100%;
                        border: 1px solid gray;
                        background-color: lightgray;
                        border-radius: 5px;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;

                        >img
                        {
                            max-height: 100%;
                            max-width: 100%;
                            position: absolute;
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                            margin: auto;
                        }

                        >div
                        {
                            bottom: 0;
                            position: absolute;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }

            &:nth-child(2)
            {
                width: 70%;
                right: 0;

                >div[data-id="divChartContainer"]
                {
                    height: 100%;
                    width: 100%;

                    >div
                    {
                        @horizontalMargin: 10px;

                        top: @horizontalMargin;
                        left: @horizontalMargin;
                    }
                }
            }
        }
    }

    div.BuildingProfileFields
    {
        div.BuildingStatistics
        {
            >div
            {
                &:nth-child(1)
                {
                    border-bottom: 1px solid gray;
                    font-weight: bold;
                    margin-top: 10px;
                    width: 100%;
                }

                &:nth-child(2)
                {
                    width: 100%;
                    height: 100%;

                    >div
                    {
                        @LeftPane: 60%;
                            
                        display: inline-block;
                        vertical-align: top;

                        &:nth-child(1)
                        {
                            width: @LeftPane;
                        }

                        &:nth-child(2)
                        {
                            width: (100% - @LeftPane);
                        }

                        >table
                        {
                            display: block;
                            border-collapse: collapse;
                            margin: 4px;

                            tr
                            {
                                border-bottom: 1px dotted gray;

                                &:last-child
                                {
                                    border-bottom-width: 0px;
                                }

                                >td
                                {
                                    &:first-child
                                    {
                                        padding-right: 3px;
                                    }

                                    &:last-child
                                    {
                                        vertical-align: bottom;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.resize-triggers {
	visibility: hidden;
    display:none;
}

.resize-triggers, .resize-triggers > div, .contract-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  //top: 0;
  //left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.resize-triggers > div {
  background: #eee;
  overflow: auto;
  //display:none;
}

.contract-trigger:before {
  width: 200%;
  height: 200%;
}





div.arrows-down
{
    >div
    {
        width: 0; 
	    height: 0; 
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-top: 8px solid lightgray;
	    font-size: 0;
	    line-height: 0;
    
        margin:auto;
        margin-top:0;
    }
}

div.arrows-up
{
    >div
    {
        width: 0; 
	    height: 0; 
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-bottom: 8px solid lightgray;
	    font-size: 0;
	    line-height: 0;
    
        margin:auto;
        margin-top:0;
    }
}
