﻿
div[data-id="divBuildingUtilitiesView"]
{
    >div
    {
        height: 100%;

        >div
        {
            @SummaryWidth: 250px;

            position: absolute;
            height: 100%;

            &:nth-child(1)
            {
                left: 0;
                width: @SummaryWidth;

                .InfoBox
                {
                    box-shadow: 5px 5px 3px #888888;
                    border: 1px solid black;
                    padding: 5px;
                    margin: 3px 3px 8px 3px;
                    background-color: #F9F9F9;
                }

                >div
                {
                    &[data-name="Summary"] > span
                    {
                        text-decoration: underline;
                    }

                    &[data-name="Comparison"]
                    {
                        div[data-name="LegendComparison"]
                        {
                            margin-top: -4px;

                            span:first-child
                            {
                                color: #bfcf32;
                                font-weight: bold;
                                font-size: 1.3em;
                            }

                            >a
                            {
                                color: inherit;
                                text-decoration: none;
                            }
                        }

                        div[data-name="LegendToday"]
                        {
                            >span:nth-child(1)
                            {
                                background-image: linear-gradient(right, rgb(224,134,0) 71%, rgb(224,160,65) 81%, rgb(196,108,0) 97%);
                                background-image: -o-linear-gradient(right, rgb(224,134,0) 71%, rgb(224,160,65) 81%, rgb(196,108,0) 97%);
                                background-image: -moz-linear-gradient(right, rgb(224,134,0) 71%, rgb(224,160,65) 81%, rgb(196,108,0) 97%);
                                background-image: -webkit-linear-gradient(right, rgb(224,134,0) 71%, rgb(224,160,65) 81%, rgb(196,108,0) 97%);
                                background-image: -ms-linear-gradient(right, rgb(224,134,0) 71%, rgb(224,160,65) 81%, rgb(196,108,0) 97%);
                                background-image: -webkit-gradient(linear, right top, left top, color-stop(0.71, rgb(224,134,0)), color-stop(0.81, rgb(224,160,65)), color-stop(0.97, rgb(196,108,0)));
                            }
                        }
                    }


                    &[data-name="PerformanceNow"]
                    {
                        >div
                        {
                            &:nth-child(1)
                            {
                                text-decoration: underline;
                            }

                            &:nth-child(2)
                            {
                                >div
                                {
                                    display: table-cell;

                                    &:nth-child(2)
                                    {
                                        vertical-align: middle;
                                        text-align: center;
                                        width: 100%;

                                        >div[data-id="divPercent"]
                                        {
                                            font-size: 2em;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(2)
            {
                left: @SummaryWidth;
                right: 0;

                >div
                {
                    position: absolute;
                    width: 100%;

                    &.Loading
                    {
                        opacity: 0.75 !important;

                        &:before
                        {
                            content: url("/_assets/images/IndicatorBig616161.gif");
                            position: absolute;
                            left: 50%;
                            top: 30%;
                        }
                    }

                    &:nth-child(1)
                    {
                        top: 0;
                    }

                    &:nth-child(2)
                    {
                        bottom: 0;
                        text-align: center;
                        width: 100%;

                        >ul
                        {
                            white-space: nowrap;

                            &.Compact
                            {
                                >li
                                {
                                    >div
                                    {
                                        &:nth-child(1)
                                        {
                                            width: 40px;

                                            >img
                                            {
                                                max-width: 100%;
                                                padding: 0;
                                            }
                                        }

                                        &:nth-child(2)
                                        {
                                            display: none;
                                        }
                                    }
                                }
                            }

                            >li
                            {
                                border: 2px solid transparent;
                                border-radius: 10px;
                                text-align: center;
                                background-color: transparent;

                                &.ToggledOn
                                {
                                    border-color: #888888;
                                }

                                &:hover
                                {
                                    background-color: inherit;
                                    cursor: pointer;
                                    border-color: lightgray;
                                }

                                >div:nth-child(1) > img
                                {
                                    padding: 3px 8px 0 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
