﻿
div.SprawledTable
{
    display: table;
    height: 100%;
    width: 100%;
    
    >div
    {
        display: table-cell;
        height: 100%;
        vertical-align: top;
    }
}

img.OriginalSize
{
    max-height: 100%;
}

div.Divider
{
    background-color: gray;
    height: 100%;
    width: 2px;
}


div[data-id="divHeader"]
{
    >div.SprawledTable
    {
        >div
        {
            @CenterLogoCellWidth: 40%;
            @EndCellWidth: ((100% - @CenterLogoCellWidth) / 2);

            &:nth-child(1)
            {
                width: @EndCellWidth;

                >div.SprawledTable
                {
                    >div
                    {
                        height: 42px; //TO BE REMOVED;

                        &:nth-child(2)
                        {
                            padding-left: 3px;
                            width: 100%;
                        }
                    }
                }
            }

            &:nth-child(2)
            {
                width: @CenterLogoCellWidth;

                >img
                {
                    display: block;
                    margin: auto;
                    height: 42px; //TO BE REMOVED
                }
            }

            &:nth-child(3)
            {
                width: @EndCellWidth;

                >div.SprawledTable
                {
                    >div
                    {
                        &:nth-child(1)
                        {
                            width: 100%;
                            padding-right: 3px;

                            >div
                            {
                                height: 100%;
                                position: relative;
                                overflow: hidden;

                                >div
                                {
                                    position: absolute;
                                    text-align: right;
                                }
                            }
                        }

                        &:nth-child(2)
                        {
                            >div
                            {
                                @QRCodeOffset: -10px;

                                height: 100%;
                                width: 42px;
                                background-position: @QRCodeOffset @QRCodeOffset;
                            }
                        }

                        &:nth-child(3)
                        {
                            padding-left: 3px;
                            padding-right: 3px;
                        }

                        &:nth-child(4) >img{height:42px;} //TO BE REMOVED
                    }
                }
            }
        }
    }
}
