﻿
div[data-id="divMapView"]
{
    margin: 0px !important; //remove important
    #bingLogo
    {
        display: none;
    }

    #divMap
    {
        a.MapPushpinBase.Selected
        {
            cursor: auto;
            z-index: 1;

            >div
            {
                background-image: url("/_assets/images/buildingicons/building_icon_blue.png") !important; //revise (no need for important)
            }
        }

        a.MapPushpinBase
        {
            .BackgroundImageMixin(@fileName)
            {
                background-image: url("/_assets/images/buildingicons/building_icon_@{fileName}.png");
            }

            >div
            {
                &.BuildingIcon
                {
                    height: 39px;
                    width: 32px;
                    cursor: pointer;
                    background-repeat: no-repeat;
                }

                &.PerfRating-0
                {
                    .BackgroundImageMixin("grey");
                }

                &.PerfRating-1
                {
                    .BackgroundImageMixin("darkgreen");
                }

                &.PerfRating-2
                {
                    .BackgroundImageMixin("light_green");
                }

                &.PerfRating-3
                {
                    .BackgroundImageMixin("yellow");
                }

                &.PerfRating-4
                {
                    .BackgroundImageMixin("red");
                }
            }
        }
    }

    img[data-id="imgZoom"]
    {
        position: absolute;

        top:  10px;
        left: 10px;

        height: 40px;
        width:  40px;

        visibility: hidden;
    }

    div[data-id="divMapOverlay"]
    {
        >div
        {
            &[data-id="divChooseBuilding"]
            {
                @PaddingAndRadius: 5px;

                position: absolute;
                height: auto;
                width: auto;
                right: 0;
                top: 10px;
                border-right: 0;
                font-size: 1.5em;
                background-color: white;
                border-color: gray;
                padding: @PaddingAndRadius;
                border-top-left-radius: @PaddingAndRadius;
                border-bottom-left-radius: @PaddingAndRadius;
            }

            &[data-id="divBuildingSelector"]
            {
                @LeftRadius: 6px;
                @Margin: 20px;

                border-right: 0;
                top: 10px;
                bottom: @Margin;
                left: @Margin;
                z-index: 20000000; //revise!!!
                background-color: white;
                border: 1px solid gray;
                border-bottom-left-radius: @LeftRadius;
                border-top-left-radius: @LeftRadius;

                >div
                {
                    @ScrollerWidth: 50px;

                    &[data-id="divBody"]
                    {
                        right: @ScrollerWidth;
                        margin-left: 3px;
                        margin-right: 3px;

                        >div[data-id="divItems"]
                        {
                            font-size: 1.8em;

                            >div >span:nth-child(2)
                            {
                                font-size: .6em;
                                padding-left: 10px;
                            }
                        }
                    }

                    &[data-id="divScroller"]
                    {
                        width: @ScrollerWidth;

                        >div
                        {
                            @ButtonHeight: @ScrollerWidth;
                            @ButtonBorderWidth: 1px;
                            @ArrowWidth: 18px;
                            @ArrowHeight: 14px;
                            @ArrowColor: #808080;

                            border-width: @ButtonBorderWidth;

                            &.ScrollButton
                            {
                                height: @ButtonHeight;

                                &:before
                                {
                                    top: ((@ButtonHeight - @ArrowHeight) / 2);
                                    left: ((@ButtonHeight - @ArrowWidth) / 2);
                                    border-left: (@ArrowWidth / 2) solid transparent;
                                    border-right: (@ArrowWidth / 2) solid transparent;
                                }

                                &:active:before
                                {
                                    @BorderColor: lightgray;

                                    border-top-color: @BorderColor;
                                    border-bottom-color: @BorderColor;
                                }
                            }

                            &.ScollButtonLess:before
                            {
                                border-bottom: @ArrowHeight solid @ArrowColor;
                            }

                            &.ScrollButtonMore:before
                            {
                                border-top: @ArrowHeight solid @ArrowColor;
                            }

                            &[data-id="divSliderContainer"]
                            {
                                @SliderWidth: 12px;

                                top: (@ButtonHeight + (@ButtonBorderWidth * 2));
                                bottom: (@ButtonHeight + (@ButtonBorderWidth * 2));
                                left: ((@ButtonHeight / 2) - (@SliderWidth / 2));
                                width: @SliderWidth;

                                div[data-id="divIndicator"]
                                {
                                    @HorizontalBorderWidth: 2px;
                                    @IndicatorWidth: @SliderWidth;
                                    @IndicatorHeight: (@IndicatorWidth * 3);

                                    width: @IndicatorWidth;
                                    height: @IndicatorHeight;
                                    border-radius: (@IndicatorWidth / 2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
