﻿
@import "../CommonMixin.less";

div[data-id="divPortfolioProfileView"]
{
    
    >div
    {
        @ButtonAreaHeight: 40px;

        .LeftToRight;

        &[data-id="divChartContainer"]
        {
            top: 0;
            bottom: @ButtonAreaHeight;

            >span > div                
            {
                font-size: 1.5em;
            }
        }

        &[data-id="divBy"]
        {
            bottom: 0;
            height: @ButtonAreaHeight; 

            >ul
            {
                width: 100%;
                text-align: center;

                >li
                {
                    @ButtonHeight: (@ButtonAreaHeight - 2px);

                    border: 1px solid gray;
                    height: @ButtonHeight;
                    line-height: @ButtonHeight;
                    width: 30%;
                    border-radius: 5px;
                    font-size: 16px;
                    background-color: transparent;

                    &.ToggledOn
                    {
                        background-color: lightgray;
                    }
                }
            }
        }
    }
}
