﻿
<div style="font-family:Verdana;" data-for_print="true" data-forPrint="true">
	<div style="margin-bottom:50px; width:100%; border-bottom:1px solid black;" >
		<div data-field="title"></div>
		<span data-field="desc" style="font-size:0.5em;"></span>
	</div>
	<div>	
		<img src="" />
		<div style="margin-top:10px;">
			<div style="font-size:0.8em;">Points</div>
			<div style="padding:5px; border:1px solid darkgray;">
				<table style="width:100%; border-collapse:collapse; padding:3px;">
					<tbody>
						<tr style="font-size:0.7em; vertical-align:middle;">
							<td data-field="spnIcon"></td>
							<td>
								<span data-field="txtColor" style="display:inline-block; width:10px; height:10px;"></span>
								<span data-field="spnPlotName"></span>
							</td>
							<td data-field="dateRange"></td>
							<td>
								<span>Y-Axis:</span>
								<span data-field="cmbYAxis"></span>
							</td>
							<td data-field="fill">
								<span style="display:inline-block; width: 9px; height:9px; border:1px solid black; border-radius:2px;"></span>
								<span>Fill</span>
							</td>
							<td data-field="xaxis">
								<span>X-Axis</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>