﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="BuildingProfile.Master.cs" Inherits="CW.Website._masters.BuildingProfile" %>
<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>
<%@ Register src="../_controls/Login.ascx" tagname="Login" tagprefix="CW" %>
<%@ Register src="../_controls/PrimaryNav.ascx" tagname="PrimaryNav" tagprefix="CW" %>
<%@ Register src="../_controls/PrimaryNavDropdowns.ascx" tagname="PrimaryNavDropdowns" tagprefix="CW" %>
<%@ Register src="../_controls/LeftNavResponsive.ascx" tagname="LeftNavResponsive" tagprefix="CW" %>
<%@ Register src="../_controls/Footer.ascx" tagname="Footer" tagprefix="CW" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head id="Head1" runat="server">
    <title id="title" runat="server">$product</title>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <asp:Literal ID="litScripts" runat="server" />
         
	<style type="text/css" media="screen">
        @import url("/_assets/styles/global.css");
		@import url("/_assets/styles/layout1280.css") (min-width:1280px);
		@import url("/_assets/styles/layout960.css") (min-width:960px) and (max-width:1279px);
        @import url("/_assets/styles/layout640.css") (max-width:959px);	    
		@import url("/_assets/styles/modals.css");		    
		@import url("/_assets/styles/profiles.css");
		@import url("/_assets/styles/blocks.css");
	</style>
    <style type="text/css" media="print"></style>

    <asp:Literal ID="dynamicallyGeneratedStyleSheetHack" runat="server" />
  </head>

  <body id="body" runat="server"> 	                    
    <form method="post" runat="server" id="mainform">
    
      <telerik:RadScriptManager ID="ScriptManager" EnableScriptCombine="true" EnableCdn="true" EnableScriptGlobalization="true" AsyncPostBackTimeout="600" runat="server" />
        
      <asp:UpdatePanel ID="updatePanelTop" runat="server" UpdateMode="Conditional">
        <ContentTemplate>       
            
	      <div id="header" class="header" runat="server">
            <div class="inner">    
              <div class="divHeaderBar">   
                <div class="divHeaderLeft">
                  <CW:Login ID="Login" runat="server" />  
                </div>

                <div class="divHeaderRight"> 
                  <CW:PrimaryNav ID="PrimaryNav" runat="server" />     
                  <CW:PrimaryNavDropdowns ID="PrimaryNavDropdowns" runat="server" />
                </div>
              </div>               
            </div>
          </div>
            
        </ContentTemplate>
      </asp:UpdatePanel>            
          
      <div class="container" runat="server">

        <CW:LeftNavResponsive ID="LeftNavResponsive" runat="server" /> 

        <div class="divSecondaryLogo"></div>

        <asp:UpdatePanel ID="updatePanelMain" runat="server" UpdateMode="Conditional">
          <ContentTemplate>
                                   	                
    	    <div class="content">
        	  <div class="top"></div>

              <div class="middle">              
                <asp:ContentPlaceHolder ID="plcCopy" runat="server"/>                  
                <div style="display: block; clear: both;"></div>  
              </div>
            </div>             	            

          </ContentTemplate>
        </asp:UpdatePanel>   
      </div>
            
      <div class="footer">
        <CW:Footer ID="Footer" runat="server" />
      </div>
        
        <script type="text/javascript">
            //Fixed with AjaxControlToolkit v15.1.2.0
            //MaskedEditor fix for delete and backspace keys. Must loaded last.  
            //(function () {
            //    try {
            //        var p = Sys.Extended.UI.MaskedEditBehavior.prototype, en = p._ExecuteNav;
            //        p._ExecuteNav = function (e) {
            //            var type = e.type;
            //            if (type == 'keydown') { e.type = 'keypress' };
            //            en.apply(this, arguments);
            //            e.type = type;
            //        }
            //    } catch (e) {
            //        return;
            //    }
            //})();
         </script>

    </form>    
  </body>
</html>