﻿
#divAnalysisExplorerWView
{
    div[data-id="divAnalysisTitle"]
    {
        border:1px dotted white;

        &:hover
        {
            border-color:gray;
        }
    }

    ul.SubroutineTreeView
    {
        margin-left:20px;

        >li >ul >li
        {
            >span:nth-child(2)
            {
                border: 1px solid transparent; /* move to iCL.css  */
                width:	200px; /* move to iCL.css  */

                &:hover
                {
                    border:1px dotted gray;
                }
            }

            &.MainSubroutine >span:nth-child(2)
            {
                font-weight: bold;
            }
        }

        ul.AnalysisExplorerToolbar
        {
            >li
            {
				background-image:url("@/resource/image/icons2.gif");

                &[data-image="add"]
                {                    
                    background-position:-618px -115px;
                }

                &[data-image="import"]
                {
                    background-position:-617px -32px;
                }

                &[data-image="run"]
                {
                    background-position:-152px -688px;
                }
            }
        }
    }
}
