﻿
#divAnalysisEquipmentAssociationWView
{
    height: 350px;
    width:  600px;

	>div[data-id="divEquipmentAssociations"]
	{
		border:     1px solid gray;
		height:     150px;
		margin-top: 5px;
		overflow-x:	hidden;
		overflow-y:	scroll;
		padding:    5px;

		img[data-template-id="imgDelete"]
		{
			float:                  left;
			margin-right:           5px;
			margin-top:             2px;
			width:                  16px;

			background-image:       url("@/resource/image/icons.gif");
			background-position:	-104px -71px;
		}

		input[data-template-id="txtEquipmentAlias"]
		{
			width:100px;
		}

		select[data-template-id="cmbEquipmentClass"]
		{
			width:130px;
		}

		select[data-template-id="cmbEquipment"]
		{
			width:120px;
		}

		label[data-template-id="spnNote"]
		{
			font-size:		85%;
			margin-left:    25px;
		}
	}
}
