﻿
div.AnalysisPropertiesView-Body
{
    padding: 3px;

    >div //should be combined w/ -Body //only used for DialogWindowContent
    {        
        >table
        {
            tbody
            {
                tr
                {
                    &:first-child
                    {
                        display: none;
                    }

                    >td
                    {
                        &:nth-child(2)
                        {
                            padding-bottom: 5px;
                            padding-left: 10px;
                        }

                        >input[data-id="txtDescription"]
                        {
                            width: 25em;
                        }

                        >textarea
                        {
                            height: 10em;
                            width: 25em;
                        }
                    }
                }
            }
        }    

        >div
        {
            text-align: right;
        }
    }
}
