﻿
div.EquipmentTreeWView-Body
{
	margin: 3px;

	>div
	{
		height: 100%;

		div[data-id="divTree"]
		{
			height: 100%;
			overflow-y: scroll;
				
			ul[data-id="ulTree"]
			{
				padding-left: 1em;

                li
                {
                    >span:nth-child(2):hover
                    {
                        background-color: #e9e9e9;
                        color: black;
                        margin: 1px;
                    }
                }
			}
		}
	}
}
