﻿
div.ExpressionBuilderView-Body
{
    padding: 3px;

    .ui-accordion .ui-accordion-header a
    {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    div[data-id="divExpressionBuilderView"]
    {
        >div
        {
            &.fieldGroup
            {
                margin-bottom: 0.2em;

                >span.field
                {
                    display: inline-block;
                    text-align: right;
                    width: 10em;
                }

                >input[data-id="txtExpression"]
                {
                    font-size: 1.25em;
                    width: 30em;
                }
            }

            &[data-id="divBody"]
            {
                @height: 300px;

                height: @height;

                >div.leftPane //:nth-child(1)
                {
                    float: left;

                    >div[data-id="divPlotAliases"]
                    {
                        @borderWidth: 1px;
                        @padding: 3px;

                        border: @borderWidth gray solid;
                        height: (@height - (2 * @borderWidth) - (2 * @padding));
                        width: 500px;
                        padding: @padding;
                        overflow: auto;

                        >table[data-id="tblPlotAliases"]
                        {
                            width: 100%; //may not need?
                            td
                            {
                                white-space: nowrap;

                                >span[data-field="color"]
                                {
                                    display: inline-block;
                                    height: 0.75em;
                                    width: 1em;
                                }
                            }
                        }

                        >ul[data-id="ulA"]
                        {
                            height: 200px;

                            li
                            {
                                padding-bottom: 2px;
                                padding-top: 2px;

                                >span
                                {
                                    >input[type="text"]
                                    {
                                        font-size: .9em;
                                    }
                                }
                            }
                        }
                    }
                }

                >div.rightPane //:nth-child(2)
                {
                    float: right;
                    margin-left: 4px;
                    height: 100%;
                    width: 200px;

                    >div[data-id="divTools"]
                    {
                        height: 100%;

                        table[data-id="tblOperators"]
                        {
                            border-collapse: collapse;

                            td
                            {
                                padding: 2px;
                            }
                        }

                        ul[data-id="ulFunctions"]
                        {
                            >li
                            {
                                margin: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
