﻿
ul.FF
{
	>li
    {
        display:	block;
        width:      auto;

		&:hover
		{
			background-color:gray;
		}

		>span:first-child
        {
            display:                inline-block;
            width:                  25px;
            height:                 100%;
	        background-image:       url("@/resource/image/icons.gif");
	        background-position:    -104px -264px;            
            float:                  left;
        }
	}
}
