﻿
div.OpenAnalysisView-Body
{
    padding: 3px;

    div[data-id="divTable"]
    {
        background-position: center; //revise

        height: 200px;
        width: 600px;
        
        font-size: 0.9em;
        
        table
        {
            /*>colgroup
            {
                >col
                {
                    padding: 3px;
                }
            }*/
            
            td
            {
                padding: 3px;

                &:nth-child(1) //use class name here
                {
                    display: none;
                }

                &:nth-child(5) //use class name here
                {
                    display: none;
                }

                &:nth-child(6) //use class name here
                {
                    display: none;
                }
            }

            &.HeatTable
            {
                margin-left: 1px;
            }

            &.BodyTable
            {
                cursor: pointer;
                white-space: nowrap; //WebKit?
                width: 100%;

                tr
                {
                    &:hover
                    {
                        background-color: #f6f3f3;
                    }    

                    &.SelectedRow
                    {
                        background-color: lightblue;
                    }
                }
            }
        }

        >div:nth-child(2) //revise to associate with class name
        {
            border: 1px solid black;
        }
    }
    
    div[data-name="searchBar"]
    {
        margin-top: 5px;
    }
}
