﻿@import (reference) "../UAB.less";

div.VisuDisplayManagerWViewContentWindow
{
    margin: 3px 0;
    //vertical-align: top;

    div.VisuDisplayManagerWView-Body
    {
        ul[data-id='divTabStrip']
        {
            >li
            {
                span
                {
                    display: inline-block;
                    margin-left: 3px;

                    &:nth-child(2)
                    {
                        background-position: -64px -119px;
                        height: 11px;
                        width: 11px;
                    }
                }

                &:not(.selected)
                {
                    span:nth-child(2)
                    {
                        display: none;
                    }
                }
            }
        }

        div[data-name='toolbar']
        {
            @ToolbarHeight: 20px; //would be nice to remove

            display: inline-block; width:100%; //combine into mixin

            box-sizing: border-box;            
            padding-right:5px;
            margin-top: 3px;

            div[data-id='divDateRange']
            {
                >label //revise brittle
                {
                    >span
                    {
                        font-weight: bold;
                    }

                    >input //revise brittle
                    {
                        width: 60px;
                        margin-right: 1px;

                        &::-ms-clear
                        {
                            display: none;
                        }

                        &.InvalidDate
                        {
                            background-color: red;
                            color: white;
                        }

                        &.InvalidDateRange
                        {
                            //border: 1px solid red;
                            background-color: orange;
                            color: white;
                        }
                    }
                }

                img.ui-datepicker-trigger
                {
                    vertical-align: middle;
                    margin-right: 2px;
                }
            }

            ul[data-control-type='ButtonBar']
            {
                &[data-name='drillButtonBar']
                {
                    //margin-left: 15px;
                    float: right;
                }

                &:not(.disabled)
                {
                    >li
                    {
                        &:not(.disabled)
                        {
                            border-radius: 2px;

                            &:hover
                            {
                                background-color: lightcyan;
                                border: 1px solid gray;
                            }

                            &.ToggledOn
                            {
                                &:hover
                                {
                                    background-color: lightgray;
                                }

                                background-color: lightblue;
                            }
                        }
                    }
                }

                >li
                {
                    &[data-control-set*="type:'text'"]
                    {
                        line-height: @ToolbarHeight;
                        margin: 1px 0 1px 0;
                    }

                    &[data-control-set*="type:'divider'"]
                    {
                        height: @ToolbarHeight;
                    }

                    &[data-control-set*="icon:"]
                    {
                        .AnalysisBuilderIconsOriginal;

                        background-image: url('../../image/icons.png');
                    
                        &[data-control-set*="icon:'Properties'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-Notebook1;
                        }

                        &[data-control-set*="icon:'Open'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-FolderOpened1;
                        }

                        &[data-control-set*="icon:'Save'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-Floppy1;
                        }

                        &[data-control-set*="icon:'Table'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-Grid1;
                        }

                        &[data-control-set*="icon:'LineGraph'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-GraphLine1;
                        }

                        &[data-control-set*="icon:'ScatterPlot'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-GraphScatterPlot1;
                        }

                        &[data-control-set*="icon:'AnnotationToggle'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-MessageBubble1;
                        }

                        &[data-control-set*="icon:'PanToggle'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-HandGrab1;
                        }

                        &[data-control-set*="icon:'ExportPDF'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-DocumentPDF1;
                        }

                        &[data-control-set*="icon:'ExportCSV'"]
                        {
                            .AnalysisBuilderIconsOriginal.Icon-DocumentExport1;
                        }
                    }

                    &[data-control-set*='drill']
                    {
                        @radius: 10px 50%;

                        //margin: 0;
                        width: 60px;

                        &[data-control-set*='drillOut']
                        {
                            border-top-left-radius: @radius;
                            border-bottom-left-radius: @radius;
                        }

                        &[data-control-set*='drillIn']
                        {
                            border-top-right-radius: @radius;
                            border-bottom-right-radius: @radius;
                        }
                    }
                }
            }
        }
    }
}

