﻿
.TCellDisplay
{
    display: table-cell;
    width: 100%;
}

.TRowDisplay
{
    display: table-row;
    height: 100%;

    >div
    {
        .TCellDisplay;
    }
}

.TableDisplay
{
    display: table;
    height: 100%;
    width: 100%;

    >div
    {
        .TRowDisplay;
    }
}



div.VisuDisplayWView-Body
{
    @margin: 3px;

    margin: @margin;
    height: calc(100% - @margin - @margin);

    /*padding: 3px;
    box-sizing: border-box;
    height: 100%;*/

    >div[data-id='divVisuDisplayWView']
    {
        height: 100%;

        div[data-id='MainHeightThing'][data-control-type='TII']
        {
            height: 100%;

            div
            {
                &[data-id='divDataViewToggle']
                {
                    box-sizing: border-box;
                    border: transparent 1px solid;
                    
                    position: relative; //hacky? for disable overlay only
                    overflow:hidden;

                    >div.HTMLElementDisabled
                    {
                        &.Loading:before
                        {
                            content: url("../../image/Pik500078.gif");
                            height: 100px;
                            width: 100px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            vertical-align: middle;
                        }
                    }

                    >div[data-view-name]
                    {
                        height: 100%;

                        &.ToggledOff
                        {
                            display: inherit;
                            position: absolute;
                            visibility: hidden;
                        }

                        div[data-name='PointValues']
                        {
                            display: none;
                            position: absolute;
                            opacity: 0.7;
                            border-bottom: 1px solid darkgray;
                            border-left: 1px solid darkgray;
                            padding: 5px;
                            background-color: white;
                            font-weight: bold;
                            pointer-events: none;
                            right: 20px;
                            top: 8px;

                            >div[data-id='divDate']
                            {
                                font-size: 1.1em;
                            }
                        }

                        >div
                        {
                            height: 100%;

                    .annotation //move?
                    {
                        position: absolute;
                        padding: 3px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: transparent;

                        &.hover
                        {
                            background-color: white;
                            border-color: black;
                            border-radius: 5px;
                            z-index: 1;
                        }
                    }
                                                            
                            &[data-name='TableView']
                            {
                                //height: 100%;

                                table
                                {
                                    td:first-child
                                    {
                                        padding-right: 5px;
                                    }

                                    &.HeadTable
                                    {
                                        background-color: lightgray;

                                        td
                                        {
                                            border-bottom: lightgray 5px solid;
                                            font-weight: bold;
                                            padding: 3px;
                                        }
                                    }

                                    &.BodyTable
                                    {
                                        td
                                        {
                                            padding: 3px;
                                            white-space: nowrap;

                                            &:first-child
                                            {
                                                font-size: .8em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &[data-control-t='SLIDER']
                {
                    background-color: darkgray;                  
                    height: 5px;
                    cursor: ns-resize;

                    >div
                    {
                        border: 2px solid white;
                        margin-top: 1px;
                        margin-left: 1px;
                        margin-right: 1px;
                        display:inline-block;
                        position:absolute;

                        border-radius: 2px;

                        &:nth-child(1)
                        {
                            left: 49%;
                        }

                        &:nth-child(2)
                        {
                            left: 50%;
                        }

                        &:nth-child(3)
                        {
                            left: 51%;
                        }
                    }

                    &:hover
                    {
                        background-color: gray;
                    }
                }

                &[data-id='LegendHeightThing'][data-control-type='TII']
                {
                    height: 200px;

                    div
                    {
                        &[data-id='divChartLegend']
                        {
                            border: 1px solid darkgray;
                            overflow-y: scroll;
                            box-sizing: border-box;
                            padding-top: 3px;
                            
                            [data-id='tblPlotsTableView']
                            {
                                border-collapse: collapse; //move to TableView.less
                                width: 100%;
                                
                                &[data-view-mode]
                                {
                                    [data-view]
                                    {
                                        width: 100%;
                                        display: none;
                                    }

                                    &[data-view-mode='Line']
                                    {
                                        [data-view='Line']
                                        {
                                            display: inherit;
                                        }
                                    }

                                    &[data-view-mode='Table']
                                    {
                                        [data-view='Table']
                                        {
                                            display: inherit;
                                        }
                                    }

                                    &[data-view-mode='Scatter']
                                    {
                                        [data-view='Scatter']
                                        {
                                            display: inherit;
                                        }
                                    }
                                }

                                [data-tableview-row]
                                {
                                    //background-color: red;
                                    cursor: pointer;
                                    margin-bottom: 2px;
                                    white-space: nowrap;

                                    &:hover
                                    {
                                        background-color: #deded7;
                                    }

                                    [data-tableview-cell]
                                    {
                                        a.miniColors-trigger
                                        {
                                            border: 1px solid transparent;
                                            vertical-align: middle;
                                            height: 8px;
                                            border-radius: 5px;
                                            margin-right: 0;
                                            border-color:black;

                                            &:hover
                                            {
                                                border: 1px solid black;
                                            }
                                        }

                                        >select
                                        {
                                            font-size: .9em;
                                        }

                                        >img
                                        {
                                            vertical-align: middle; //move to TableView.less
                                        }

                                        >span
                                        {
                                            display: inline-block; //move to TableView.less
                                            font-size: 0.9em;
                                            vertical-align: middle; //move to TableView.less
                                            white-space: nowrap; //move to TableView.less
                                        }

                                        >input
                                        {
                                            margin-right: -0.1em; //??
                                            vertical-align: middle; //move to TableView.less
                                        }

                                        [data-field]
                                        {
                                            &[data-field='icon']
                                            {
                                                width: 1em;
                                            }

                                            &[data-field='plotName']
                                            {
                                                margin-right: 5px;
                                                overflow: hidden;
                                            }

                                            &[data-field='range']
                                            {
                                                font-weight: bold;
                                                margin-right: 5px; //?
                                            }

                                            &[data-field='yAxis']
                                            {
                                                width: 4em;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &:last-child 
                        {
                            display: none;
                            margin-top: 5px;

                            >input[type='button']:last-child
                            {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}