﻿
<div id="divAnalysisExplorerWView" class="DialogWindowContent">
	<ul data-id="buttonBar" data-control-type="ButtonBar" class="AnalysisExplorerToolbar">
		<li data-name="add" data-image="-" title="Create subroutine"></li>
		<li data-name="import" data-image="-" title="Import subroutine"></li>
		<li data-name="run" data-image="-" title="Import subroutine"></li>
	</ul>
	<hr style="" />
	<div data-id="divAnalysisTitle"></div>
	<ul data-id="tv" data-control-type="TreeView" class="SubroutineTreeView">
		<li data-id="subroutines" data-expanded="true">
			<span></span>
			<span>Subroutines</span>
		</li>
	</ul>
	<ul data-id="pmAnalysis" class="PopupMenu">
		<li>Properties</li>
		<li>Equipment Association</li>
		<li>Run</li>
	</ul>
	<ul data-id="cm" class="PopupMenu">
		<li>View</li>
		<li>Properties</li>
		<li>Remove</li>
		<li>Set As Main</li>
	</ul>
</div>
