﻿
<div id="divAnalysisPropsView" class="DialogWindowContent">

	<ul data-control-type="TabStrip">
		<li data-tabElement="tblTab1">General</li>
		<li data-tabElement="divTab2">Variables</li>
	</ul>
	<div class="TabBody">
		<table data-id="tblTab1" class="formTable">
			<tr>
				<td>Name:</td>
				<td>
					<input type="text" data-id="txtName" />
				</td>
			</tr>
			<tr>
				<td>User Variables:</td>
				<td class="UserVariables">
					<select data-id="cmbVariables" multiple="multiple"></select>
					<input type="button" data-id="btnRemove" value="Remove" />
					<br />
					<table>
						<tr>
							<td>Name:</td>
							<td>
								<input type="text" data-id="txtVariableName" />
							</td>
						</tr>
						<!--
						<tr>
							<td>Type:</td>
							<td>
								<input type="radio" name="optType" />
								<span>String</span>
								<br />
								<input type="radio" name="optType" />
								<span>Number</span>
							</td>
						</tr>
						-->
						<tr>
							<td>Value:</td>
							<td>
								<input type="text" data-id="txtVariableValue" />
							</td>
						</tr>
					</table>
					<input type="button" data-id="btnAdd" value="Add" />
				</td>
			</tr>
		</table>
		<div data-id="divTab2"></div>
	</div>
	<hr />
	<input type="button" data-id="btnApply" data-event-click="saveProps" value="Apply" />
	<input type="button" data-window-hide="true" value="Cancel" />
</div>
