﻿
<div id="divAnalysisEquipmentAssociationWView" class="DialogWindowContent">
	<span>Profiles:</span>
	<select data-id="cmbProfiles" data-event-change="."></select>
	<input type="button" data-id="btnCreateProfile" data-event-click="." value="Create Profile" />
	<input type="button" data-id="btnDeleteProfile" data-event-click="." value="Delete Profile" />
	<div data-id="divEquipmentAssociations" data-control-type="Repeater">

		<div style="vertical-align:bottom;">
			<img data-template-id="imgDelete" src="resource/image/spacer.gif" />
			<input type="hidden" data-template-id="hdnAssociationId" />
			<span>Alias:</span>
			<input data-template-id="txtEquipmentAlias" type="text" />

			<span>Class:</span>
			<select data-template-id="cmbEquipmentClass"></select>

			<span>Equipment:</span>
			<select data-template-id="cmbEquipment"></select>
		</div>
		<span data-template-id="spnNote"></span>
		<hr />

	</div>
	<input type="button" data-id="btnCreateAssociation" data-event-click="." value="Create Association" />
</div>