﻿
<div id="divAnalysisPropertiesView" class="DialogWindowContent">
	<table>
		<tr>
			<td>Id:</td>
			<td data-id="tdId"></td>
		</tr>
		<tr>
			<td>Name:</td>
			<td>
				<input type="text" data-id="txtName" maxlength="50" />
				<span data-id="spnIsSaved"></span>
			</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td>
				<input type="text" data-id="txtDescription" maxlength="100" />
			</td>
		</tr>
		<tr>
			<td>Created:</td>
			<td data-id="tdCreated"></td>
		</tr>
		<tr>
			<td>Modified:</td>
			<td data-id="tdModified"></td>
		</tr>
		<tr>
			<td>Shared Read:</td>
			<td>
				<input data-id="chkSharedRead" type="checkbox" data-event-click="." value="read" />
			</td>
		</tr>
		<tr>
			<td>Shared Write:</td>
			<td>
				<input data-id="chkSharedWrite" type="checkbox" disabled="true" />
			</td>
		</tr>
		<tr>
			<td>Notes:</td>
			<td>
				<textarea data-id="txaNotes" maxlength="255"></textarea>
			</td>
		</tr>
	</table>
	<hr />
	<div>
		<input type="button" data-id="btnApply" data-event-click="." value="Apply" />
		<input type="button" data-id="btnClose" data-event-click="." value="Close" />
	</div>
</div>