﻿
<div id="divEquipmentTreeWView" class="DialogWindowContent">
	
	<!--
	<div style="background-color:lightgray; height:2px; width:100%;"></div>
	<div style="float:right; background-color:lightgray; width:18px; height:4px;"></div>
	<div style="clear:both;"></div>
	-->
	<div data-id="divTree">
		<div>Buildings</div>
		<ul data-id="ulTree" data-control-type="TreeView" data-control-set="useDefaultIcons:true"></ul>
	</div>
</div>
