﻿
<div data-id="divExpressionBuilderView" class="DialogWindowContent">
	<div class="fieldGroup">
		<span class="field">Name:</span>
		<input data-id="txtTitle" type="text" maxlength="25" />
	</div>
	<div class="fieldGroup">
		<span class="field">Expression:</span>
		<input data-id="txtExpression" type="text" />
	</div>
	<div class="fieldGroup" style="display:none;">
		<span class="field"></span>
		<input data-id="chkRepositorySave" type="checkbox" />
		<span>Save to repository</span>
	</div>
	<div>Points</div>
	<div data-id="divBody">		
		<div class="leftPane">			
			<ul data-control-type="ButtonBar" data-control-set="onButtonClick:'_b_click'" style="display:none;">
				<li>List View</li>
				<li>Tree View</li>
			</ul>
			<div data-id="divPlotAliases" data-control-type="ViewToggle" data-control-set="viewIndex:0">

                <table data-id="tblPlotAliases" data-control-type="TableView" data-view-name="Line">
                    <tbody>
                        <tr data-template-row="true">
                            <td>
                                <input data-field="id" type="hidden" />
                                <span data-field="color"></span>
                                <span data-field="name"></span>
                            </td>
                            <td>
                                <input data-field="alias" type="text" />
                            </td>
                        </tr>
                    </tbody>
                </table>
				<ul data-id="ulA" data-control-type="TreeView" data-control-set="useDefaultIcons:true"></ul>
			</div>
		</div>
		<div class="rightPane">
			<div data-id="divTools" data-control-type="Accordion">
				<div class="accordionHeader">Operators</div>
				<div>
					<table data-id="tblOperators">
						<tr>
							<td>Basic:</td>
							<td>+ - * / %</td>
						</tr>
						<tr>
							<td>Logic:</td>
							<td>& |</td>
						</tr>
						<tr>
							<td>Conditional:</td>
							<td>= < ></td>
						</tr>
						<tr>
							<td>Grouping:</td>
							<td>( )</td>
						</tr>
					</table>
				</div>
				<div class="accordionHeader">Math</div>
				<div>
					<ul data-id="ulMath" data-control-type="ButtonBar" data-control-set="vertical:true"></ul>
				</div>
				<div class="accordionHeader">Logic</div>
				<div>
					<ul data-id="ulConditional" data-control-type="ButtonBar" data-control-set="vertical:true"></ul>
				</div>
				<!--
				<div class="accordionHeader">Constants</div>
				<div>
					<ul data-control-type="ButtonBar" data-control-horizontal="true">
						<li>PI</li>
						<li>g (Gravity)</li>
					</ul>
				</div>
				-->
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div>
		<hr />
		<input type="button" data-id="btnSave" data-event-click="." value="Save" />
		<input type="button" data-id="btnCancel" data-event-click="." value="Cancel" />
	</div>
</div>