﻿
<div id="divFunctionBoxWView" class="DialogWindowContent">
	<div data-id="accordion" data-control-type="UA.views.controls.FunctionsAccordion" style="height:100%;"></div>
	<ul data-template="FunctionsButtonBar" data-control-type="ButtonBar" class="FF"></ul>
</div>
