﻿<div id="divImportSubroutineView" class="DialogWindowContent">
	<div>Narrow down by analysis and choose from available subroutines.</div>
	<div style="height:10px;"></div>
	<table class="formTable">
		<tr>
			<td>Analysis:</td>
			<td>
				<select data-id="cmbAnalysis" data-event-change="."></select>
				<img data-id="imgLoadingAnalysis" class="ajaxLoadA" src="resource/image/spacer.gif" />
			</td>
		</tr>
		<tr>
			<td>Subroutines:</td>
			<td>
				<select data-id="cmbSubroutines" multiple="multiple"></select>
				<img data-id="imgLoadingSubroutines" class="ajaxLoadA" src="resource/image/spacer.gif" />
			</td>
		</tr>
	</table>
	<hr />
	<input type="button" data-id="btnImport" data-event-click="." value="Import" />
	<input type="button" data-window-close="true" value="Close" />
</div>
