﻿
<div id="divOpenAnalysisView" class="DialogWindowContent">
	<div class="ajaxLoad-Pik500078" data-id="divTable" data-control-type="Table" data-control-set="selectedRowClass:'SelectedRow', rowDoubleClick:'_btnOpen_click', _setAllRowWidths:true"></div>
	<div data-name="searchBar">
		<div style="float:left; line-height:25px;">
			<span>Search:</span>
			<input type="text" data-id="txtFilter" data-event-keyup="." />
			<span>Found:</span>
			<span data-id="spnFound"></span>
			<span style="margin-left:0.5em;">(Viewing:</span>
			<span data-id="spnViewing"></span><span>)</span>
		</div>
		<div style="float:right; line-height:25px;">
			<input type="checkbox" data-id="chkAllUsers" checked="checked" data-event-click="." />
			<span>Show All Users</span>
		</div>
		<div style="clear:both;"></div>
	</div>
	<hr />
	<div style="text-align:right; width:100%;">
		<input type="button" value="Open" data-id="btnOpen" data-event-click="." />
		<input type="button" value="Cancel" data-id="btnCancel" data-event-click="." />
	</div>
</div>
