﻿
<div id="divOutputWView" class="DialogWindowContent">
	<ul data-name="toolbar" data-control-type="ButtonBar" class="Toolbar">
		<li data-name="clear" data-image="-" title="Clear output"></li>
	</ul>
	<textarea data-id="txaOutput" readonly="readonly"></textarea>
</div>
