﻿
<div id="divSubroutinePropsWView" class="DialogWindowContent">
	<div style="width:400px; height:300px;">
		<ul data-control-type="TabStrip">
			<li data-tabElement="tblTab1">General</li>
			<li data-tabElement="divTab2">Equipment</li>
		</ul>
		<table data-id="tblTab1">
			<tr>
				<td>Name:</td>
				<td>
					<input data-id="txtName" type="text" />
				</td>
			</tr>
			<tr>
				<td>Input Unit:</td>
				<td>
					<select data-id="cmbInputUnit"></select>
				</td>
			</tr>
			<tr>
				<td>Output Unit:</td>
				<td>
					<select data-id="cmbOutputUnit"></select>
				</td>
			</tr>
		</table>
		<div data-id="divTab2">
			<select data-id="lstEquipment" multiple="multiple"></select>
			<input type="button" data-id="btnRemoveEquipAlias" value="Remove" />
			<table class="formTable">
				<tr>
					<td>Alias:</td>
					<td>
						<input type="text" data-id="txtEquipAlias" data-validation="[a-zA-Z]+" data-validation-fail="Please enter a valid alias for the equipment." />
					</td>
				</tr>
				<tr>
					<td>Class:</td>
					<td>
						<select data-id="cmbEquipClass" data-validation="^[1-9][0-9]*$" data-validation-fail="Please select an equipment class."></select>
					</td>
				</tr>
			</table>
			<input type="button" data-id="btnAddEquipAlias" value="Add" />
		</div>
	</div>
	<hr />
	<input type="button" data-id="btnApply" data-event-click="." value="Apply" />
	<input type="button" data-window-hide="true" value="Close" />
</div>