﻿
<div id="divSubroutineEditorWView" class="DialogWindowContent">
	<table data-id="tblSlots">
		<tr>
			<td data-template="slot" data-XXX="sadfdff" style="background-color:gray; width:20px; border:1px solid black;">.</td>
		</tr>
	</table>
	<input data-id="txtDefinition" type="text" style="width:400px;" />
</div>
