﻿
<div data-id="divVisuDisplayWView" class="DialogWindowContent">
	<div data-id="MainHeightThing" data-control-type="TII">	
		<div data-id="divDataViewToggle" data-control-type="ViewToggle" data-control-set="viewIndex:0" data-allow-contextmenu="true" class="TII">
			<div data-view-name="Line">
				<div></div>
			</div>
			<div data-view-name="Table">
				<div data-name="TableView" data-control-type="Table" class="FullWidth"></div>
			</div>
			<div data-view-name="Scatter">
				<div></div>
			</div>
			<div data-id="divLabels"></div>
		</div>

		<div data-control-t="SLIDER">
			<div></div><div></div><div></div>
		</div>

		<div data-id="LegendHeightThing" data-control-type="TII">
			<div data-id="divChartLegend" class="TII">
				<table data-id="tblPlotsTableView" data-control-type="TableView" data-view-mode="Line">
					<tr data-template-row="true" data-template="row?">
						<td>
							<span data-field="plotId" style="display:none;" data-field-type="Number"></span><!--REPLACE WITH HIDDEN FIELD-->
							<img data-field="delete" class="AnalysisBuilderIconsOriginal Icon-04x02" src="resource/image/spacer.gif" />
							<span data-field="icon"></span>
							<input type="checkbox" data-field="shown" checked="checked" />
							<span>Visible</span>
							<input type="hidden" data-field="color" />
							<span data-field="plotName"></span>
						</td>
						<td>
							<a href="javascript:" data-field="editExpression">edit</a>
							<span>Range:</span>
							<span data-field="range" data-format="{0/date:short} - {1/date:short}"></span>							
							<span>Y-Axis:</span>
							<select data-field="yAxis">
								<option value="1L">1</option>
								<option value="2L">2</option>
								<option value="3L">3</option>
								<option value="4L">4</option>
								<option value="5L">5</option>
							</select>
						</td>
						<td data-view="Line">
							<input type="checkbox" data-field="fill" />
							<span>Fill</span>
						</td>
						<td data-view="Scatter">
							<input type="radio" data-field="isXAxis" />
							<span>X-Axis</span>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<input type="button" data-id="btnLoadChart" value="Load Chart" />
				<input type="button" data-id="btnCreateExpr" value="Create Expression" />
			</div>

		</div>
	</div>


</div>		
