﻿
<div id="divVisuDisplayManagerWView" class="DialogWindowContent">
	
	<ul data-id="divTabStrip" data-control-type="TabStrip" data-control-set="tabSelected:'_tabStrip_tabSelected'">
		<li data-template="true" />
		<li data-control-set="name:'NewView'">+</li>
	</ul>
	
	<div data-name="toolbar">
		<!--
		<span style="margin-right:2em; display:none;">
			<span>Type:</span>
			<select data-id="cmbChartType" data-event-change=".">
				<option value="0">By Date</option>
				<option value="1">By Month</option>
				<option value="2">By Week</option>
				<option value="3">By Day</option>
			</select>
		</span>
		-->
		<!--
		<span style="display:none;">
			<span>Tab Title:</span>
			<input data-id="txtTitle" data-event-keyUp="." type="text" maxlength="25" />
			<button type="button" data-id="btnRemoveTab" data-event-click=".">Remove</button>
		</span>
		-->


        <ul data-name="visuButtonBar" data-control-type="ButtonBar" data-control-set="onButtonClick:'_toolBarClick'">
			<li data-control-set="command:'props', icon:'Properties'" title="View Properties">
			<li data-control-set="command:'open', icon:'Open'" title="Open">
			<li data-control-set="command:'save', icon:'Save'" title="Save">
			<li data-control-set="type:'divider'">
        </ul>
        <ul data-name="visuAuxButtonBar" data-control-type="ButtonBar" data-control-set="onButtonClick:'_toolBarClick'">
			<li data-control-set="command:'viewLine', type:'group', icon:'LineGraph', group:'view'" title="Line Chart" class="ToggledOn">
            <li data-control-set="command:'viewTable', type:'group', icon:'Table', group:'view'" title="Table View">
            <li data-control-set="command:'viewScatter', type:'group', icon:'ScatterPlot', group:'view'" title="Scatter Plot">
			<li data-control-set="type:'divider'">
            <li data-control-set="icon:'AnnotationToggle', type:'toggle', commandOn:'AnnotationsOn', commandOff:'AnnotationsOff'" data-title="{0} Annotations" title="Annotations">
            <li data-control-set="icon:'PanToggle', type:'toggle', commandOn:'PanOn', commandOff:'PanOff'" data-title="{0} Panning" title="Panning">
            <li data-control-set="type:'divider'">
        </ul>
		<div data-name="ExportVT" data-control-type="ViewToggle" data-control-set="viewIndex:0" style="display:inline-block; vertical-align:top;">
			<div data-view-name="Line">
				<ul data-name="lineExportButtonBar" data-control-type="ButtonBar" data-control-set="onButtonClick:'_toolBarClick'">
					<li title="Export" data-control-set="command:'exportPDF', icon:'ExportPDF'">
					<li data-control-set="type:'divider'" />
				</ul>
			</div>
			<div data-view-name="Table">
				<ul data-name="tableExportButtonBar" data-control-type="ButtonBar" data-control-set="onButtonClick:'_toolBarClick'">
					<li title="Export" data-control-set="command:'exportCSV', icon:'ExportCSV'">
					<li data-control-set="type:'divider'" />
				</ul>
			</div>
			<div data-view-name="Scatter">
				<ul data-name="scatterExportButtonBar" data-control-type="ButtonBar" data-control-set="onButtonClick:'_toolBarClick'">
					<li title="Export" data-control-set="command:'exportPDF', icon:'ExportPDF'">
					<li data-control-set="type:'divider'" />
				</ul>
			</div>
		</div>
        <ul data-control-type="ButtonBar" data-control-set="onButtonClick:'_toolBarClick'" style="">
			<li data-control-set="type:'text', command:'createExpr'">Create Expression            
		</ul>
		<div style="display:inline-block; margin-top:3px; margin-left:10px;">
			<div style="display: table-cell;" data-id="divDateRange">
				<label>
					<span>Start:</span>
					<input type="text" />
				</label>
				
				<label>
					<span>End:</span>
					<input type="text" />
				</label>
			</div>
		</div>
		<ul data-name="drillButtonBar" data-control-type="ButtonBar" data-control-set="onButtonClick:'_toolBarClick'">
			<li data-control-set="type:'text', command:'drillOut'">&#60; Drill Out
			<li data-control-set="type:'text', command:'drillIn'">Drill In &#62;
		</ul>
	</div>
</div>